In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

/usr/local/lib/python3.7/site-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

## 1. BASIC INDICATORS

In [2]:
bi_1 = pd.read_excel('IAC_5_Dataset.xlsx', sheet_name='Basic Indicators', skiprows=2,\
                     skipfooter=39,header =[1, 2])
bi_1.drop(bi_1.columns[[0,15,17,18,19,20,21,22,23]], axis=1, inplace = True) # drop the columns
bi_1.drop(bi_1.index[0],inplace=True) # drop the first row
bi_1.head(10)

    Countries and areas Under–5 mortality rank Under–5 mortality rate        \
     Unnamed: 1_level_1     Unnamed: 2_level_1                    1990 2016
1           Afghanistan                     25                     177   70
2               Albania                    114                      40   14
3               Algeria                     78                      49   25
4               Andorra                    179                       9    3
5                Angola                     17                     221   83
6              Anguilla                      –                       –    –
7   Antigua and Barbuda                    133                      26    9
8             Argentina                    126                      29   11
9               Armenia                    118                      50   13
10            Australia                    164                       9    4

   Under–5 mortality rate by sex\n2016        Infant mortality rate (under 1)  \
                                  male female                            1990
1                                   74     66                             120
2                                   15     12                              35
3                                   27     24                              41
4                                    3      3                               7
5                                   88     76                             131
6                                    –      –                               –
7                                    9      8                              25
8                                   12     10                              26
9                                   15     12                              42
10                                   4      3                               8

        Neonatal  mortality rate Total population (thousands)  \
   2016                     2016                         2016
1    53                       40                    34656.032
2    12                        6                     2926.348
3    22                       16                    40606.052
4     2                        1                       77.281
5    55                       29                    28813.463
6     –                        –                       14.764
7     5                        4                      100.963
8    10                        6                    43847.430
9    12                        7                     2924.816
10    3                        2                    24125.848

   Annual number of births (thousands)  \
                                  2016
1                              1142.96
2                                34.75
3                              949.277
4                                    –
5                              1180.97
6                                    –
7                                1.636
8                              753.646
9                               40.158
10                             310.703

   Annual number of under–5 deaths (thousands)  \
                                          2016
1                                           80
2                                            0
3                                           24
4                                            0
5                                           96
6                                            –
7                                            0
8                                            8
9                                            1
10                                           1

   Life expectancy at birth (years) Total adult literacy rate          (%)  \
                               2016                             2011−2016*
1                            63.673                                31.7411
2                            78.345                                 97.247
3                            76.078                                 75.136
4                                 –                                    100
5                            61.547                                66.0301
6                                 –                                      –
7                            76.364                                  98.95
8                            76.577                                  98.09
9                            74.618                                99.7444
10                           82.896                                      –

   Primary school net enrolment ratio                    (%)
                                                  2011−2016*
1                                                   –
2                                             95.5173
3                                             97.0622
4                                                   –
5                                             84.0123
6                                                   –
7                                             87.0461
8                                             99.3468
9                                             96.0743
10                                            97.0328

In [3]:
bi_1.tail()

                    Countries and areas Under–5 mortality rank  \
                     Unnamed: 1_level_1     Unnamed: 2_level_1
198  Venezuela (Bolivarian Republic of)                    100
199                            Viet Nam                     82
200                               Yemen                     38
201                              Zambia                     33
202                            Zimbabwe                     37

    Under–5 mortality rate       Under–5 mortality rate by sex\n2016         \
                       1990 2016                                male female
198                      30   16                                  18     15
199                      51   22                                  25     18
200                     126   55                                  59     51
201                     182   63                                  68     58
202                      75   56                                  62     51

    Infant mortality rate (under 1)      Neonatal  mortality rate  \
                               1990 2016                     2016
198                              25   14                       10
199                              37   17                       12
200                              88   43                       27
201                             110   44                       23
202                              50   40                       23

    Total population (thousands) Annual number of births (thousands)  \
                            2016                                2016
198                    31568.179                             602.103
199                    94569.072                             1581.76
200                    27584.213                             867.303
201                    16591.390                             620.261
202                    16150.362                              535.37

    Annual number of under–5 deaths (thousands)  \
                                           2016
198                                          10
199                                          34
200                                          48
201                                          39
202                                          30

    Life expectancy at birth (years) Total adult literacy rate          (%)  \
                                2016                             2011−2016*
198                           74.545                                97.1271
199                           76.253                                93.5204
200                           64.953                                      –
201                           61.874                                83.0077
202                           61.163                                88.6934

    Primary school net enrolment ratio                    (%)
                                                   2011−2016*
198                                            89.8568
199                                            97.9651
200                                            84.8373
201                                            87.4041
202                                            85.8624

### Summary Table

In [4]:
bi_1_sum = pd.read_excel('IAC_5_Dataset.xlsx', sheet_name='Basic Indicators', skiprows=2,\
                     skipfooter=24,header =[1, 2])
bi_1_sum.drop(bi_1_sum.columns[[0,15,17,18,19,20,21,22,23]], axis=1, inplace = True) # drop the columns
bi_1_sum.drop(bi_1_sum.index[0:205],inplace=True) # drop the first row
bi_1_sum.replace(['–','x'], np.nan, inplace=True)
print(bi_1_sum.shape)
bi_1_sum.head(13)

(13, 15)

                 Countries and areas Under–5 mortality rank  \
                  Unnamed: 1_level_1     Unnamed: 2_level_1
205            East Asia and Pacific                    NaN
206          Europe and Central Asia                    NaN
207  Eastern Europe and Central Asia                    NaN
208                   Western Europe                    NaN
209      Latin America and Caribbean                    NaN
210     Middle East and North Africa                    NaN
211                    North America                    NaN
212                       South Asia                    NaN
213               Sub-Saharan Africa                    NaN
214      Eastern and Southern Africa                    NaN
215          West and Central Africa                    NaN
216        Least developed countries                    NaN
217                            World                    NaN

    Under–5 mortality rate       Under–5 mortality rate by sex\n2016         \
                       1990 2016                                male female
205                      57   16                                  18     15
206                      31   10                                  11      9
207                      47   14                                  16     13
208                      11    4                                   4      4
209                      55   18                                  19     16
210                      66   24                                  26     22
211                      11    6                                   7      6
212                     129   48                                  48     48
213                     181   78                                  84     73
214                     164   61                                  66     56
215                     199   95                                 101     89
216                     176   68                                  73     63
217                      93   41                                  43     39

    Infant mortality rate (under 1)      Neonatal  mortality rate  \
                               1990 2016                     2016
205                              43   14                      8.3
206                              25    8                      5.1
207                              38   13                      7.4
208                               9    3                      2.3
209                              44   15                      9.2
210                              50   20                     13.6
211                               9    6                      3.7
212                              92   39                     28.2
213                             108   53                     27.7
214                             101   43                     24.5
215                             116   63                     30.8
216                             109   48                     26.4
217                              65   31                     18.6

    Total population (thousands) Annual number of births (thousands)  \
                            2016                                2016
205                  2291491.742                           31392.680
206                   908161.263                           11086.639
207                   416914.481                            6138.993
208                   491246.782                            4947.646
209                   633772.608                           10748.931
210                   435225.309                            9952.537
211                   358469.427                            4389.252
212                  1765989.206                           35853.251
213                  1034153.286                           37038.481
214                   542206.229                           18203.015
215                   491947.057                           18835.466
216                   979387.925                           31163.131
217                  7427262.841                          140461.771

    Annual number of under–5 deaths (thousands)  \
                                           2016
205                                         510
206                                         107
207                                          88
208                                          19
209                                         187
210                                         237
211                                          28
212                                        1713
213                                        2860
214                                        1104
215                                        1756
216                                        2101
217                                        5642

    Life expectancy at birth (years) Total adult literacy rate          (%)  \
                                2016                             2011−2016*
205                        75.323223                                    NaN
206                        77.350040                                    NaN
207                        72.657887                              98.112283
208                        81.333726                                    NaN
209                        75.515728                              93.548580
210                        73.501464                              77.718463
211                        79.693884                                    NaN
212                        68.709027                              67.639485
213                        60.397027                              65.458807
214                        63.363894                              75.213053
215                        57.127054                                    NaN
216                        64.445198                              62.990648
217                        72.040433                              78.408791

    Primary school net enrolment ratio                    (%)
                                                   2011−2016*
205                                          93.757241
206                                          96.493693
207                                          94.391524
208                                          98.264592
209                                          93.191010
210                                          94.035167
211                                          94.234795
212                                          89.800204
213                                          80.206896
214                                          81.612602
215                                                NaN
216                                          80.669832
217                                          90.000000

In [5]:
bi_1.shape

(202, 15)

In [6]:
bi_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 202 entries, 1 to 202
Data columns (total 15 columns):
 #   Column                                                                   Non-Null Count  Dtype
---  ------                                                                   --------------  -----
 0   (Countries and areas, Unnamed: 1_level_1)                                202 non-null    object
 1   (Under–5 mortality rank, Unnamed: 2_level_1)                             202 non-null    object
 2   (Under–5 mortality rate , 1990)                                          202 non-null    object
 3   (Under–5 mortality rate , 2016)                                          202 non-null    object
 4   (Under–5 mortality rate by sex
2016, male)                               202 non-null    object
 5   (Under–5 mortality rate by sex
2016, female)                             202 non-null    object
 6   (Infant mortality rate (under 1), 1990)                                  202 non-null    object
 7   (Infant mortality rate (under 1), 2016)                                  202 non-null    object
 8   (Neonatal  mortality rate, 2016)                                         202 non-null    object
 9   (Total population (thousands), 2016)                                     202 non-null    float64
 10  (Annual number of births (thousands), 2016)                              202 non-null    object
 11  (Annual number of under–5 deaths (thousands), 2016)                      202 non-null    object
 12  (Life expectancy at birth (years), 2016)                                 202 non-null    object
 13  (Total adult literacy rate          (%), 2011−2016*)                     202 non-null    object
 14  (Primary school net enrolment ratio                    (%), 2011−2016*)  202 non-null    object
dtypes: float64(1), object(14)
memory usage: 25.2+ KB

In [7]:
bi_1.describe()

      Total population (thousands)
                              2016
count                 2.020000e+02
mean                  3.676863e+04
std                   1.402573e+05
min                   8.010000e-01
25%                   1.320106e+03
50%                   7.501282e+03
75%                   2.525010e+04
max                   1.403500e+06

In [8]:
bi_1.describe(include="O")

       Countries and areas Under–5 mortality rank Under–5 mortality rate   \
        Unnamed: 1_level_1     Unnamed: 2_level_1                    1990
count                  202                    202                     202
unique                 202                     77                     111
top               Honduras                    164                       9
freq                     1                     15                      10

            Under–5 mortality rate by sex\n2016         \
       2016                                male female
count   202                                 202    202
unique   77                                  74     73
top       4                                   4      3
freq     15                                  18     18

       Infant mortality rate (under 1)      Neonatal  mortality rate  \
                                  1990 2016                     2016
count                              202  202                      202
unique                              96   61                       42
top                                  7    3                        2
freq                                10   17                       21

       Annual number of births (thousands)  \
                                      2016
count                                  202
unique                                 185
top                                      –
freq                                    18

       Annual number of under–5 deaths (thousands)  \
                                              2016
count                                          202
unique                                          56
top                                              0
freq                                            65

       Life expectancy at birth (years)  \
                                   2016
count                               202
unique                              185
top                                   –
freq                                 18

       Total adult literacy rate          (%)  \
                                   2011−2016*
count                                     202
unique                                    146
top                                         –
freq                                       57

       Primary school net enrolment ratio                    (%)
                                                      2011−2016*
count                                                 202
unique                                                182
top                                                     –
freq                                                   21

In [9]:
bi_1.isin(['–']).any()

Countries and areas                                        Unnamed: 1_level_1    False
Under–5 mortality rank                                     Unnamed: 2_level_1     True
Under–5 mortality rate                                     1990                   True
                                                           2016                   True
Under–5 mortality rate by sex\n2016                        male                   True
                                                           female                 True
Infant mortality rate (under 1)                            1990                   True
                                                           2016                   True
Neonatal  mortality rate                                   2016                   True
Total population (thousands)                               2016                  False
Annual number of births (thousands)                        2016                   True
Annual number of under–5 deaths (thousands)                2016                   True
Life expectancy at birth (years)                           2016                   True
Total adult literacy rate          (%)                     2011−2016*             True
Primary school net enrolment ratio                    (%)  2011−2016*             True
dtype: bool

In [10]:
bi_1.replace(['–','x'], np.nan, inplace=True)

In [11]:
# Create summary table
nan_df = pd.DataFrame(columns=['Table_num','Table_name','Column_name','Column_loc','Missing_Value'])

In [12]:
for colname in bi_1.columns:
    print('Missing value count of {} : {}'.format(colname, bi_1[colname].isnull().sum()))
    
    # append to summary table
    to_append = ['1','BASIC INDICATORS', colname, bi_1.columns.get_loc(colname), bi_1[colname].isnull().sum()]
    nan_df_length = len(nan_df)
    nan_df.loc[nan_df_length] = to_append

Missing value count of ('Countries and areas', 'Unnamed: 1_level_1') : 0
Missing value count of ('Under–5 mortality rank', 'Unnamed: 2_level_1') : 7
Missing value count of ('Under–5 mortality rate ', 1990) : 7
Missing value count of ('Under–5 mortality rate ', 2016) : 7
Missing value count of ('Under–5 mortality rate by sex\n2016', 'male') : 7
Missing value count of ('Under–5 mortality rate by sex\n2016', 'female') : 7
Missing value count of ('Infant mortality rate (under 1)', 1990) : 7
Missing value count of ('Infant mortality rate (under 1)', 2016) : 7
Missing value count of ('Neonatal  mortality rate', 2016) : 7
Missing value count of ('Total population (thousands)', 2016) : 0
Missing value count of ('Annual number of births (thousands)', 2016) : 18
Missing value count of ('Annual number of under–5 deaths (thousands)', 2016) : 7
Missing value count of ('Life expectancy at birth (years)', 2016) : 18
Missing value count of ('Total adult literacy rate          (%)', '2011−2016*') : 57
Missing value count of ('Primary school net enrolment ratio                    (%)', '2011−2016*') : 21

In [13]:
nan_df

,Table_num,Table_name,Column_name,Column_loc,Missing_Value
0,1,BASIC INDICATORS,"(Countries and areas, Unnamed: 1_level_1)",0,0
1,1,BASIC INDICATORS,"(Under–5 mortality rank, Unnamed: 2_level_1)",1,7
2,1,BASIC INDICATORS,"(Under–5 mortality rate , 1990)",2,7
3,1,BASIC INDICATORS,"(Under–5 mortality rate , 2016)",3,7
4,1,BASIC INDICATORS,"(Under–5 mortality rate by sex\n2016, male)",4,7
5,1,BASIC INDICATORS,"(Under–5 mortality rate by sex\n2016, female)",5,7
6,1,BASIC INDICATORS,"(Infant mortality rate (under 1), 1990)",6,7
7,1,BASIC INDICATORS,"(Infant mortality rate (under 1), 2016)",7,7
8,1,BASIC INDICATORS,"(Neonatal mortality rate, 2016)",8,7
9,1,BASIC INDICATORS,"(Total population (thousands), 2016)",9,0
10,1,BASIC INDICATORS,"(Annual number of births (thousands), 2016)",10,18
11,1,BASIC INDICATORS,"(Annual number of under–5 deaths (thousands), ...",11,7
12,1,BASIC INDICATORS,"(Life expectancy at birth (years), 2016)",12,18
13,1,BASIC INDICATORS,"(Total adult literacy rate (%), 2011−...",13,57
14,1,BASIC INDICATORS,(Primary school net enrolment ratio ...,14,21

## 2. NUTRITION

In [14]:
nut_2 = pd.read_excel('IAC_5_Dataset.xlsx', sheet_name='Nutrition', skiprows=2,\
                     skipfooter=57,header =[1,2])
nut_2.drop(nut_2.columns[[0,3,5,7,9,11,13,15,17,19,21,23,25]], axis=1, inplace = True) # drop the columns
nut_2.drop(nut_2.index[[0,1]],inplace=True) # drop the first row
nut_2.replace(['–','x'], np.nan, inplace=True)
nut_2.head()

  Countries and areas Low birthweight     (%) U  \
   Unnamed: 1_level_1        Unnamed: 2_level_1
2         Afghanistan                       NaN
3             Albania                       NaN
4             Algeria                       6.0
5             Andorra                       NaN
6              Angola                      12.0

  Early initiation of breastfeeding (%)  \
                     Unnamed: 4_level_1
2                                  40.9
3                                  42.9
4                                  35.7
5                                   NaN
6                                  48.3

  Exclusive breastfeeding\n<6 months                           (%)  \
                                                Unnamed: 6_level_1
2                                               43.3
3                                               38.6
4                                               25.7
5                                                NaN
6                                               37.5

  Introduction to solid, semi-solid or soft foods 6-8 months                (%)  \
                                                             Unnamed: 8_level_1
2                                          61.000000
3                                          78.278804
4                                          28.200000
5                                                NaN
6                                                NaN

  Minimum acceptable diet 6-23 months           (%)  \
                                Unnamed: 10_level_1
2                                              15.5
3                                               NaN
4                                               NaN
5                                               NaN
6                                              13.3

  Breastfeeding at age 2 (%)       Stunting (%)     Overweight (%)  \
         Unnamed: 12_level_1 moderate & severeθ moderate & severeθ
2                       58.6               40.9                5.4
3                       31.0               23.1               23.4
4                       26.6               11.7               12.4
5                        NaN                NaN                NaN
6                       41.6               37.6                3.3

         Wasting (%)           Vitamin A supplementation, full coverageΔ (%)  \
  moderate & severeθ Severe θ                            Unnamed: 22_level_1
2                9.5       4.0                                          98.0
3                9.4       5.9                                           NaN
4                4.1       1.4                                           NaN
5                NaN       NaN                                           NaN
6                4.9       1.0                                          14.0

  Households consuming salt with iodine (%)
                        Unnamed: 24_level_1
2                                 56.600000
3                                 90.942626
4                                 81.000000
5                                       NaN
6                                 82.400000

In [15]:
nut_2.tail()

                    Countries and areas Low birthweight     (%) U  \
                     Unnamed: 1_level_1        Unnamed: 2_level_1
199  Venezuela (Bolivarian Republic of)                       8.6
200                            Viet Nam                       5.1
201                               Yemen                      32.0
202                              Zambia                      11.0
203                            Zimbabwe                      11.0

    Early initiation of breastfeeding (%)  \
                       Unnamed: 4_level_1
199                                   NaN
200                                  26.5
201                                  52.7
202                                  65.8
203                                  57.6

    Exclusive breastfeeding\n<6 months                           (%)  \
                                                  Unnamed: 6_level_1
199                                                NaN
200                                               24.3
201                                               10.3
202                                               72.5
203                                               47.8

    Introduction to solid, semi-solid or soft foods 6-8 months                (%)  \
                                                               Unnamed: 8_level_1
199                                                NaN
200                                               90.7
201                                               69.0
202                                               82.0
203                                               91.0

    Minimum acceptable diet 6-23 months           (%)  \
                                  Unnamed: 10_level_1
199                                               NaN
200                                              59.0
201                                              15.4
202                                              10.5
203                                               8.0

    Breastfeeding at age 2 (%)       Stunting (%)     Overweight (%)  \
           Unnamed: 12_level_1 moderate & severeθ moderate & severeθ
199                        NaN               13.4                6.4
200                       21.8               24.6                5.3
201                       45.3               46.5                2.0
202                       41.8               40.0                6.2
203                       14.2               26.8                5.6

           Wasting (%)            \
    moderate & severeθ Severe θ
199                4.1       NaN
200                6.4       1.4
201               16.3       5.2
202                6.3       2.5
203                3.2       1.0

    Vitamin A supplementation, full coverageΔ (%)  \
                              Unnamed: 22_level_1
199                                           NaN
200                                          97.0
201                                           8.0
202                                           NaN
203                                          45.0

    Households consuming salt with iodine (%)
                          Unnamed: 24_level_1
199                                       NaN
200                                      61.0
201                                      48.9
202                                      88.0
203                                      93.0

### Summary Table

In [16]:
nut_2_sum = pd.read_excel('IAC_5_Dataset.xlsx', sheet_name='Nutrition', skiprows=2,\
                     skipfooter=42,header =[1,2])
nut_2_sum.drop(nut_2_sum.columns[[0,3,5,7,9,11,13,15,17,19,21,23,25]], axis=1, inplace = True) # drop the columns
nut_2_sum.drop(nut_2_sum.index[0:206],inplace=True) # drop the first row
nut_2_sum.replace(['–','x'], np.nan, inplace=True)
print(nut_2_sum.shape)
nut_2_sum.head(20)

(13, 13)

                 Countries and areas Low birthweight     (%) U  \
                  Unnamed: 1_level_1        Unnamed: 2_level_1
206            East Asia and Pacific                       NaN
207          Europe and Central Asia                  6.483862
208  Eastern Europe and Central Asia                  6.063235
209                   Western Europe                  6.854688
210      Latin America and Caribbean                  8.862378
211     Middle East and North Africa                       NaN
212                    North America                       NaN
213                       South Asia                       NaN
214               Sub-Saharan Africa                       NaN
215      Eastern and Southern Africa                       NaN
216          West and Central Africa                       NaN
217        Least developed countries                       NaN
218                            World                       NaN

    Early initiation of breastfeeding (%)  \
                       Unnamed: 4_level_1
206                             43.463649
207                                   NaN
208                             57.075104
209                                   NaN
210                             54.006897
211                             40.268055
212                                   NaN
213                             38.958375
214                             51.000000
215                             63.000000
216                             40.060478
217                             56.000000
218                             45.000000

    Exclusive breastfeeding\n<6 months                           (%)  \
                                                  Unnamed: 6_level_1
206                                          27.632990
207                                                NaN
208                                          29.986261
209                                                NaN
210                                          37.948038
211                                          32.042429
212                                          23.634620
213                                          52.133000
214                                          41.532818
215                                          55.269307
216                                          28.878145
217                                          49.227317
218                                          39.662574

    Introduction to solid, semi-solid or soft foods 6-8 months                (%)  \
                                                               Unnamed: 8_level_1
206                                          69.467636
207                                                NaN
208                                          69.000000
209                                                NaN
210                                          82.341328
211                                          63.038823
212                                                NaN
213                                          55.755462
214                                          71.000000
215                                          75.000000
216                                          67.801874
217                                          70.000000
218                                          66.000000

    Minimum acceptable diet 6-23 months           (%)  \
                                  Unnamed: 10_level_1
206                                         39.605305
207                                               NaN
208                                               NaN
209                                               NaN
210                                         50.833413
211                                               NaN
212                                               NaN
213                                         12.000000
214                                         10.610262
215                                         12.550861
216                                          8.895683
217                                         12.167003
218                                         17.000000

    Breastfeeding at age 2 (%)       Stunting (%)     Overweight (%)  \
           Unnamed: 12_level_1 moderate & severeθ moderate & severeθ
206                  23.323771           9.316822           5.550007
207                        NaN                NaN                NaN
208                  28.000000           6.166625          12.772170
209                        NaN                NaN                NaN
210                  32.233296          11.000000           7.000000
211                  28.890596          15.338200          10.691429
212                        NaN           2.300000           7.800000
213                  67.607207          35.842558           4.302214
214                  49.565245          33.900000           3.900000
215                  52.773664          34.392140           4.201417
216                  46.609505          33.503560           3.661601
217                  61.601781                NaN                NaN
218                  45.258326          22.900000           6.000000

           Wasting (%)            \
    moderate & severeθ Severe θ
206           3.202707  0.886268
207                NaN       NaN
208           1.531198  0.469489
209                NaN       NaN
210           1.300000  0.300000
211           7.400000  3.055123
212           0.500000  0.000000
213          16.026066  5.174375
214           8.400000  2.426706
215           6.647961  1.859180
216           9.232177  2.991111
217                NaN       NaN
218           7.700000  3.000000

    Vitamin A supplementation, full coverageΔ (%)  \
                              Unnamed: 22_level_1
206                                     82.191802
207                                           NaN
208                                           NaN
209                                           NaN
210                                           NaN
211                                           NaN
212                                           NaN
213                                     65.681085
214                                     72.320845
215                                     64.776014
216                                     77.966121
217                                     76.543981
218                                     69.812957

    Households consuming salt with iodine (%)
                          Unnamed: 24_level_1
206                                 90.646646
207                                       NaN
208                                       NaN
209                                       NaN
210                                       NaN
211                                       NaN
212                                       NaN
213                                 87.510346
214                                 79.724187
215                                 77.894062
216                                 81.414773
217                                 72.035553
218                                 86.457449

In [17]:
for colname in nut_2.columns:
    print('Missing value count of {} : {}'.format(colname, nut_2[colname].isnull().sum()))
    
    # append to summary table
    to_append = ['2','NUTRITION', colname, nut_2.columns.get_loc(colname), nut_2[colname].isnull().sum()]
    nan_df_length = len(nan_df)
    nan_df.loc[nan_df_length] = to_append

Missing value count of ('Countries and areas', 'Unnamed: 1_level_1') : 0
Missing value count of ('Low birthweight     (%) U', 'Unnamed: 2_level_1') : 20
Missing value count of ('Early initiation of breastfeeding (%)', 'Unnamed: 4_level_1') : 72
Missing value count of ('Exclusive breastfeeding\n<6 months                           (%)', 'Unnamed: 6_level_1') : 70
Missing value count of ('Introduction to solid, semi-solid or soft foods 6-8 months                (%)', 'Unnamed: 8_level_1') : 94
Missing value count of ('Minimum acceptable diet 6-23 months           (%)', 'Unnamed: 10_level_1') : 130
Missing value count of ('Breastfeeding at age 2 (%)', 'Unnamed: 12_level_1') : 75
Missing value count of ('Stunting (%)', 'moderate & severeθ') : 58
Missing value count of ('Overweight (%)', 'moderate & severeθ') : 60
Missing value count of ('Wasting (%)', 'moderate & severeθ') : 58
Missing value count of ('Wasting (%)', 'Severe θ ') : 63
Missing value count of ('Vitamin A supplementation, full coverageΔ (%)', 'Unnamed: 22_level_1') : 142
Missing value count of ('Households consuming salt with iodine (%)', 'Unnamed: 24_level_1') : 110

In [18]:
nan_df

,Table_num,Table_name,Column_name,Column_loc,Missing_Value
0,1,BASIC INDICATORS,"(Countries and areas, Unnamed: 1_level_1)",0,0
1,1,BASIC INDICATORS,"(Under–5 mortality rank, Unnamed: 2_level_1)",1,7
2,1,BASIC INDICATORS,"(Under–5 mortality rate , 1990)",2,7
3,1,BASIC INDICATORS,"(Under–5 mortality rate , 2016)",3,7
4,1,BASIC INDICATORS,"(Under–5 mortality rate by sex\n2016, male)",4,7
5,1,BASIC INDICATORS,"(Under–5 mortality rate by sex\n2016, female)",5,7
6,1,BASIC INDICATORS,"(Infant mortality rate (under 1), 1990)",6,7
7,1,BASIC INDICATORS,"(Infant mortality rate (under 1), 2016)",7,7
8,1,BASIC INDICATORS,"(Neonatal mortality rate, 2016)",8,7
9,1,BASIC INDICATORS,"(Total population (thousands), 2016)",9,0
10,1,BASIC INDICATORS,"(Annual number of births (thousands), 2016)",10,18
11,1,BASIC INDICATORS,"(Annual number of under–5 deaths (thousands), ...",11,7
12,1,BASIC INDICATORS,"(Life expectancy at birth (years), 2016)",12,18
13,1,BASIC INDICATORS,"(Total adult literacy rate (%), 2011−...",13,57
14,1,BASIC INDICATORS,(Primary school net enrolment ratio ...,14,21
15,2,NUTRITION,"(Countries and areas, Unnamed: 1_level_1)",0,0
16,2,NUTRITION,"(Low birthweight (%) U, Unnamed: 2_level_1)",1,20
17,2,NUTRITION,"(Early initiation of breastfeeding (%), Unname...",2,72
18,2,NUTRITION,(Exclusive breastfeeding\n<6 months ...,3,70
19,2,NUTRITION,"(Introduction to solid, semi-solid or soft foo...",4,94
20,2,NUTRITION,(Minimum acceptable diet 6-23 months ...,5,130
21,2,NUTRITION,"(Breastfeeding at age 2 (%), Unnamed: 12_level_1)",6,75
22,2,NUTRITION,"(Stunting (%), moderate & severeθ)",7,58
23,2,NUTRITION,"(Overweight (%), moderate & severeθ)",8,60
24,2,NUTRITION,"(Wasting (%), moderate & severeθ)",9,58
25,2,NUTRITION,"(Wasting (%), Severe θ )",10,63
26,2,NUTRITION,"(Vitamin A supplementation, full coverageΔ (%)...",11,142
27,2,NUTRITION,"(Households consuming salt with iodine (%), Un...",12,110

## 3. HEALTH

In [19]:
heal_3 = pd.read_excel('IAC_5_Dataset.xlsx', sheet_name='Health', skiprows=2,\
                     skipfooter=56,header =[1,2])
heal_3.drop(heal_3.columns[[0,19,21,23,25,27,29]], axis=1, inplace = True) # drop the columns
heal_3.drop(heal_3.index[[0,1,2]],inplace=True) # drop the first row
heal_3.replace(['–','x'], np.nan, inplace=True)
heal_3.head()

  Countries and areas Use of basic drinking water services             (%)  \
   Unnamed: 1_level_1                                   Unnamed: 2_level_1
3         Afghanistan                                          62.980208
4             Albania                                          91.394333
5             Algeria                                          93.466427
6             Andorra                                         100.000000
7              Angola                                          41.005868

                                        Use of basic sanitation services (%)  \
  Unnamed: 3_level_1 Unnamed: 4_level_1                   Unnamed: 5_level_1
3          89.048629          53.483161                            39.220433
4          92.521470          89.875174                            97.690655
5          95.442932          88.690957                            87.487686
6         100.000000         100.000000                           100.000000
7          63.256062          23.488065                            39.429423

                                        Immunization coverage (%)              \
  Unnamed: 6_level_1 Unnamed: 7_level_1                       BCG DTP1β DTP3β
3          56.404706          32.959991                      74.0  73.0  65.0
4          98.288014          96.885533                      99.0  99.0  98.0
5          89.672369          82.209238                      99.0  96.0  91.0
6         100.000000         100.000000                       NaN  99.0  98.0
7          62.347862          21.385504                      58.0  79.0  64.0

   ...                                                                      \
   ... HepB3  Hib3  rota  PCV3 Protection at birth (PAB) against tetanusλ
3  ...  65.0  65.0   0.0  65.0                                        65.0
4  ...  98.0  98.0   0.0  98.0                                        92.0
5  ...  91.0  91.0   0.0  61.0                                        92.0
6  ...  94.0  98.0   0.0  92.0                                         NaN
7  ...  64.0  64.0  53.0  58.0                                        78.0

                                                                Pneumonia  \
  Care seeking for children with symptoms of pneumonia                (%)
3                                               61.5
4                                               69.6
5                                               66.4
6                                                NaN
7                                               49.0

                                        Diarrhoea  \
  Treatment with oral rehydration salts (ORS) (%)
3                                            46.2
4                                            54.0
5                                            25.3
6                                             NaN
7                                            42.6

                                             Malaria  \
  Care seeking for children with fever           (%)
3                                               63.2
4                                               71.2
5                                                NaN
6                                                NaN
7                                               50.8

                                                \
  Children sleeping under ITNs             (%)
3                                          4.6
4                                          NaN
5                                          NaN
6                                          NaN
7                                         21.7


  Households with at least one ITN        (%)
3                                        26.0
4                                         NaN
5                                         NaN
6                                         NaN
7                                        30.9

[5 rows x 23 columns]

### Summary Table

In [20]:
heal_3_sum = pd.read_excel('IAC_5_Dataset.xlsx', sheet_name='Health', skiprows=2,\
                     skipfooter=41,header =[1,2])
heal_3_sum.drop(heal_3_sum.columns[[0,19,21,23,25,27,29]], axis=1, inplace = True) # drop the columns
heal_3_sum.drop(heal_3_sum.index[0:207],inplace=True) # drop the first row
heal_3_sum.replace(['–','x'], np.nan, inplace=True)
print(heal_3_sum.shape)
heal_3_sum.head(20)

(13, 23)

                 Countries and areas  \
                  Unnamed: 1_level_1
207            East Asia and Pacific
208          Europe and Central Asia
209  Eastern Europe and Central Asia
210                   Western Europe
211      Latin America and Caribbean
212     Middle East and North Africa
213                    North America
214                       South Asia
215               Sub-Saharan Africa
216      Eastern and Southern Africa
217          West and Central Africa
218        Least developed countries
219                            World

    Use of basic drinking water services             (%)                     \
                                      Unnamed: 2_level_1 Unnamed: 3_level_1
207                                          94.007180            96.150672
208                                          97.701390            99.078062
209                                          95.266420            97.921584
210                                          99.764802            99.918953
211                                          96.192513            98.792278
212                                          92.853982            96.317982
213                                          99.170250            99.681631
214                                          88.175471            93.113679
215                                          57.648611            81.846510
216                                          53.431121            82.041047
217                                          62.227261            81.698311
218                                          61.934030            82.593123
219                                          88.510333            95.430740

                       Use of basic sanitation services (%)  \
    Unnamed: 4_level_1                   Unnamed: 5_level_1
207          91.229299                            76.976256
208          94.354417                            96.002942
209          90.328469                            92.543506
210          99.282206                            98.934494
211          85.921688                            85.632837
212          86.656754                            89.308681
213          96.896604                            99.821903
214          85.739918                            46.488789
215          42.966923                            28.287331
216          40.354715                            29.608135
217          46.486667                            26.853422
218          52.407784                            32.327963
219          80.410558                            68.056970

                                          Immunization coverage (%)        \
    Unnamed: 6_level_1 Unnamed: 7_level_1                       BCG DTP1β
207          87.397913          63.470197                      93.0    97
208          97.506945          92.346400                      91.0    95
209          95.498485          87.047972                      95.0    93
210          98.967324          98.831714                      66.0    98
211          90.003996          68.363815                      95.0    94
212          93.753955          81.355916                      94.0    91
213          99.839191          99.745041                       NaN    97
214          65.331959          37.195225                      89.0    89
215          41.593576          20.213979                      80.0    83
216          47.678840          21.348767                      84.0    88
217          36.957798          18.684942                      76.0    77
218          46.194707          25.933780                      84.0    87
219          83.159245          50.380982                      88.0    91

           ...                       \
    DTP3β  ... HepB3 Hib3 rota PCV3
207    94  ...    90   38    1   11
208    92  ...    81   76   22   62
209    90  ...    90   61   16   54
210    96  ...    69   95   30   71
211    90  ...    89   89   77   81
212    88  ...    88   88   29   32
213    95  ...    90   93   67   92
214    86  ...    86   80    3   22
215    74  ...    74   74   45   65
216    80  ...    80   80   66   76
217    67  ...    67   67   25   54
218    80  ...    80   80   42   72
219    86  ...    84   70   25   42

                                                 \
    Protection at birth (PAB) against tetanusλ
207                                        89.0
208                                         NaN
209                                         NaN
210                                         NaN
211                                        89.0
212                                        84.0
213                                         NaN
214                                        86.0
215                                        80.0
216                                        82.0
217                                        77.0
218                                        84.0
219                                        84.0

                                                                  Pneumonia  \
    Care seeking for children with symptoms of pneumonia                (%)
207                                               72.1
208                                                NaN
209                                                NaN
210                                                NaN
211                                               71.9
212                                               65.2
213                                                NaN
214                                               68.9
215                                               47.0
216                                               55.6
217                                               39.2
218                                               48.7
219                                               61.6

                                          Diarrhoea  \
    Treatment with oral rehydration salts (ORS) (%)
207                                            46.8
208                                             NaN
209                                             NaN
210                                             NaN
211                                            48.3
212                                            27.3
213                                             NaN
214                                            51.0
215                                            38.0
216                                            41.7
217                                            34.4
218                                            43.7
219                                            43.9

                                               Malaria  \
    Care seeking for children with fever           (%)
207                                               66.5
208                                                NaN
209                                                NaN
210                                                NaN
211                                                NaN
212                                                NaN
213                                                NaN
214                                               60.6
215                                               57.2
216                                               56.1
217                                               57.0
218                                               53.0
219                                               59.0

                                                  \
    Children sleeping under ITNs             (%)
207                                          NaN
208                                          NaN
209                                          NaN
210                                          NaN
211                                          NaN
212                                          NaN
213                                          NaN
214                                          NaN
215                                         48.0
216                                         47.7
217                                         48.0
218                                         46.0
219                                          NaN


    Households with at least one ITN        (%)
207                                         NaN
208                                         NaN
209                                         NaN
210                                         NaN
211                                         NaN
212                                         NaN
213                                         NaN
214                                         4.8
215                                        66.0
216                                        62.1
217                                        70.0
218                                        60.0
219                                         NaN

[13 rows x 23 columns]

In [21]:
heal_3.tail()

                    Countries and areas  \
                     Unnamed: 1_level_1
200  Venezuela (Bolivarian Republic of)
201                            Viet Nam
202                               Yemen
203                              Zambia
204                            Zimbabwe

    Use of basic drinking water services             (%)                     \
                                      Unnamed: 2_level_1 Unnamed: 3_level_1
200                                          97.417224            98.780354
201                                          91.191766            91.991942
202                                          70.358863            84.662428
203                                          61.225308            85.504253
204                                          66.563101            93.775631

                       Use of basic sanitation services (%)  \
    Unnamed: 4_level_1                   Unnamed: 5_level_1
200          86.399516                            94.934390
201          90.786985                            78.237448
202          62.789527                            59.682680
203          44.407829                            31.111810
204          53.534696                            38.588619

                                          Immunization coverage (%)        \
    Unnamed: 6_level_1 Unnamed: 7_level_1                       BCG DTP1β
200          97.739565          72.261130                      99.0  98.0
201          90.986262          71.788264                      95.0  96.0
202          89.932402          43.674760                      73.0  76.0
203          48.995454          18.724212                      99.0  99.0
204          53.933167          31.242187                      95.0  94.0

           ...                          \
    DTP3β  ... HepB3  Hib3  rota  PCV3
200  84.0  ...  84.0  84.0  47.0   7.0
201  96.0  ...  96.0  96.0   0.0   0.0
202  71.0  ...  71.0  71.0  59.0  71.0
203  91.0  ...  91.0  91.0  90.0  90.0
204  90.0  ...  90.0  90.0  91.0  90.0

                                                 \
    Protection at birth (PAB) against tetanusλ
200                                        75.0
201                                        94.0
202                                        70.0
203                                        85.0
204                                        80.0

                                                                  Pneumonia  \
    Care seeking for children with symptoms of pneumonia                (%)
200                                               72.0
201                                               81.1
202                                               34.0
203                                               69.7
204                                               50.9

                                          Diarrhoea  \
    Treatment with oral rehydration salts (ORS) (%)
200                                            37.7
201                                            50.9
202                                            25.3
203                                            64.1
204                                            40.5

                                               Malaria  \
    Care seeking for children with fever           (%)
200                                                NaN
201                                                NaN
202                                               33.3
203                                               74.9
204                                               49.7

                                                  \
    Children sleeping under ITNs             (%)
200                                          NaN
201                                          9.4
202                                          NaN
203                                         40.6
204                                          9.0


    Households with at least one ITN        (%)
200                                         NaN
201                                         9.5
202                                         NaN
203                                        67.7
204                                        47.9

[5 rows x 23 columns]

In [22]:
for colname in heal_3.columns:
    print('Missing value count of {} : {}'.format(colname, heal_3[colname].isnull().sum()))
    
    # append to summary table
    to_append = ['3','HEALTH', colname, heal_3.columns.get_loc(colname), heal_3[colname].isnull().sum()]
    nan_df_length = len(nan_df)
    nan_df.loc[nan_df_length] = to_append

Missing value count of ('Countries and areas', 'Unnamed: 1_level_1') : 0
Missing value count of ('Use of basic drinking water services             (%)', 'Unnamed: 2_level_1') : 3
Missing value count of ('Use of basic drinking water services             (%)', 'Unnamed: 3_level_1') : 27
Missing value count of ('Use of basic drinking water services             (%)', 'Unnamed: 4_level_1') : 31
Missing value count of ('Use of basic sanitation services (%)', 'Unnamed: 5_level_1') : 3
Missing value count of ('Use of basic sanitation services (%)', 'Unnamed: 6_level_1') : 29
Missing value count of ('Use of basic sanitation services (%)', 'Unnamed: 7_level_1') : 32
Missing value count of ('Immunization coverage (%)', 'BCG') : 42
Missing value count of ('Immunization coverage (%)', 'DTP1β') : 7
Missing value count of ('Immunization coverage (%)', 'DTP3β') : 7
Missing value count of ('Immunization coverage (%)', 'polio3') : 7
Missing value count of ('Immunization coverage (%)', 'MCV1') : 7
Missing value count of ('Immunization coverage (%)', 'MCV2^') : 7
Missing value count of ('Immunization coverage (%)', 'HepB3') : 7
Missing value count of ('Immunization coverage (%)', 'Hib3') : 7
Missing value count of ('Immunization coverage (%)', 'rota') : 7
Missing value count of ('Immunization coverage (%)', 'PCV3') : 7
Missing value count of ('Immunization coverage (%)', 'Protection at birth (PAB) against tetanusλ ') : 96
Missing value count of ('Pneumonia', 'Care seeking for children with symptoms of pneumonia                (%)') : 82
Missing value count of ('Diarrhoea', 'Treatment with oral rehydration salts (ORS) (%)') : 83
Missing value count of ('Malaria', 'Care seeking for children with fever           (%)') : 123
Missing value count of ('Malaria', 'Children sleeping under ITNs             (%)') : 142
Missing value count of ('Malaria', 'Households with at least one ITN        (%)') : 142

In [23]:
nan_df

,Table_num,Table_name,Column_name,Column_loc,Missing_Value
0,1,BASIC INDICATORS,"(Countries and areas, Unnamed: 1_level_1)",0,0
1,1,BASIC INDICATORS,"(Under–5 mortality rank, Unnamed: 2_level_1)",1,7
2,1,BASIC INDICATORS,"(Under–5 mortality rate , 1990)",2,7
3,1,BASIC INDICATORS,"(Under–5 mortality rate , 2016)",3,7
4,1,BASIC INDICATORS,"(Under–5 mortality rate by sex\n2016, male)",4,7
5,1,BASIC INDICATORS,"(Under–5 mortality rate by sex\n2016, female)",5,7
6,1,BASIC INDICATORS,"(Infant mortality rate (under 1), 1990)",6,7
7,1,BASIC INDICATORS,"(Infant mortality rate (under 1), 2016)",7,7
8,1,BASIC INDICATORS,"(Neonatal mortality rate, 2016)",8,7
9,1,BASIC INDICATORS,"(Total population (thousands), 2016)",9,0
10,1,BASIC INDICATORS,"(Annual number of births (thousands), 2016)",10,18
11,1,BASIC INDICATORS,"(Annual number of under–5 deaths (thousands), ...",11,7
12,1,BASIC INDICATORS,"(Life expectancy at birth (years), 2016)",12,18
13,1,BASIC INDICATORS,"(Total adult literacy rate (%), 2011−...",13,57
14,1,BASIC INDICATORS,(Primary school net enrolment ratio ...,14,21
15,2,NUTRITION,"(Countries and areas, Unnamed: 1_level_1)",0,0
16,2,NUTRITION,"(Low birthweight (%) U, Unnamed: 2_level_1)",1,20
17,2,NUTRITION,"(Early initiation of breastfeeding (%), Unname...",2,72
18,2,NUTRITION,(Exclusive breastfeeding\n<6 months ...,3,70
19,2,NUTRITION,"(Introduction to solid, semi-solid or soft foo...",4,94
20,2,NUTRITION,(Minimum acceptable diet 6-23 months ...,5,130
21,2,NUTRITION,"(Breastfeeding at age 2 (%), Unnamed: 12_level_1)",6,75
22,2,NUTRITION,"(Stunting (%), moderate & severeθ)",7,58
23,2,NUTRITION,"(Overweight (%), moderate & severeθ)",8,60
24,2,NUTRITION,"(Wasting (%), moderate & severeθ)",9,58
25,2,NUTRITION,"(Wasting (%), Severe θ )",10,63
26,2,NUTRITION,"(Vitamin A supplementation, full coverageΔ (%)...",11,142
27,2,NUTRITION,"(Households consuming salt with iodine (%), Un...",12,110
28,3,HEALTH,"(Countries and areas, Unnamed: 1_level_1)",0,0
29,3,HEALTH,(Use of basic drinking water services ...,1,3
30,3,HEALTH,(Use of basic drinking water services ...,2,27
31,3,HEALTH,(Use of basic drinking water services ...,3,31
32,3,HEALTH,"(Use of basic sanitation services (%), Unnamed...",4,3
33,3,HEALTH,"(Use of basic sanitation services (%), Unnamed...",5,29
34,3,HEALTH,"(Use of basic sanitation services (%), Unnamed...",6,32
35,3,HEALTH,"(Immunization coverage (%), BCG)",7,42
36,3,HEALTH,"(Immunization coverage (%), DTP1β)",8,7
37,3,HEALTH,"(Immunization coverage (%), DTP3β)",9,7
38,3,HEALTH,"(Immunization coverage (%), polio3)",10,7
39,3,HEALTH,"(Immunization coverage (%), MCV1)",11,7
40,3,HEALTH,"(Immunization coverage (%), MCV2^)",12,7
41,3,HEALTH,"(Immunization coverage (%), HepB3)",13,7
42,3,HEALTH,"(Immunization coverage (%), Hib3)",14,7
43,3,HEALTH,"(Immunization coverage (%), rota)",15,7
44,3,HEALTH,"(Immunization coverage (%), PCV3)",16,7
45,3,HEALTH,"(Immunization coverage (%), Protection at birt...",17,96
46,3,HEALTH,"(Pneumonia, Care seeking for children with sym...",18,82
47,3,HEALTH,"(Diarrhoea, Treatment with oral rehydration sa...",19,83
48,3,HEALTH,"(Malaria, Care seeking for children with fever...",20,123
49,3,HEALTH,"(Malaria, Children sleeping under ITNs ...",21,142
50,3,HEALTH,"(Malaria, Households with at least one ITN ...",22,142

## 4. HIV-AIDS

In [24]:
hiv_4 = pd.read_excel('IAC_5_Dataset.xlsx', sheet_name='HIV-AIDS', skiprows=2,\
                     skipfooter=44,header =[1,2])
hiv_4.drop(hiv_4.columns[[0,19,21,23,25]], axis=1, inplace = True) # drop the columns
hiv_4.drop(hiv_4.index[[0,1]],inplace=True) # drop the first row
hiv_4.replace(['–','x'], np.nan, inplace=True)
hiv_4.head()

  Countries and areas HIV incidence per 1,000 uninfected population\n2016  \
   Unnamed: 1_level_1                                  Unnamed: 2_level_1
2         Afghanistan                                            0.03122
3             Albania                                             0.0808
4             Algeria                                            0.02251
5             Andorra                                                NaN
6              Angola                                               0.94

                                                        Epidemiology  \
  Unnamed: 3_level_1 Unnamed: 4_level_1 People living with HIV\n2016
2            0.01055             0.0181                         7500
3            0.04399            0.16468                         1700
4            0.01134            0.04696                        13000
5                NaN                NaN                          NaN
6            0.75867            0.81485                       280000

                                                                 \
  People living with HIV\n2016.1 People living with HIV\n2016.2
2                           <500                           <500
3                            NaN                            NaN
4                           <500                           <500
5                            NaN                            NaN
6                          23000                          13000

                                                      \
  New HIV infections                            2016
2                                             <1,000
3                                               <500
4                                             <1,000
5                                                NaN
6                                              25000

                                                        \
  New HIV infections                            2016.1
2                                               <100
3                                                NaN
4                                               <100
5                                                NaN
6                                               3600

                                                        ...  \
  New HIV infections                            2016.2  ...
2                                               <100    ...
3                                               <100    ...
4                                               <200    ...
5                                                NaN    ...
6                                               2400    ...

                                                           \
  AIDS–related deaths\n2016.1 AIDS–related deaths\n2016.2
2                        <100                        <100
3                         NaN                         NaN
4                        <100                        <100
5                         NaN                         NaN
6                        2100                        <500

                              Intervention coverage  \
  Pregnant women reciving ARVs for PMTCT (%)\n2016*
2                                                 5
3                                               NaN
4                                                49
5                                               NaN
6                                                44

                                                                            \
  People living with HIV receiving antiretroviral therapy (ART) (%)\n2016*
2                                                7.0
3                                               30.0
4                                               76.0
5                                                NaN
6                                               22.0

                                                                              \
  People living with HIV receiving antiretroviral therapy (ART) (%)\n2016*.1
2                                                 17
3                                                NaN
4                                                >95
5                                                NaN
6                                                 14

                                                                              \
  People living with HIV receiving antiretroviral therapy (ART) (%)\n2016*.2
2                                            16.3581
3                                                NaN
4                                            77.1035
5                                                NaN
6                                                NaN

                                                                       \
  Condom use among adolescents with multiple partners (%)\n2011–2016*
2                                                NaN
3                                                NaN
4                                                NaN
5                                                NaN
6                                               39.1

                                                                         \
  Condom use among adolescents with multiple partners (%)\n2011–2016*.2
2                                                NaN
3                                                NaN
4                                                NaN
5                                                NaN
6                                               30.5

                                                                                         \
  Adolescents tested for HIV in the last 12 months and received results (%)\n2011–2016*
2                                               <0.1
3                                                0.2
4                                                NaN
5                                                NaN
6                                                4.2


  Adolescents tested for HIV in the last 12 months and received results (%)\n2011–2016*.2
2                                                1.2
3                                                0.3
4                                                0.7
5                                                NaN
6                                               15.7

[5 rows x 21 columns]

### Summary Table

In [25]:
hiv_4_sum = pd.read_excel('IAC_5_Dataset.xlsx', sheet_name='HIV-AIDS', skiprows=2,\
                     skipfooter=29,header =[1,2])
hiv_4_sum.drop(hiv_4_sum.columns[[0,19,21,23,25]], axis=1, inplace = True) # drop the columns
hiv_4_sum.drop(hiv_4_sum.index[0:206],inplace=True) # drop the first row
hiv_4_sum.replace(['–','x'], np.nan, inplace=True)
print(hiv_4_sum.shape)
hiv_4_sum.head(20)

(13, 21)

                 Countries and areas  \
                  Unnamed: 1_level_1
206            East Asia and Pacific
207          Europe and Central Asia
208  Eastern Europe and Central Asia
209                   Western Europe
210      Latin America and Caribbean
211     Middle East and North Africa
212                    North America
213                       South Asia
214               Sub-Saharan Africa
215      Eastern and Southern Africa
216          West and Central Africa
217        Least developed countries
218                            World

    HIV incidence per 1,000 uninfected population\n2016                     \
                                     Unnamed: 2_level_1 Unnamed: 3_level_1
206                                               0.07            0.033243
207                                               0.25            0.021906
208                                               0.47            0.034672
209                                               0.06            0.005827
210                                               0.19            0.049245
211                                               0.03            0.009689
212                                                NaN            0.008620
213                                               0.06            0.021702
214                                               1.23            0.873941
215                                               1.68            1.012184
216                                               0.78            0.736532
217                                               0.54            0.460000
218                                               0.26            0.287869

                                       Epidemiology  \
    Unnamed: 4_level_1 People living with HIV\n2016
206           0.106817                    2800000.0
207           0.193686                    2400000.0
208           0.282039                    1600000.0
209           0.106974                     840000.0
210           0.356967                    2100000.0
211           0.039041                     150000.0
212           0.241714                          NaN
213           0.030588                    2300000.0
214           1.833516                   25700000.0
215           2.344321                   19600000.0
216           1.250998                    6100000.0
217           0.700000                   10800000.0
218           0.552043                   36700000.0

                                                                   \
    People living with HIV\n2016.1 People living with HIV\n2016.2
206                        48000.0                        60000.0
207                            NaN                            NaN
208                            NaN                            NaN
209                            NaN                            NaN
210                        34000.0                        77000.0
211                         3000.0                         4000.0
212                            NaN                            NaN
213                       140000.0                       130000.0
214                      1900000.0                      1700000.0
215                      1400000.0                      1300000.0
216                       540000.0                       450000.0
217                       980000.0                       800000.0
218                      2100000.0                      2100000.0

                                                        \
    New HIV infections                            2016
206                                           160000.0
207                                           220000.0
208                                           190000.0
209                                            29000.0
210                                           120000.0
211                                            11000.0
212                                                NaN
213                                           100000.0
214                                          1200000.0
215                                           800000.0
216                                           360000.0
217                                           490000.0
218                                          1800000.0

                                                          \
    New HIV infections                            2016.1
206                                               5100
207                                                NaN
208                                                NaN
209                                                NaN
210                                               2600
211                                               <500
212                                                NaN
213                                              10000
214                                             140000
215                                              79000
216                                              60000
217                                              69000
218                                             160000

                                                          ...  \
    New HIV infections                            2016.2  ...
206                                            15000.0    ...
207                                             9900.0    ...
208                                             7200.0    ...
209                                             2700.0    ...
210                                            19000.0    ...
211                                             1100.0    ...
212                                                NaN    ...
213                                            18000.0    ...
214                                           190000.0    ...
215                                           130000.0    ...
216                                            62000.0    ...
217                                            68000.0    ...
218                                           260000.0    ...

                                                             \
    AIDS–related deaths\n2016.1 AIDS–related deaths\n2016.2
206                        3000                      <1,000
207                         NaN                         NaN
208                         NaN                         NaN
209                         NaN                         NaN
210                        2000                      <1,000
211                        <200                        <100
212                         NaN                         NaN
213                        7600                        3100
214                      100000                       50000
215                       59000                       34000
216                       43000                       16000
217                       52000                       27000
218                      120000                       55000

                                Intervention coverage  \
    Pregnant women reciving ARVs for PMTCT (%)\n2016*
206                                              54.0
207                                               NaN
208                                               NaN
209                                               NaN
210                                              75.0
211                                              37.0
212                                               NaN
213                                              38.0
214                                              78.0
215                                              88.0
216                                              49.0
217                                              81.0
218                                              76.0

                                                                              \
    People living with HIV receiving antiretroviral therapy (ART) (%)\n2016*
206                                               48.0
207                                               46.0
208                                               29.0
209                                               77.0
210                                               57.0
211                                               33.0
212                                                NaN
213                                               46.0
214                                               54.0
215                                               60.0
216                                               34.0
217                                               56.0
218                                               53.0

                                                                                \
    People living with HIV receiving antiretroviral therapy (ART) (%)\n2016*.1
206                                               62.0
207                                                NaN
208                                                NaN
209                                                NaN
210                                               53.0
211                                               62.0
212                                                NaN
213                                               33.0
214                                               42.0
215                                               51.0
216                                               21.0
217                                               40.0
218                                               43.0

                                                                                \
    People living with HIV receiving antiretroviral therapy (ART) (%)\n2016*.2
206                                                NaN
207                                                NaN
208                                                NaN
209                                                NaN
210                                                NaN
211                                                NaN
212                                                NaN
213                                                NaN
214                                                NaN
215                                                NaN
216                                                NaN
217                                                NaN
218                                                NaN

                                                                         \
    Condom use among adolescents with multiple partners (%)\n2011–2016*
206                                                NaN
207                                                NaN
208                                                NaN
209                                                NaN
210                                                NaN
211                                                NaN
212                                                NaN
213                                                NaN
214                                          48.939288
215                                          53.941851
216                                          42.515394
217                                                NaN
218                                                NaN

                                                                           \
    Condom use among adolescents with multiple partners (%)\n2011–2016*.2
206                                                NaN
207                                                NaN
208                                                NaN
209                                                NaN
210                                                NaN
211                                                NaN
212                                                NaN
213                                                NaN
214                                          31.639147
215                                                NaN
216                                          32.069998
217                                                NaN
218                                                NaN

                                                                                           \
    Adolescents tested for HIV in the last 12 months and received results (%)\n2011–2016*
206                                                NaN
207                                                NaN
208                                                NaN
209                                                NaN
210                                                NaN
211                                                NaN
212                                                NaN
213                                                NaN
214                                           9.551771
215                                          16.141718
216                                           2.720603
217                                           7.607908
218                                                NaN


    Adolescents tested for HIV in the last 12 months and received results (%)\n2011–2016*.2
206                                                NaN
207                                                NaN
208                                                NaN
209                                                NaN
210                                                NaN
211                                                NaN
212                                                NaN
213                                                NaN
214                                          15.219268
215                                          24.111347
216                                           5.847449
217                                          12.548865
218                                                NaN

[13 rows x 21 columns]

In [26]:
hiv_4.tail()

                    Countries and areas  \
                     Unnamed: 1_level_1
199  Venezuela (Bolivarian Republic of)
200                            Viet Nam
201                               Yemen
202                              Zambia
203                            Zimbabwe

    HIV incidence per 1,000 uninfected population\n2016                     \
                                     Unnamed: 2_level_1 Unnamed: 3_level_1
199                                            0.21438             0.09854
200                                            0.11809             0.04214
201                                            0.04142              0.0246
202                                            4.07886              3.2766
203                                            3.02628             1.36098

                                       Epidemiology  \
    Unnamed: 4_level_1 People living with HIV\n2016
199            0.44414                       120000
200            0.05648                       250000
201            0.08293                         9900
202            6.45515                      1200000
203            3.49562                      1300000

                                                                   \
    People living with HIV\n2016.1 People living with HIV\n2016.2
199                           2500                           4400
200                           5800                           3200
201                           <500                         <1,000
202                          94000                          95000
203                            NaN                            NaN

                                                        \
    New HIV infections                            2016
199                                               6500
200                                              11000
201                                               1100
202                                              59000
203                                              40000

                                                          \
    New HIV infections                            2016.1
199                                               <500
200                                               <500
201                                               <100
202                                               8900
203                                                NaN

                                                          ...  \
    New HIV infections                            2016.2  ...
199                                               1200    ...
200                                               <500    ...
201                                               <500    ...
202                                              11000    ...
203                                               5800    ...

                                                             \
    AIDS–related deaths\n2016.1 AIDS–related deaths\n2016.2
199                        <200                        <100
200                        <200                        <100
201                        <100                        <100
202                        5700                        2300
203                         NaN                         NaN

                                Intervention coverage  \
    Pregnant women reciving ARVs for PMTCT (%)\n2016*
199                                                48
200                                                66
201                                                 8
202                                                83
203                                                93

                                                                              \
    People living with HIV receiving antiretroviral therapy (ART) (%)\n2016*
199                                                NaN
200                                               47.0
201                                               18.0
202                                               65.0
203                                               75.0

                                                                                \
    People living with HIV receiving antiretroviral therapy (ART) (%)\n2016*.1
199                                                NaN
200                                                 84
201                                                 21
202                                                 52
203                                                NaN

                                                                                \
    People living with HIV receiving antiretroviral therapy (ART) (%)\n2016*.2
199                                                NaN
200                                                NaN
201                                                NaN
202                                                NaN
203                                                NaN

                                                                         \
    Condom use among adolescents with multiple partners (%)\n2011–2016*
199                                                NaN
200                                                NaN
201                                                NaN
202                                               37.7
203                                               71.1

                                                                           \
    Condom use among adolescents with multiple partners (%)\n2011–2016*.2
199                                                NaN
200                                                NaN
201                                                NaN
202                                               33.0
203                                                NaN

                                                                                           \
    Adolescents tested for HIV in the last 12 months and received results (%)\n2011–2016*
199                                                NaN
200                                                NaN
201                                                NaN
202                                               19.4
203                                               19.4


    Adolescents tested for HIV in the last 12 months and received results (%)\n2011–2016*.2
199                                                NaN
200                                                3.8
201                                                NaN
202                                               32.6
203                                               29.8

[5 rows x 21 columns]

In [27]:
for colname in hiv_4.columns:
    print('Missing value count of {} : {}'.format(colname, hiv_4[colname].isnull().sum()))
    
    # append to summary table
    to_append = ['4','HIV-AIDS', colname, hiv_4.columns.get_loc(colname), hiv_4[colname].isnull().sum()]
    nan_df_length = len(nan_df)
    nan_df.loc[nan_df_length] = to_append

Missing value count of ('Countries and areas', 'Unnamed: 1_level_1') : 0
Missing value count of ('HIV incidence per 1,000 uninfected population\n2016', 'Unnamed: 2_level_1') : 81
Missing value count of ('HIV incidence per 1,000 uninfected population\n2016', 'Unnamed: 3_level_1') : 82
Missing value count of ('HIV incidence per 1,000 uninfected population\n2016', 'Unnamed: 4_level_1') : 82
Missing value count of ('Epidemiology', 'People living with HIV\n2016') : 71
Missing value count of ('Epidemiology', 'People living with HIV\n2016.1') : 98
Missing value count of ('Epidemiology', 'People living with HIV\n2016.2') : 98
Missing value count of ('Epidemiology', 'New HIV infections                            2016') : 71
Missing value count of ('Epidemiology', 'New HIV infections                            2016.1') : 97
Missing value count of ('Epidemiology', 'New HIV infections                            2016.2') : 81
Missing value count of ('Epidemiology', 'AIDS–related deaths\n2016') : 75
Missing value count of ('Epidemiology', 'AIDS–related deaths\n2016.1') : 101
Missing value count of ('Epidemiology', 'AIDS–related deaths\n2016.2') : 101
Missing value count of ('Intervention coverage', 'Pregnant women reciving ARVs for PMTCT (%)\n2016*') : 96
Missing value count of ('Intervention coverage', 'People living with HIV receiving antiretroviral therapy (ART) (%)\n2016*') : 74
Missing value count of ('Intervention coverage', 'People living with HIV receiving antiretroviral therapy (ART) (%)\n2016*.1') : 100
Missing value count of ('Intervention coverage', 'People living with HIV receiving antiretroviral therapy (ART) (%)\n2016*.2') : 161
Missing value count of ('Intervention coverage', 'Condom use among adolescents with multiple partners (%)\n2011–2016*') : 154
Missing value count of ('Intervention coverage', 'Condom use among adolescents with multiple partners (%)\n2011–2016*.2') : 155
Missing value count of ('Intervention coverage', 'Adolescents tested for HIV in the last 12 months and received results (%)\n2011–2016*') : 138
Missing value count of ('Intervention coverage', 'Adolescents tested for HIV in the last 12 months and received results (%)\n2011–2016*.2') : 118

In [28]:
nan_df

,Table_num,Table_name,Column_name,Column_loc,Missing_Value
0,1,BASIC INDICATORS,"(Countries and areas, Unnamed: 1_level_1)",0,0
1,1,BASIC INDICATORS,"(Under–5 mortality rank, Unnamed: 2_level_1)",1,7
2,1,BASIC INDICATORS,"(Under–5 mortality rate , 1990)",2,7
3,1,BASIC INDICATORS,"(Under–5 mortality rate , 2016)",3,7
4,1,BASIC INDICATORS,"(Under–5 mortality rate by sex\n2016, male)",4,7
...,...,...,...,...,...
67,4,HIV-AIDS,"(Intervention coverage, People living with HIV...",16,161
68,4,HIV-AIDS,"(Intervention coverage, Condom use among adole...",17,154
69,4,HIV-AIDS,"(Intervention coverage, Condom use among adole...",18,155
70,4,HIV-AIDS,"(Intervention coverage, Adolescents tested for...",19,138
71,4,HIV-AIDS,"(Intervention coverage, Adolescents tested for...",20,118

## 5. EDUCATION

In [29]:
np.arange(3,42,2)

array([ 3,  5,  7,  9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35,
       37, 39, 41])

In [30]:
edu_5 = pd.read_excel('IAC_5_Dataset.xlsx', sheet_name='Education', skiprows=2,\
                     skipfooter=47,header =[1,2])
edu_5.drop(edu_5.columns[[0, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41]],\
           axis=1, inplace = True) # drop the columns
edu_5.drop(edu_5.index[[0,1,2]],inplace=True) # drop the first row
edu_5.replace(['–','x'], np.nan, inplace=True)
edu_5.head()

  Countries and areas Youth (15–24 years) literacy rate                (%)  \
   Unnamed: 1_level_1                                   Unnamed: 2_level_1
3         Afghanistan                                           61.87907
4             Albania                                           99.37598
5             Algeria                                           95.74706
6             Andorra                                          100.00000
7              Angola                                           84.86238

                     Number per 100 population                      \
  Unnamed: 4_level_1         Unnamed: 6_level_1 Unnamed: 8_level_1
3           32.11322                  66.003744          10.595726
4           99.02019                 105.062312          66.363445
5           91.73993                 117.020110          42.945527
6          100.00000                  87.189733          97.930637
7           70.58513                  55.275647          13.000000

       Pre-primary school participation  \
  Gross enrolment ratio             (%)
3                                   NaN
4                              89.72232
5                              78.95678
6                                   NaN
7                              64.20847

                                          Primary school participation  \
  Gross enrolment ratio             (%).2    Gross enrolment ratio (%)
3                                     NaN                    131.62293
4                                87.39891                    115.52430
5                                79.47712                    119.52922
6                                     NaN                          NaN
7                                94.40013                    156.89613

                                                       ...  \
  Gross enrolment ratio (%).2 Net enrolment ratio (%)  ...
3                    91.08326                     NaN  ...
4                   111.71902                96.21119  ...
5                   112.67534                     NaN  ...
6                         NaN                     NaN  ...
7                   100.38635                94.92857  ...

                                                       \
  Net attendance ratio (%) Net attendance ratio (%).2
3                     73.1                       53.2
4                     92.2                       92.6
5                     97.5                       97.4
6                      NaN                        NaN
7                     76.1                       75.6

                                                            \
  Out-of-school rate of children of primary school age (%)
3                                                NaN
4                                            3.47901
5                                                NaN
6                                                NaN
7                                            5.07143

                                                              \
  Out-of-school rate of children of primary school age (%).2
3                                                NaN
4                                            4.74979
5                                                NaN
6                                                NaN
7                                           26.95268

                                            \
  Survival rate to last primary grade (%)
3                                      NaN
4                                 95.12022
5                                 93.01003
6                                 70.97962
7                                      NaN

                                              \
  Survival rate to last primary grade (%) .2
3                                        NaN
4                                   96.38993
5                                   94.63902
6                                   70.34795
7                                        NaN

  Lower secondary school participation                            \
               Net enrolment ratio (%) Net enrolment ratio (%).2
3                             62.22376                  37.72684
4                             91.02954                  90.45823
5                                  NaN                       NaN
6                                  NaN                       NaN
7                                  NaN                       NaN


  Net attendance ratio (%) Net attendance ratio (%).2
3                     47.8                       27.9
4                     90.3                       92.2
5                     81.7                       84.8
6                      NaN                        NaN
7                     32.2                       30.8

[5 rows x 21 columns]

### Summary Table

In [31]:
edu_5_sum = pd.read_excel('IAC_5_Dataset.xlsx', sheet_name='Education', skiprows=2,\
                     skipfooter=32,header =[1,2])
edu_5_sum.drop(edu_5_sum.columns[[0, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41]],\
           axis=1, inplace = True) # drop the columns
edu_5_sum.drop(edu_5_sum.index[0:207],inplace=True) # drop the first row
edu_5_sum.replace(['–','x'], np.nan, inplace=True)
print(edu_5_sum.shape)
edu_5_sum.head(20)

(13, 21)

                 Countries and areas  \
                  Unnamed: 1_level_1
207            East Asia and Pacific
208          Europe and Central Asia
209  Eastern Europe and Central Asia
210                   Western Europe
211      Latin America and Caribbean
212     Middle East and North Africa
213                    North America
214                       South Asia
215               Sub-Saharan Africa
216      Eastern and Southern Africa
217          West and Central Africa
218        Least developed countries
219                            World

    Youth (15–24 years) literacy rate                (%)                     \
                                      Unnamed: 2_level_1 Unnamed: 4_level_1
207                                          98.821499            96.968824
208                                                NaN                  NaN
209                                          99.756979            99.488129
210                                                NaN                  NaN
211                                          98.473903            98.875133
212                                          90.757803            87.773967
213                                                NaN                  NaN
214                                          88.337603            79.992017
215                                          79.113822            71.617696
216                                          86.942157            84.543941
217                                          68.844086            54.605633
218                                          80.076015            73.052348
219                                          92.198215            85.358434

    Number per 100 population                      \
            Unnamed: 6_level_1 Unnamed: 8_level_1
207                 109.105367          52.410785
208                 125.176488          73.868820
209                 129.026756          63.669516
210                 121.908813          82.525430
211                 109.221465          56.246489
212                 112.280275          47.812535
213                 122.795346          77.559944
214                  84.811964          26.477736
215                  75.146186          20.074736
216                  70.817102          21.218375
217                  79.809916          18.842691
218                  68.196976          15.613724
219                 101.465621          45.656519

         Pre-primary school participation  \
    Gross enrolment ratio             (%)
207                             77.322527
208                             75.654210
209                             59.966751
210                             97.317182
211                             75.659887
212                             35.072591
213                             71.655147
214                             21.850543
215                             30.621166
216                             38.796105
217                             20.416463
218                             22.942208
219                             49.010846

                                            Primary school participation  \
    Gross enrolment ratio             (%).2    Gross enrolment ratio (%)
207                               77.085394                   105.721103
208                               74.689343                   103.466123
209                               58.776195                   102.047175
210                               96.654667                   104.634436
211                               76.267286                   109.005506
212                               33.875043                   105.974112
213                               70.339706                   100.234832
214                               20.585318                   104.974501
215                               31.521025                   103.609399
216                               40.209890                   106.412219
217                               20.669965                   100.564644
218                               23.840495                   108.180154
219                               48.405355                   104.915471

                                                         ...  \
    Gross enrolment ratio (%).2 Net enrolment ratio (%)  ...
207                  105.045725               93.000000  ...
208                  103.159245               96.430240  ...
209                  101.622211               94.521090  ...
210                  104.424645               98.203068  ...
211                  107.151533               92.997454  ...
212                  103.957737               93.059898  ...
213                  100.125775               93.000000  ...
214                  111.709839               90.116917  ...
215                   97.636287               81.755740  ...
216                  100.074900               82.594854  ...
217                   94.936651                     NaN  ...
218                  101.212735               81.881073  ...
219                  104.641163               89.973511  ...

                                                         \
    Net attendance ratio (%) Net attendance ratio (%).2
207                96.864685                  96.863248
208                      NaN                        NaN
209                94.306805                  95.253305
210                      NaN                        NaN
211                95.967164                  96.099919
212                94.451320                  92.536048
213                      NaN                        NaN
214                      NaN                        NaN
215                74.829404                  74.067864
216                77.538504                  79.228077
217                71.904415                  68.390418
218                76.025569                  75.249673
219                86.533672                  85.345270

                                                              \
    Out-of-school rate of children of primary school age (%)
207                                           6.000000
208                                           2.506252
209                                           3.955904
210                                           1.160111
211                                           5.011970
212                                           5.854169
213                                           5.841190
214                                           5.379961
215                                          17.486195
216                                          16.938072
217                                                NaN
218                                          17.488168
219                                           7.899772

                                                                \
    Out-of-school rate of children of primary school age (%).2
207                                                6.0
208                                                2.0
209                                                4.0
210                                                1.0
211                                                4.0
212                                                8.0
213                                                NaN
214                                                6.0
215                                               21.0
216                                               19.0
217                                                NaN
218                                               22.0
219                                                9.0

                                              \
    Survival rate to last primary grade (%)
207                                      NaN
208                                94.875188
209                                93.004005
210                                97.469087
211                                90.091555
212                                90.734323
213                                      NaN
214                                79.740518
215                                54.588916
216                                48.300930
217                                63.224263
218                                52.437601
219                                76.475308

                                                \
    Survival rate to last primary grade (%) .2
207                                        NaN
208                                  95.116368
209                                  93.259525
210                                  97.697036
211                                  92.091964
212                                  89.759020
213                                        NaN
214                                  79.019753
215                                  55.747477
216                                  50.792822
217                                  62.604895
218                                  53.848248
219                                  76.577634

    Lower secondary school participation                            \
                 Net enrolment ratio (%) Net enrolment ratio (%).2
207                            71.000000                 76.000000
208                            92.760787                 92.464933
209                            92.503357                 92.013309
210                                  NaN                       NaN
211                            73.512023                 77.412949
212                            74.042323                 73.928294
213                            86.733590                       NaN
214                            63.452754                 66.063412
215                            32.080885                 30.685131
216                            29.257252                 30.152756
217                                  NaN                       NaN
218                            40.992233                 41.216817
219                            65.828124                 67.753213


    Net attendance ratio (%) Net attendance ratio (%).2
207                80.526526                  84.280279
208                      NaN                        NaN
209                      NaN                        NaN
210                      NaN                        NaN
211                75.569623                  79.167705
212                72.321400                  71.999632
213                      NaN                        NaN
214                43.034407                  44.105220
215                31.605072                  32.270056
216                24.360267                  28.922442
217                38.724653                  35.633272
218                33.099561                  34.648176
219                52.556047                  53.812592

[13 rows x 21 columns]

In [32]:
edu_5.tail()

                    Countries and areas  \
                     Unnamed: 1_level_1
200  Venezuela (Bolivarian Republic of)
201                            Viet Nam
202                               Yemen
203                              Zambia
204                            Zimbabwe

    Youth (15–24 years) literacy rate                (%)                     \
                                      Unnamed: 2_level_1 Unnamed: 4_level_1
200                                           98.44194             99.09258
201                                           97.39524             96.78113
202                                                NaN                  NaN
203                                           91.19563             86.50945
204                                           87.59186             93.18835

    Number per 100 population                      \
            Unnamed: 6_level_1 Unnamed: 8_level_1
200                  86.989817          60.000000
201                 128.037926          46.500000
202                  67.169902          24.579208
203                  74.947742          25.506579
204                  83.179894          23.119989

         Pre-primary school participation  \
    Gross enrolment ratio             (%)
200                              75.04266
201                              84.12345
202                               1.42822
203                                   NaN
204                              41.99956

                                            Primary school participation  \
    Gross enrolment ratio             (%).2    Gross enrolment ratio (%)
200                                75.60084                    101.33268
201                                82.03333                    109.29306
202                                 1.25763                    105.74971
203                                     NaN                    103.32061
204                                42.90043                    100.80618

                                                         ...  \
    Gross enrolment ratio (%).2 Net enrolment ratio (%)  ...
200                    98.61011                90.11563  ...
201                   108.42685                     NaN  ...
202                    88.88220                91.55952  ...
203                   103.98889                86.49473  ...
204                    99.06738                85.27146  ...

                                                         \
    Net attendance ratio (%) Net attendance ratio (%).2
200                91.000000                  92.900000
201                97.866537                  97.572546
202                80.335658                  72.373954
203                85.875972                  88.132235
204                94.000000                  95.800000

                                                              \
    Out-of-school rate of children of primary school age (%)
200                                            7.56614
201                                                NaN
202                                            7.87455
203                                           11.93674
204                                           14.39475

                                                                \
    Out-of-school rate of children of primary school age (%).2
200                                            7.66189
201                                                NaN
202                                           21.75254
203                                            9.97213
204                                           12.99718

                                              \
    Survival rate to last primary grade (%)
200                                 90.22393
201                                 94.03602
202                                 71.80024
203                                 57.26354
204                                 75.48243

                                                \
    Survival rate to last primary grade (%) .2
200                                   90.25963
201                                   98.11915
202                                   66.69611
203                                   53.76017
204                                   78.41681

    Lower secondary school participation                            \
                 Net enrolment ratio (%) Net enrolment ratio (%).2
200                             68.91184                  74.41840
201                             92.63505                  95.35272
202                             47.01600                  33.61109
203                             30.71657                  30.46265
204                             33.33955                  40.97919


    Net attendance ratio (%) Net attendance ratio (%).2
200                      NaN                        NaN
201                     89.1                       91.7
202                     43.2                       34.2
203                     46.0                       51.1
204                     48.2                       62.7

[5 rows x 21 columns]

In [33]:
for colname in edu_5.columns:
    print('Missing value count of {} : {}'.format(colname, edu_5[colname].isnull().sum()))
    
    # append to summary table
    to_append = ['5','Education', colname, edu_5.columns.get_loc(colname), edu_5[colname].isnull().sum()]
    nan_df_length = len(nan_df)
    nan_df.loc[nan_df_length] = to_append

Missing value count of ('Countries and areas', 'Unnamed: 1_level_1') : 0
Missing value count of ('Youth (15–24 years) literacy rate                (%)', 'Unnamed: 2_level_1') : 61
Missing value count of ('Youth (15–24 years) literacy rate                (%)', 'Unnamed: 4_level_1') : 60
Missing value count of ('Number per 100 population ', 'Unnamed: 6_level_1') : 1
Missing value count of ('Number per 100 population ', 'Unnamed: 8_level_1') : 2
Missing value count of ('Pre-primary school participation', 'Gross enrolment ratio             (%)') : 27
Missing value count of ('Pre-primary school participation', 'Gross enrolment ratio             (%).2') : 27
Missing value count of ('Primary school participation', 'Gross enrolment ratio (%)') : 20
Missing value count of ('Primary school participation', 'Gross enrolment ratio (%).2') : 22
Missing value count of ('Primary school participation', 'Net enrolment ratio (%)') : 46
Missing value count of ('Primary school participation', 'Net enrolment ratio (%).2') : 46
Missing value count of ('Primary school participation', 'Net attendance ratio (%)') : 74
Missing value count of ('Primary school participation', 'Net attendance ratio (%).2') : 74
Missing value count of ('Primary school participation', 'Out-of-school rate of children of primary school age (%)') : 46
Missing value count of ('Primary school participation', 'Out-of-school rate of children of primary school age (%).2') : 46
Missing value count of ('Primary school participation', 'Survival rate to last primary grade (%) ') : 65
Missing value count of ('Primary school participation', 'Survival rate to last primary grade (%) .2') : 65
Missing value count of ('Lower secondary school participation', 'Net enrolment ratio (%)') : 59
Missing value count of ('Lower secondary school participation', 'Net enrolment ratio (%).2') : 59
Missing value count of ('Lower secondary school participation', 'Net attendance ratio (%)') : 108
Missing value count of ('Lower secondary school participation', 'Net attendance ratio (%).2') : 108

In [34]:
nan_df

,Table_num,Table_name,Column_name,Column_loc,Missing_Value
0,1,BASIC INDICATORS,"(Countries and areas, Unnamed: 1_level_1)",0,0
1,1,BASIC INDICATORS,"(Under–5 mortality rank, Unnamed: 2_level_1)",1,7
2,1,BASIC INDICATORS,"(Under–5 mortality rate , 1990)",2,7
3,1,BASIC INDICATORS,"(Under–5 mortality rate , 2016)",3,7
4,1,BASIC INDICATORS,"(Under–5 mortality rate by sex\n2016, male)",4,7
...,...,...,...,...,...
88,5,Education,"(Primary school participation, Survival rate t...",16,65
89,5,Education,"(Lower secondary school participation, Net enr...",17,59
90,5,Education,"(Lower secondary school participation, Net enr...",18,59
91,5,Education,"(Lower secondary school participation, Net att...",19,108
92,5,Education,"(Lower secondary school participation, Net att...",20,108

## 6.  DEMOGRAPHIC INDICATORS

In [35]:
demo_6 = pd.read_excel('IAC_5_Dataset.xlsx', sheet_name='DEMOGRAPHIC INDICATORS', skiprows=2,\
                     skipfooter=35,header =[1,2])
demo_6.drop(demo_6.columns[0], axis=1, inplace = True) # drop the columns
demo_6.drop(demo_6.index[[0,1]],inplace=True) # drop the first row
demo_6.replace(['–','x'], np.nan, inplace=True)
demo_6.head()

  Countries and areas Population (thousands)                             \
   Unnamed: 1_level_1                   2016        2016.1       2016.2
2         Afghanistan              34656.032  17743.518000  5232.848000
3             Albania               2926.348    659.259000   177.372000
4             Algeria              40606.052  13495.144000  4699.122000
5             Andorra                 77.281     13.383259     3.410533
6              Angola              28813.463  15415.799000  5277.122000

  Population annual growth rate                    (%)                     \
                                    Unnamed: 5_level_1 Unnamed: 6_level_1
2                                           4.000070             2.130447
3                                          -0.440505             0.017239
4                                           1.727680             1.316165
5                                           1.342624             0.080236
6                                           3.314425             3.138611

    Crude death rate                                        \
  Unnamed: 7_level_1 Unnamed: 8_level_1 Unnamed: 9_level_1
2             27.624             15.577              6.747
3              7.996              5.989              7.379
4             16.633              6.307              4.765
5                NaN                NaN                NaN
6             27.498             22.910              8.513

     Crude birth rate                                          \
  Unnamed: 10_level_1 Unnamed: 11_level_1 Unnamed: 12_level_1
2              51.648              49.080              33.214
3              31.821              24.789              11.816
4              47.021              32.132              23.132
5                 NaN                 NaN                 NaN
6              53.375              52.749              41.819

      Life expectancy                                          \
  Unnamed: 13_level_1 Unnamed: 14_level_1 Unnamed: 15_level_1
2              36.678              49.856              63.673
3              66.933              71.836              78.345
4              50.369              66.725              76.078
5                 NaN                 NaN                 NaN
6              37.047              41.696              61.547

  Total fertility rate Urbanized population               (%)  \
   Unnamed: 16_level_1                    Unnamed: 17_level_1
2                4.635                                 27.132
3                1.713                                 58.376
4                2.776                                 71.304
5                  NaN                                 84.612
6                5.694                                 44.819

  Average annual growth rate of urban population             (%)  \
                                             Unnamed: 18_level_1
2                                           5.457640
3                                           1.536729
4                                           2.954082
5                                           1.117164
6                                           5.320008


  Unnamed: 19_level_1
2            3.642832
3            1.396647
4            1.736718
5            0.228306
6            4.173645

In [36]:
demo_6.tail()

                    Countries and areas Population (thousands)             \
                     Unnamed: 1_level_1                   2016     2016.1
199  Venezuela (Bolivarian Republic of)              31568.179  10492.640
200                            Viet Nam              94569.072  25779.926
201                               Yemen              27584.213  12957.222
202                              Zambia              16591.390   8646.649
203                            Zimbabwe              16150.362   7726.065

              Population annual growth rate                    (%)  \
       2016.2                                   Unnamed: 5_level_1
199  2974.249                                           1.782090
200  7760.728                                           1.256712
201  4075.161                                           3.183058
202  2820.123                                           2.792467
203  2539.448                                           1.773891

                         Crude death rate                     \
    Unnamed: 6_level_1 Unnamed: 7_level_1 Unnamed: 8_level_1
199           1.085614              6.977              5.289
200           0.834149             11.508              6.362
201           2.061925             24.568             11.472
202           2.888222             16.841             17.994
203           2.052565             13.201              9.612

                          Crude birth rate                      \
    Unnamed: 9_level_1 Unnamed: 10_level_1 Unnamed: 11_level_1
199              5.609              37.394              29.045
200              5.821              36.415              28.688
201              6.456              53.184              52.084
202              7.780              49.514              45.220
203              8.078              47.447              37.418

                            Life expectancy                      \
    Unnamed: 12_level_1 Unnamed: 13_level_1 Unnamed: 14_level_1
199              19.030              64.569              69.804
200              16.691              59.571              70.536
201              31.636              41.161              57.877
202              38.131              49.039              45.003
203              33.144              54.920              57.944

                        Total fertility rate  \
    Unnamed: 15_level_1  Unnamed: 16_level_1
199              74.545                2.317
200              76.253                1.954
201              64.953                3.995
202              61.874                4.981
203              61.163                3.760

    Urbanized population               (%)  \
                       Unnamed: 17_level_1
199                                 89.043
200                                 34.236
201                                 35.187
202                                 41.379
203                                 32.277

    Average annual growth rate of urban population             (%)  \
                                               Unnamed: 18_level_1
199                                           2.036424
200                                           3.220793
201                                           5.055253
202                                           2.937365
203                                           1.921162


    Unnamed: 19_level_1
199            1.211546
200            2.177756
201            3.350431
202            4.253987
203            2.252688

### Summary Table

In [37]:
demo_6_sum = pd.read_excel('IAC_5_Dataset.xlsx', sheet_name='DEMOGRAPHIC INDICATORS', skiprows=2,\
                     skipfooter=20,header =[1,2])
demo_6_sum.drop(demo_6_sum.columns[0], axis=1, inplace = True) # drop the columns
demo_6_sum.drop(demo_6_sum.index[0:206],inplace=True) # drop the first row
demo_6_sum.replace(['–','x'], np.nan, inplace=True)
print(demo_6_sum.shape)
demo_6_sum.head(20)

(13, 19)

                 Countries and areas Population (thousands)               \
                  Unnamed: 1_level_1                   2016       2016.1
206            East Asia and Pacific            2.29149e+06       545358
207          Europe and Central Asia                 908161       191748
208  Eastern Europe and Central Asia                 416914       100514
209                   Western Europe                 491247      91234.4
210      Latin America and Caribbean                 633773       193378
211     Middle East and North Africa                 435225       152698
212                    North America                 358469      80926.8
213                       South Asia            1.76599e+06       619518
214               Sub-Saharan Africa            1.03415e+06       511533
215      Eastern and Southern Africa                 542206       261901
216          West and Central Africa                 491947       249631
217        Least developed countries                 979388       454924
218                            World            7.42726e+06  2.29516e+06

             Population annual growth rate                    (%)  \
      2016.2                                   Unnamed: 5_level_1
206   156758                                           0.858803
207  55778.3                                           0.288028
208  31087.2                                           0.246363
209    24691                                           0.323746
210  53226.5                                            1.39339
211  49143.5                                            2.05604
212  21535.1                                            0.94715
213   169895                                            1.70678
214   167977                                            2.69815
215  83756.8                                            2.63803
216  84219.9                                            2.76552
217   142971                                            2.50345
218   674314                                            1.29948

                         Crude death rate                     \
    Unnamed: 6_level_1 Unnamed: 7_level_1 Unnamed: 8_level_1
206           0.391249            10.5086            6.84173
207           0.155204            10.2525            10.5264
208           0.198479             9.7379            10.7058
209           0.118271            10.6465             10.371
210           0.842867            10.2837            6.88362
211            1.47397            15.0826            7.09417
212           0.699111            9.34399            8.71807
213            1.04981            17.2981              10.82
214            2.52108            20.5431            16.2182
215            2.41542            18.6382             15.512
216            2.63575            22.6134            17.0228
217            2.20826            20.8365            15.0321
218           0.971637            12.6565            9.30117

                          Crude birth rate                      \
    Unnamed: 9_level_1 Unnamed: 10_level_1 Unnamed: 11_level_1
206             7.3218             34.8574               22.25
207            10.2354             18.1505             14.8154
208            10.6773              20.723             18.0287
209            9.86012             16.1808              12.032
210            5.94776             36.8059              26.931
211            4.95759             43.6176             33.7164
212            8.21906             16.4528             15.5053
213            7.08582              40.374             32.8544
214            9.23057             47.1112             44.0334
215            7.84516             47.0427             43.2534
216            10.7575             47.1856             44.9221
217            7.68503             47.2371             42.4194
218            7.67523             32.8757             26.0293

                            Life expectancy                      \
    Unnamed: 12_level_1 Unnamed: 13_level_1 Unnamed: 14_level_1
206             13.5883             59.7822             69.0709
207              12.138             69.1525             71.8943
208              14.618             66.2776             67.9104
209             10.0324             71.3538             75.3451
210             16.8843             60.2918             67.7322
211             22.7961             52.9167             65.7556
212             12.3411             70.9418             75.4543
213             20.2616             48.1096             58.1915
214             36.2909             44.5094             49.8854
215             33.9895             47.1097             50.8803
216             38.8275             41.6832             48.7519
217             32.1669             44.2233              51.721
218             18.9197             58.6633             65.4024

                        Total fertility rate  \
    Unnamed: 15_level_1  Unnamed: 16_level_1
206             75.3232              1.81527
207               77.35              1.75841
208             72.6579              1.92489
209             81.3337              1.59944
210             75.5157              2.06868
211             73.5015              2.77361
212             79.6939              1.84026
213              68.709              2.45971
214              60.397              4.84744
215             63.3639              4.37538
216             57.1271              5.39813
217             64.4452              4.11529
218             72.0404              2.44741

    Urbanized population               (%)  \
                       Unnamed: 17_level_1
206                              57.346225
207                              70.837931
208                              64.367841
209                              76.329010
210                              79.636100
211                              62.921981
212                              83.052277
213                              32.869685
214                              37.389661
215                              30.863930
216                              44.582087
217                              31.292304
218                              53.866807

    Average annual growth rate of urban population             (%)  \
                                               Unnamed: 18_level_1
206                                            2.97512
207                                           0.465639
208                                           0.336256
209                                           0.560984
210                                            1.88054
211                                            2.61708
212                                            1.29104
213                                              2.745
214                                            3.95817
215                                            3.70039
216                                            4.16717
217                                            4.04119
218                                            2.19704


    Unnamed: 19_level_1
206             1.47861
207            0.406287
208            0.377233
209            0.427009
210             1.11575
211             1.77747
212            0.941454
213             2.31475
214             3.61756
215             3.52315
216             3.68877
217             3.56562
218             1.62446

In [38]:
for colname in demo_6.columns:
    print('Missing value count of {} : {}'.format(colname, demo_6[colname].isnull().sum()))
    
    # append to summary table
    to_append = ['6','Demographic Indicators', colname, demo_6.columns.get_loc(colname), demo_6[colname].isnull().sum()]
    nan_df_length = len(nan_df)
    nan_df.loc[nan_df_length] = to_append

Missing value count of ('Countries and areas', 'Unnamed: 1_level_1') : 0
Missing value count of ('Population (thousands)', 2016) : 0
Missing value count of ('Population (thousands)', '2016.1') : 0
Missing value count of ('Population (thousands)', '2016.2') : 0
Missing value count of ('Population annual growth rate                    (%)', 'Unnamed: 5_level_1') : 0
Missing value count of ('Population annual growth rate                    (%)', 'Unnamed: 6_level_1') : 0
Missing value count of ('Crude death rate', 'Unnamed: 7_level_1') : 18
Missing value count of ('Crude death rate', 'Unnamed: 8_level_1') : 18
Missing value count of ('Crude death rate', 'Unnamed: 9_level_1') : 18
Missing value count of ('Crude birth rate', 'Unnamed: 10_level_1') : 18
Missing value count of ('Crude birth rate', 'Unnamed: 11_level_1') : 18
Missing value count of ('Crude birth rate', 'Unnamed: 12_level_1') : 18
Missing value count of ('Life expectancy', 'Unnamed: 13_level_1') : 18
Missing value count of ('Life expectancy', 'Unnamed: 14_level_1') : 18
Missing value count of ('Life expectancy', 'Unnamed: 15_level_1') : 18
Missing value count of ('Total fertility rate', 'Unnamed: 16_level_1') : 18
Missing value count of ('Urbanized population               (%)', 'Unnamed: 17_level_1') : 0
Missing value count of ('Average annual growth rate of urban population             (%)', 'Unnamed: 18_level_1') : 0
Missing value count of ('Average annual growth rate of urban population             (%)', 'Unnamed: 19_level_1') : 0

In [39]:
nan_df

,Table_num,Table_name,Column_name,Column_loc,Missing_Value
0,1,BASIC INDICATORS,"(Countries and areas, Unnamed: 1_level_1)",0,0
1,1,BASIC INDICATORS,"(Under–5 mortality rank, Unnamed: 2_level_1)",1,7
2,1,BASIC INDICATORS,"(Under–5 mortality rate , 1990)",2,7
3,1,BASIC INDICATORS,"(Under–5 mortality rate , 2016)",3,7
4,1,BASIC INDICATORS,"(Under–5 mortality rate by sex\n2016, male)",4,7
...,...,...,...,...,...
107,6,Demographic Indicators,"(Life expectancy, Unnamed: 15_level_1)",14,18
108,6,Demographic Indicators,"(Total fertility rate, Unnamed: 16_level_1)",15,18
109,6,Demographic Indicators,"(Urbanized population (%), Unnam...",16,0
110,6,Demographic Indicators,(Average annual growth rate of urban populatio...,17,0
111,6,Demographic Indicators,(Average annual growth rate of urban populatio...,18,0

## 7.  Women

In [40]:
np.arange(9,25,2)

array([ 9, 11, 13, 15, 17, 19, 21, 23])

In [41]:
women_7 = pd.read_excel('IAC_5_Dataset.xlsx', sheet_name='Women', skiprows=2,\
                     skipfooter=58,header =[1,2])
women_7.drop(women_7.columns[[0, 4, 9, 11, 13, 15, 17, 19, 21, 23]], axis=1, inplace = True) # drop the columns
women_7.drop(women_7.index[[0,1]],inplace=True) # drop the first row
women_7.replace(['–','x'], np.nan, inplace=True)
women_7.head()

  Countries and areas Life expectancy: females as a % of males  \
   Unnamed: 1_level_1                       Unnamed: 2_level_1
2         Afghanistan                               104.137253
3             Albania                               105.364196
4             Algeria                               103.262485
5             Andorra                                      NaN
6              Angola                               109.706794

  Adult literacy rate: females as a % of males  \
                            Unnamed: 3_level_1
2                                       38.778
3                                       97.746
4                                       81.762
5                                      100.000
6                                       66.781

  Enrolment ratios: \nfemales as a % of males                \
                                  Primary GER Secondary GER
2                                   69.200146        56.238
3                                   96.706078        93.600
4                                   94.265938       103.655
5                                         NaN           NaN
6                                   63.982681        64.825

  Survival rate to the last grade of primary: females as a % of males  \
                                                   Unnamed: 7_level_1
2                                                NaN
3                                         101.334848
4                                         101.751413
5                                          99.110068
6                                                NaN

   Demand for family planning satisfied with modern methods (%)   \
                                              Unnamed: 8_level_1
2                                               42.1
3                                               12.9
4                                               77.2
5                                                NaN
6                                               24.2

  Antenatal care (%)                            Delivery care (%)  \
  At least one visit At least four visits Skilled birth attendant
2               58.6                 17.8                    50.5
3               97.3                 66.8                    99.3
4               92.7                 67.3                    96.6
5                NaN                  NaN                     NaN
6               81.6                 61.4                    49.6

                                   Postnatal health check (%)+              \
  Institutional delivery C–section                For newborns For mothers
2                   48.1       2.7                         9.3        39.9
3                   96.7      18.7                         0.9        83.2
4                   96.8      16.0                         NaN         NaN
5                    NaN       NaN                         NaN         NaN
6                   45.6       3.7                        20.9        23.3

  Maternal mortality ratio†                      \
                   Reported Reported.1 Adjusted
2                    1300.0               396.0
3                       5.8                29.0
4                       NaN               140.0
5                       NaN                 NaN
6                       NaN               477.0


  Lifetime risk of maternal death (1 in:)
2                                    52.0
3                                  1900.0
4                                   240.0
5                                     NaN
6                                    32.0

### Summary Table

In [42]:
women_7_sum = pd.read_excel('IAC_5_Dataset.xlsx', sheet_name='Women', skiprows=2,\
                     skipfooter=43,header =[1,2])
women_7_sum.drop(women_7_sum.columns[[0, 4, 9, 11, 13, 15, 17, 19, 21, 23]], axis=1, inplace = True) # drop the columns
women_7_sum.drop(women_7_sum.index[0:206],inplace=True) # drop the first row
women_7_sum.replace(['–','x'], np.nan, inplace=True)
print(women_7_sum.shape)
women_7_sum.head(20)

(13, 18)

                 Countries and areas Life expectancy: females as a % of males  \
                  Unnamed: 1_level_1                       Unnamed: 2_level_1
206            East Asia and Pacific                                      106
207          Europe and Central Asia                                      109
208  Eastern Europe and Central Asia                                      113
209                   Western Europe                                      107
210      Latin America and Caribbean                                      109
211     Middle East and North Africa                                      105
212                    North America                                      106
213                       South Asia                                      104
214               Sub–Saharan Africa                                      106
215      Eastern and Southern Africa                                      107
216          West and Central Africa                                      104
217        Least developed countries                                      105
218                            World                                      106

    Adult literacy rate: females as a % of males  \
                              Unnamed: 3_level_1
206                                          NaN
207                                          NaN
208                                         98.0
209                                          NaN
210                                         99.0
211                                         84.0
212                                          NaN
213                                         75.0
214                                         78.0
215                                         88.0
216                                          NaN
217                                         77.0
218                                         85.0

    Enrolment ratios: \nfemales as a % of males                \
                                    Primary GER Secondary GER
206                                   99.332119    101.941235
207                                   99.697652     98.807005
208                                   99.611923     98.058746
209                                   99.769688     99.518264
210                                   98.347370    105.153022
211                                   98.136330     94.566431
212                                   99.895045    101.687407
213                                  106.625440     99.053498
214                                   94.505341     87.414420
215                                   94.459873     94.266045
216                                   94.555198     81.333660
217                                   93.908787     89.238184
218                                   99.927849     98.013260

    Survival rate to the last grade of primary: females as a % of males  \
                                                     Unnamed: 7_level_1
206                                                NaN
207                                         100.254208
208                                         100.274741
209                                         100.233867
210                                         102.220418
211                                          98.925099
212                                                NaN
213                                          99.096113
214                                         102.122337
215                                         105.159098
216                                          99.020363
217                                         102.690145
218                                         100.133802

     Demand for family planning satisfied with modern methods (%)   \
                                                Unnamed: 8_level_1
206                                               88.9
207                                               75.1
208                                               68.1
209                                               82.2
210                                               82.8
211                                               71.4
212                                               86.4
213                                               71.2
214                                               49.7
215                                               60.8
216                                               34.7
217                                               57.8
218                                               77.8

    Antenatal care (%)                            Delivery care (%)  \
    At least one visit At least four visits Skilled birth attendant
206               95.5                 73.7                    95.0
207                NaN                  NaN                     NaN
208               95.7                 86.7                    99.0
209                NaN                  NaN                     NaN
210               96.9                 90.0                    96.0
211               84.1                 65.9                    86.0
212                NaN                 96.6                    99.0
213               69.3                 46.4                    73.0
214               79.7                 51.9                    56.0
215               84.9                 52.1                    60.0
216               74.9                 51.7                    52.0
217               79.2                 45.8                    56.0
218               86.0                 61.8                    78.0

                                     Postnatal health check (%)+              \
    Institutional delivery C–section                For newborns For mothers
206                   90.2      30.7                        55.5        78.9
207                   97.8      22.0                         NaN         NaN
208                   97.3      22.0                         NaN         NaN
209                   99.0       NaN                         NaN         NaN
210                   93.7      42.5                         NaN         NaN
211                   79.8      29.5                         NaN         NaN
212                    NaN       NaN                         NaN         NaN
213                   69.5      16.7                        27.8        59.0
214                   56.1       5.0                        24.0        45.6
215                   56.7       6.7                        24.1        40.1
216                   55.5       3.4                        23.8        49.8
217                   54.1       6.8                        24.6        41.6
218                   75.2      19.7                        33.9        58.8

    Maternal mortality ratio†                      \
                     Reported Reported.1 Adjusted
206                       NaN        NaN       59
207                       NaN        NaN       16
208                       NaN        NaN       25
209                       NaN        NaN        7
210                       NaN        NaN       68
211                       NaN        NaN       81
212                       NaN        NaN       13
213                       NaN        NaN      182
214                       NaN        NaN      546
215                       NaN        NaN      409
216                       NaN        NaN      679
217                       NaN        NaN      436
218                       NaN        NaN      216


    Lifetime risk of maternal death (1 in:)
206                                     930
207                                    3400
208                                    2000
209                                    9600
210                                     670
211                                     400
212                                    4100
213                                     200
214                                      36
215                                      52
216                                      27
217                                      52
218                                     180

In [43]:
women_7.tail(20)

                    Countries and areas  \
                     Unnamed: 1_level_1
184                 Trinidad and Tobago
185                             Tunisia
186                              Turkey
187                        Turkmenistan
188            Turks and Caicos Islands
189                              Tuvalu
190                              Uganda
191                             Ukraine
192                United Arab Emirates
193                      United Kingdom
194         United Republic of Tanzania
195                       United States
196                             Uruguay
197                          Uzbekistan
198                             Vanuatu
199  Venezuela (Bolivarian Republic of)
200                            Viet Nam
201                               Yemen
202                              Zambia
203                            Zimbabwe

    Life expectancy: females as a % of males  \
                          Unnamed: 2_level_1
184                               110.456650
185                               105.515581
186                               109.014135
187                               110.708897
188                                      NaN
189                                      NaN
190                               107.683188
191                               114.688352
192                               102.871202
193                               104.556081
194                               105.938867
195                               106.067541
196                               109.612226
197                               108.001694
198                               106.232376
199                               111.709203
200                               113.203551
201                               104.507918
202                               108.480043
203                               105.900022

    Adult literacy rate: females as a % of males  \
                              Unnamed: 3_level_1
184                                          NaN
185                                       83.922
186                                       93.985
187                                          NaN
188                                          NaN
189                                          NaN
190                                       78.322
191                                       99.964
192                                      102.227
193                                          NaN
194                                       87.848
195                                          NaN
196                                      100.735
197                                       99.984
198                                          NaN
199                                      100.180
200                                       95.400
201                                          NaN
202                                       87.667
203                                       98.989

    Enrolment ratios: \nfemales as a % of males                \
                                    Primary GER Secondary GER
184                                         NaN           NaN
185                                   97.172629       104.599
186                                   99.345483        97.424
187                                   98.404037        96.289
188                                         NaN           NaN
189                                  101.206385       128.208
190                                  101.874681        90.929
191                                  102.167305        98.022
192                                   99.386754           NaN
193                                   99.709772       104.039
194                                  103.049837        91.493
195                                   99.787136       101.830
196                                   97.756253       110.699
197                                   95.562089        98.248
198                                   98.363177       105.759
199                                   97.313236       107.562
200                                   99.207443           NaN
201                                   84.049592        68.814
202                                  100.646802           NaN
203                                   98.275106        97.947

    Survival rate to the last grade of primary: females as a % of males  \
                                                     Unnamed: 7_level_1
184                                                NaN
185                                         102.545015
186                                          99.417437
187                                                NaN
188                                                NaN
189                                                NaN
190                                         102.537984
191                                          99.872388
192                                         102.596560
193                                                NaN
194                                         114.955515
195                                                NaN
196                                         100.724520
197                                         101.046867
198                                                NaN
199                                         100.039568
200                                         104.342091
201                                          92.891208
202                                          93.882023
203                                         103.887501

     Demand for family planning satisfied with modern methods (%)   \
                                                Unnamed: 8_level_1
184                                               55.1
185                                               73.2
186                                               59.7
187                                               75.6
188                                                NaN
189                                               41.0
190                                               47.8
191                                               68.0
192                                                NaN
193                                                NaN
194                                               52.9
195                                               83.4
196                                                NaN
197                                                NaN
198                                               50.7
199                                                NaN
200                                               69.7
201                                               46.9
202                                               63.8
203                                               85.2

    Antenatal care (%)                            Delivery care (%)  \
    At least one visit At least four visits Skilled birth attendant
184               95.7                100.0                   100.0
185               98.1                 85.1                    73.6
186               97.0                 88.9                    97.4
187               99.6                 96.4                   100.0
188                NaN                  NaN                     NaN
189               97.4                 67.3                    93.1
190               97.3                 59.9                    57.4
191               98.6                 87.2                    99.0
192              100.0                  NaN                   100.0
193                NaN                  NaN                     NaN
194               91.4                 50.7                    63.5
195                NaN                 96.6                    98.5
196               97.2                 76.8                    99.9
197               99.4                  NaN                   100.0
198               75.6                 51.8                    89.4
199               97.5                 83.8                    99.5
200               95.8                 73.7                    93.8
201               59.8                 25.1                    44.7
202               95.7                 55.5                    63.3
203               93.3                 75.7                    78.1

                                     Postnatal health check (%)+              \
    Institutional delivery C–section                For newborns For mothers
184                   97.4       NaN                         NaN         NaN
185                   98.5      26.7                        98.4        91.5
186                   97.2      48.1                        71.5        87.7
187                   99.5       6.3                        99.8        99.8
188                    NaN       NaN                         NaN         NaN
189                   93.0       7.1                         NaN         NaN
190                   73.4       5.3                        10.9        54.3
191                   98.9      12.1                        98.9        95.6
192                   99.9       NaN                         NaN         NaN
193                    NaN      25.8                         NaN         NaN
194                   62.6       5.9                        42.1        34.2
195                    NaN      31.1                         NaN         NaN
196                   99.5      29.6                         NaN         NaN
197                   99.5      13.6                         NaN         NaN
198                   88.5      11.9                         NaN         NaN
199                   98.9      52.4                         NaN         NaN
200                   93.6      27.5                        89.1        89.8
201                   29.8       4.8                        11.2        19.9
202                   67.4       4.4                        15.7        63.4
203                   77.0       5.8                        73.4        56.6

    Maternal mortality ratio†                      \
                     Reported Reported.1 Adjusted
184                      84.0                63.0
185                       NaN                62.0
186                      29.0        NaN     16.0
187                       6.9        NaN     42.0
188                       NaN                 NaN
189                       0.0        NaN      NaN
190                     340.0               343.0
191                      13.5                24.0
192                       0.0        NaN      6.0
193                       NaN                 9.0
194                     560.0               398.0
195                      28.0                14.0
196                      17.0                15.0
197                      18.9                36.0
198                      86.0        NaN     78.0
199                      68.7                95.0
200                      67.0                54.0
201                     150.0               385.0
202                     400.0               224.0
203                     650.0               443.0


    Lifetime risk of maternal death (1 in:)
184                                   860.0
185                                   710.0
186                                  3000.0
187                                   940.0
188                                     NaN
189                                     NaN
190                                    47.0
191                                  2600.0
192                                  7900.0
193                                  5800.0
194                                    45.0
195                                  3800.0
196                                  3300.0
197                                  1000.0
198                                   360.0
199                                   420.0
200                                   870.0
201                                    60.0
202                                    79.0
203                                    52.0

In [44]:
for colname in women_7.columns:
    print('Missing value count of {} : {}'.format(colname, women_7[colname].isnull().sum()))
    
    # append to summary table
    to_append = ['7','Women', colname, women_7.columns.get_loc(colname), women_7[colname].isnull().sum()]
    nan_df_length = len(nan_df)
    nan_df.loc[nan_df_length] = to_append

Missing value count of ('Countries and areas', 'Unnamed: 1_level_1') : 0
Missing value count of ('Life expectancy: females as a % of males', 'Unnamed: 2_level_1') : 18
Missing value count of ('Adult literacy rate: females as a % of males', 'Unnamed: 3_level_1') : 60
Missing value count of ('Enrolment ratios: \nfemales as a % of males', 'Primary GER') : 22
Missing value count of ('Enrolment ratios: \nfemales as a % of males', 'Secondary GER') : 32
Missing value count of ('Survival rate to the last grade of primary: females as a % of males', 'Unnamed: 7_level_1') : 65
Missing value count of (' Demand for family planning satisfied with modern methods (%) ', 'Unnamed: 8_level_1') : 71
Missing value count of ('Antenatal care (%)', 'At least one visit') : 37
Missing value count of ('Antenatal care (%)', 'At least four visits') : 55
Missing value count of ('Delivery care (%)', 'Skilled birth attendant') : 33
Missing value count of ('Delivery care (%)', 'Institutional delivery') : 34
Missing value count of ('Delivery care (%)', 'C–section') : 45
Missing value count of ('Postnatal health check (%)+', 'For newborns') : 117
Missing value count of ('Postnatal health check (%)+', 'For mothers') : 110
Missing value count of ('Maternal mortality ratio†', 'Reported') : 43
Missing value count of ('Maternal mortality ratio†', 'Reported.1') : 38
Missing value count of ('Maternal mortality ratio†', 'Adjusted') : 20
Missing value count of ('Maternal mortality ratio†', 'Lifetime risk of maternal death (1 in:)') : 20

In [45]:
nan_df

,Table_num,Table_name,Column_name,Column_loc,Missing_Value
0,1,BASIC INDICATORS,"(Countries and areas, Unnamed: 1_level_1)",0,0
1,1,BASIC INDICATORS,"(Under–5 mortality rank, Unnamed: 2_level_1)",1,7
2,1,BASIC INDICATORS,"(Under–5 mortality rate , 1990)",2,7
3,1,BASIC INDICATORS,"(Under–5 mortality rate , 2016)",3,7
4,1,BASIC INDICATORS,"(Under–5 mortality rate by sex\n2016, male)",4,7
...,...,...,...,...,...
125,7,Women,"(Postnatal health check (%)+, For mothers)",13,110
126,7,Women,"(Maternal mortality ratio†, Reported)",14,43
127,7,Women,"(Maternal mortality ratio†, Reported.1)",15,38
128,7,Women,"(Maternal mortality ratio†, Adjusted)",16,20
129,7,Women,"(Maternal mortality ratio†, Lifetime risk of m...",17,20

## 8. Child Protection

In [46]:
np.arange(3,30,2)

array([ 3,  5,  7,  9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29])

In [47]:
cp_8 = pd.read_excel('IAC_5_Dataset.xlsx', sheet_name='Child Protection', skiprows=2,\
                     skipfooter=46,header =[1,2])
cp_8.drop(cp_8.columns[[0, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27,29]], axis=1, inplace = True) # drop the columns
cp_8.drop(cp_8.index[[0,1]],inplace=True) # drop the first row
cp_8.replace(['–','x'], np.nan, inplace=True)
cp_8.head()

  Countries and areas Child labour (%)+\n2010–2016*                     \
   Unnamed: 1_level_1            Unnamed: 2_level_1 Unnamed: 4_level_1
2         Afghanistan                          29.4               34.1
3             Albania                           5.1                6.2
4             Algeria                           5.0                5.5
5             Andorra                           NaN                NaN
6              Angola                          23.4               21.6

                     Child marriage (%)\n2010–2016*                      \
  Unnamed: 6_level_1             Unnamed: 8_level_1 Unnamed: 10_level_1
2               24.2                            8.8                34.8
3                3.9                            0.2                 9.6
4                4.5                            0.4                 2.5
5                NaN                            NaN                 NaN
6               25.3                            7.9                30.3

  Birth registration (%)++\n2010–2016*  \
                   Unnamed: 12_level_1
2                                 42.3
3                                 98.6
4                                 99.6
5                                100.0
6                                 25.0

  Female genital mutilation/cutting (%)+\n2004-2016*                         \
                                          prevalence prevalence.2 attitudes
2                                                NaN          NaN       NaN
3                                                NaN          NaN       NaN
4                                                NaN          NaN       NaN
5                                                NaN          NaN       NaN
6                                                NaN          NaN       NaN

  Justification of wife-beating (%)\n 2010–2016*                      \
                             Unnamed: 20_level_1 Unnamed: 22_level_1
2                                           72.4                80.2
3                                           36.4                29.8
4                                            NaN                59.0
5                                            NaN                 NaN
6                                           20.0                25.2

  Violent discipline (%)+\n2010–2016*
                  Unnamed: 24_level_1 Unnamed: 26_level_1 Unnamed: 28_level_1
2                                74.4                74.8                74.1
3                                76.9                80.5                73.3
4                                86.3                87.7                84.9
5                                 NaN                 NaN                 NaN
6                                 NaN                 NaN                 NaN

### Summary Table

In [48]:
cp_8_sum = pd.read_excel('IAC_5_Dataset.xlsx', sheet_name='Child Protection', skiprows=2,\
                     skipfooter=31,header =[1,2])
cp_8_sum.drop(cp_8_sum.columns[[0, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27,29]], axis=1, inplace = True) # drop the columns
cp_8_sum.drop(cp_8_sum.index[0:206],inplace=True) # drop the first row
cp_8_sum.replace(['–','x'], np.nan, inplace=True)
print(cp_8_sum.shape)
cp_8_sum.head(20)

(13, 15)

                 Countries and areas Child labour (%)+\n2010–2016*  \
                  Unnamed: 1_level_1            Unnamed: 2_level_1
206            East Asia and Pacific                           NaN
207          Europe and Central Asia                           NaN
208  Eastern Europe and Central Asia                           NaN
209                   Western Europe                           NaN
210      Latin America and Caribbean                     10.525201
211     Middle East and North Africa                      6.937833
212                    North America                           NaN
213                       South Asia                           NaN
214               Sub-Saharan Africa                     29.395360
215      Eastern and Southern Africa                     25.782506
216          West and Central Africa                     31.918355
217        Least developed countries                     25.528069
218                            World                           NaN

                                          Child marriage (%)\n2010–2016*  \
    Unnamed: 4_level_1 Unnamed: 6_level_1             Unnamed: 8_level_1
206                NaN                NaN                       1.736340
207                NaN                NaN                            NaN
208                NaN                NaN                       0.670341
209                NaN                NaN                            NaN
210          13.218308           7.875630                            NaN
211           7.895845           5.920592                       2.917376
212                NaN                NaN                            NaN
213                NaN                NaN                            NaN
214          30.000000          29.000000                      11.929873
215          27.319728          24.190971                       9.000000
216          32.000000          32.000000                      14.149036
217          25.641442          23.746064                      12.000000
218                NaN                NaN                       6.044622

                        Birth registration (%)++\n2010–2016*  \
    Unnamed: 10_level_1                  Unnamed: 12_level_1
206           14.808604                            84.215049
207                 NaN                            99.490917
208           10.909944                            98.998894
209                 NaN                           100.000000
210                 NaN                            94.841470
211           16.717335                            92.178161
212                 NaN                           100.000000
213                 NaN                            60.401254
214           38.015353                            43.000000
215           34.927440                            41.000000
216           41.154282                            45.000000
217           40.398512                            40.000000
218           24.982415                            71.000000

    Female genital mutilation/cutting (%)+\n2004-2016*               \
                                            prevalence prevalence.2
206                                                NaN          NaN
207                                                NaN          NaN
208                                                NaN          NaN
209                                                NaN          NaN
210                                                NaN          NaN
211                                                NaN          NaN
212                                                NaN          NaN
213                                                NaN          NaN
214                                          36.758526    15.000000
215                                          44.626243    12.000000
216                                          30.556462    16.846072
217                                                NaN          NaN
218                                                NaN          NaN

               Justification of wife-beating (%)\n 2010–2016*  \
     attitudes                            Unnamed: 20_level_1
206        NaN                                            NaN
207        NaN                                            NaN
208        NaN                                            NaN
209        NaN                                            NaN
210        NaN                                            NaN
211        NaN                                            NaN
212        NaN                                            NaN
213        NaN                                            NaN
214  20.000000                                      34.000000
215  17.000000                                      32.000000
216  22.717152                                      34.892989
217        NaN                                      39.000000
218        NaN                                            NaN

                        Violent discipline (%)+\n2010–2016*  \
    Unnamed: 22_level_1                 Unnamed: 24_level_1
206           29.275148                                 NaN
207                 NaN                                 NaN
208           13.951358                                 NaN
209                 NaN                                 NaN
210                 NaN                                 NaN
211           44.573139                           86.989710
212                 NaN                                 NaN
213                 NaN                                 NaN
214           48.000000                                 NaN
215           48.000000                                 NaN
216           48.363444                           86.176898
217           49.000000                           78.651313
218                 NaN                                 NaN


    Unnamed: 26_level_1 Unnamed: 28_level_1
206                 NaN                 NaN
207                 NaN                 NaN
208                 NaN                 NaN
209                 NaN                 NaN
210                 NaN                 NaN
211           88.154811           85.798030
212                 NaN                 NaN
213                 NaN                 NaN
214                 NaN                 NaN
215                 NaN                 NaN
216           87.000000           86.464533
217           79.000000           78.049336
218                 NaN                 NaN

In [49]:
cp_8.tail()

                    Countries and areas Child labour (%)+\n2010–2016*  \
                     Unnamed: 1_level_1            Unnamed: 2_level_1
199  Venezuela (Bolivarian Republic of)                           7.7
200                            Viet Nam                          16.4
201                               Yemen                          22.7
202                              Zambia                          40.6
203                            Zimbabwe                           NaN

                                          Child marriage (%)\n2010–2016*  \
    Unnamed: 4_level_1 Unnamed: 6_level_1             Unnamed: 8_level_1
199                9.2                6.2                            NaN
200               16.6               16.2                           0.90
201               21.1               24.4                           9.40
202               41.6               39.5                           5.90
203                NaN                NaN                           3.71

                        Birth registration (%)++\n2010–2016*  \
    Unnamed: 10_level_1                  Unnamed: 12_level_1
199                 NaN                                 80.8
200                10.6                                 96.1
201                31.9                                 30.7
202                31.4                                 11.3
203                32.4                                 44.0

    Female genital mutilation/cutting (%)+\n2004-2016*                         \
                                            prevalence prevalence.2 attitudes
199                                                NaN          NaN       NaN
200                                                NaN          NaN       NaN
201                                               18.5         15.9      18.8
202                                                NaN          NaN       NaN
203                                                NaN          NaN       NaN

    Justification of wife-beating (%)\n 2010–2016*                      \
                               Unnamed: 20_level_1 Unnamed: 22_level_1
199                                            NaN                 NaN
200                                            NaN                28.2
201                                            NaN                48.7
202                                           31.7                46.9
203                                           32.8                38.7

    Violent discipline (%)+\n2010–2016*                      \
                    Unnamed: 24_level_1 Unnamed: 26_level_1
199                                 NaN                 NaN
200                                68.4                71.6
201                                79.2                81.2
202                                 NaN                 NaN
203                                62.6                63.2


    Unnamed: 28_level_1
199                 NaN
200                65.0
201                77.1
202                 NaN
203                62.0

In [50]:
for colname in cp_8.columns:
    print('Missing value count of {} : {}'.format(colname, cp_8[colname].isnull().sum()))
    
    # append to summary table
    to_append = ['8','Child Protection', colname, cp_8.columns.get_loc(colname), cp_8[colname].isnull().sum()]
    nan_df_length = len(nan_df)
    nan_df.loc[nan_df_length] = to_append

Missing value count of ('Countries and areas', 'Unnamed: 1_level_1') : 0
Missing value count of ('Child labour (%)+\n2010–2016*', 'Unnamed: 2_level_1') : 87
Missing value count of ('Child labour (%)+\n2010–2016*', 'Unnamed: 4_level_1') : 91
Missing value count of ('Child labour (%)+\n2010–2016*', 'Unnamed: 6_level_1') : 91
Missing value count of ('Child marriage (%)\n2010–2016*', 'Unnamed: 8_level_1') : 77
Missing value count of ('Child marriage (%)\n2010–2016*', 'Unnamed: 10_level_1') : 77
Missing value count of ('Birth registration (%)++\n2010–2016*', 'Unnamed: 12_level_1') : 33
Missing value count of ('Female genital mutilation/cutting (%)+\n2004-2016*', 'prevalence') : 173
Missing value count of ('Female genital mutilation/cutting (%)+\n2004-2016*', 'prevalence.2') : 173
Missing value count of ('Female genital mutilation/cutting (%)+\n2004-2016*', 'attitudes') : 173
Missing value count of ('Justification of wife-beating (%)\n 2010–2016*', 'Unnamed: 20_level_1') : 128
Missing value count of ('Justification of wife-beating (%)\n 2010–2016*', 'Unnamed: 22_level_1') : 87
Missing value count of ('Violent discipline (%)+\n2010–2016*', 'Unnamed: 24_level_1') : 123
Missing value count of ('Violent discipline (%)+\n2010–2016*', 'Unnamed: 26_level_1') : 127
Missing value count of ('Violent discipline (%)+\n2010–2016*', 'Unnamed: 28_level_1') : 127

In [51]:
nan_df

,Table_num,Table_name,Column_name,Column_loc,Missing_Value
0,1,BASIC INDICATORS,"(Countries and areas, Unnamed: 1_level_1)",0,0
1,1,BASIC INDICATORS,"(Under–5 mortality rank, Unnamed: 2_level_1)",1,7
2,1,BASIC INDICATORS,"(Under–5 mortality rate , 1990)",2,7
3,1,BASIC INDICATORS,"(Under–5 mortality rate , 2016)",3,7
4,1,BASIC INDICATORS,"(Under–5 mortality rate by sex\n2016, male)",4,7
...,...,...,...,...,...
140,8,Child Protection,(Justification of wife-beating (%)\n 2010–2016...,10,128
141,8,Child Protection,(Justification of wife-beating (%)\n 2010–2016...,11,87
142,8,Child Protection,"(Violent discipline (%)+\n2010–2016*, Unnamed:...",12,123
143,8,Child Protection,"(Violent discipline (%)+\n2010–2016*, Unnamed:...",13,127
144,8,Child Protection,"(Violent discipline (%)+\n2010–2016*, Unnamed:...",14,127

## 9. ADOLESCENTS

In [52]:
np.arange(5,26,2)

array([ 5,  7,  9, 11, 13, 15, 17, 19, 21, 23, 25])

In [53]:
adol_9 = pd.read_excel('IAC_5_Dataset.xlsx', sheet_name='Adolescents', skiprows=2,\
                     skipfooter=49,header =[1,2])
adol_9.drop(adol_9.columns[[0, 5, 7, 9, 11, 13, 15, 17, 19, 23, 25]], axis=1, inplace = True) # drop the columns
adol_9.drop(adol_9.index[[0,1]],inplace=True) # drop the first row
adol_9.replace(['–','x'], np.nan, inplace=True)
adol_9.head()

  Countries and areas  Adolescent population  \
   Unnamed: 1_level_1 Aged 10-19 (thousands)
2         Afghanistan               8587.193
3             Albania                446.031
4             Algeria               5941.965
5             Andorra                    NaN
6              Angola               6486.041

                                      \
  Proportion of total population (%)
2                          24.778350
3                          15.241899
4                          14.633200
5                                NaN
6                          22.510453

  Adolescents currently married/ in union                                                                  (%)\n2010-2016*  \
                                                                                                        Unnamed: 4_level_1
2                                                3.1
3                                                0.9
4                                                NaN
5                                                NaN
6                                                1.8

                     Births by age 18 (%) Adolescent birth rate  \
  Unnamed: 6_level_1   Unnamed: 8_level_1   Unnamed: 10_level_1
2               16.9                 20.4                  90.0
3                7.5                  2.5                  17.6
4                3.1                  0.8                  12.4
5                NaN                  NaN                   4.5
6               18.2                 38.4                 190.9

  Justification of wife-beating among adolescents                                                        (%)\n2010-2016*  \
                                                                                                     Unnamed: 12_level_1
2                                               70.6
3                                               36.6
4                                                NaN
5                                                NaN
6                                               24.0

                       \
  Unnamed: 14_level_1
2                78.3
3                23.8
4                55.0
5                 NaN
6                24.7

  Use of mass media among adolescents                                                   (%)\n2010-2016*  \
                                                                                    Unnamed: 16_level_1
2                                               69.7
3                                               97.4
4                                                NaN
5                                                NaN
6                                               84.0

                      Lower secondary school gross enrolment ratio  \
  Unnamed: 18_level_1                          Unnamed: 20_level_1
2                52.1                                     67.44762
3                99.2                                    101.48837
4                 NaN                                    132.01042
5                 NaN                                          NaN
6                77.0                                     35.81123

  Upper secondary school gross enrolment ratio  \
                           Unnamed: 21_level_1
2                                     42.61313
3                                     89.46027
4                                     62.72114
5                                          NaN
6                                     21.09862

  Comprehensive knowledge of HIV among adolescents       (%)                       2011–2016*  \
                                                                          Unnamed: 22_level_1
2                                                4.3
3                                               21.2
4                                                NaN
5                                                NaN
6                                               29.4


  Unnamed: 24_level_1
2                 0.6
3                35.8
4                 6.8
5                 NaN
6                31.1

### Summary Table

In [54]:
adol_9_sum = pd.read_excel('IAC_5_Dataset.xlsx', sheet_name='Adolescents', skiprows=2,\
                     skipfooter=34,header =[1,2])
adol_9_sum.drop(adol_9_sum.columns[[0, 5, 7, 9, 11, 13, 15, 17, 19, 23, 25]], axis=1, inplace = True) # drop the columns
adol_9_sum.drop(adol_9_sum.index[0:206],inplace=True) # drop the first row
adol_9_sum.replace(['–','x'], np.nan, inplace=True)
print(adol_9_sum.shape)
adol_9_sum.head(20)

(13, 15)

                 Countries and areas  Adolescent population  \
                  Unnamed: 1_level_1 Aged 10-19 (thousands)
206            East Asia and Pacific             297721.195
207          Europe and Central Asia             101794.843
208  Eastern Europe and Central Asia              50902.562
209                   Western Europe              50892.281
210      Latin America and Caribbean             109828.534
211     Middle East and North Africa              73652.697
212                    North America              45978.336
213                       South Asia             340270.131
214               Sub-Saharan Africa             232069.048
215      Eastern and Southern Africa             122663.391
216          West and Central Africa             109405.657
217        Least developed countries             217756.480
218                            World            1201314.784

                                        \
    Proportion of total population (%)
206                          12.992462
207                          11.208895
208                          12.209353
209                          10.359820
210                          17.329328
211                          16.922889
212                          12.826292
213                          19.267962
214                          22.440488
215                          22.623014
216                          22.239315
217                          22.233936
218                          16.174394

    Adolescents currently married/ in union                                                                  (%)\n2010-2016*  \
                                                                                                          Unnamed: 4_level_1
206                                           1.598292
207                                                NaN
208                                                NaN
209                                                NaN
210                                           2.960725
211                                                NaN
212                                                NaN
213                                                NaN
214                                           1.775310
215                                           2.481115
216                                           1.316462
217                                           2.000000
218                                                NaN

                       Births by age 18 (%) Adolescent birth rate  \
    Unnamed: 6_level_1   Unnamed: 8_level_1   Unnamed: 10_level_1
206           5.675511                  6.9                  21.2
207                NaN                  NaN                  19.1
208           7.308496                  4.3                  29.0
209                NaN                  NaN                  10.6
210          10.898281                 18.5                  74.3
211          12.829247                  7.9                  41.0
212                NaN                  NaN                  25.3
213                NaN                 20.4                  44.3
214          23.000000                 27.8                 122.0
215          20.000000                 26.3                 112.8
216          26.697533                 29.2                 129.8
217          26.206596                 26.6                 112.0
218          15.959570                 17.7                  50.4

    Justification of wife-beating among adolescents                                                        (%)\n2010-2016*  \
                                                                                                       Unnamed: 12_level_1
206                                          43.147139
207                                                NaN
208                                                NaN
209                                                NaN
210                                                NaN
211                                                NaN
212                                                NaN
213                                                NaN
214                                          39.000000
215                                          38.000000
216                                          41.000000
217                                          45.000000
218                                                NaN

                         \
    Unnamed: 14_level_1
206           34.310435
207                 NaN
208           11.619426
209                 NaN
210                 NaN
211           48.971060
212                 NaN
213                 NaN
214           49.432146
215           49.000000
216           48.000000
217           50.000000
218           35.203647

    Use of mass media among adolescents                                                   (%)\n2010-2016*  \
                                                                                      Unnamed: 16_level_1
206                                                NaN
207                                                NaN
208                                                NaN
209                                                NaN
210                                                NaN
211                                                NaN
212                                                NaN
213                                                NaN
214                                          61.031647
215                                          64.000000
216                                          58.000000
217                                          61.747973
218                                                NaN

                        Lower secondary school gross enrolment ratio  \
    Unnamed: 18_level_1                          Unnamed: 20_level_1
206           89.029446                                    96.252934
207                 NaN                                   104.213615
208                 NaN                                    99.698630
209                 NaN                                   109.269294
210                 NaN                                   106.536436
211                 NaN                                    95.681168
212                 NaN                                   101.936698
213                 NaN                                    83.370451
214           54.000000                                    52.946133
215           56.000000                                    52.356423
216           52.000000                                    53.507197
217           57.074369                                    55.422378
218                 NaN                                    86.389010

    Upper secondary school gross enrolment ratio  \
                             Unnamed: 21_level_1
206                                    86.820967
207                                   111.613841
208                                   102.093449
209                                   119.262991
210                                    81.432100
211                                    70.132842
212                                    96.279848
213                                    58.592145
214                                    37.438403
215                                    31.411602
216                                    41.699214
217                                    33.323183
218                                    69.873346

    Comprehensive knowledge of HIV among adolescents       (%)                       2011–2016*  \
                                                                            Unnamed: 22_level_1
206                                          13.198484
207                                                NaN
208                                                NaN
209                                                NaN
210                                                NaN
211                                                NaN
212                                                NaN
213                                           7.533688
214                                          30.979181
215                                          36.161302
216                                          25.738019
217                                          27.298066
218                                                NaN


    Unnamed: 24_level_1
206           21.936058
207                 NaN
208                 NaN
209                 NaN
210                 NaN
211                 NaN
212                 NaN
213            6.297516
214           27.446772
215           34.933199
216           20.354348
217           22.572443
218           20.976816

In [55]:
adol_9.tail(20)

                    Countries and areas  Adolescent population  \
                     Unnamed: 1_level_1 Aged 10-19 (thousands)
184                 Trinidad and Tobago                176.520
185                             Tunisia               1617.914
186                              Turkey              13335.450
187                        Turkmenistan                954.346
188            Turks and Caicos Islands                    NaN
189                              Tuvalu                    NaN
190                              Uganda               9920.273
191                             Ukraine               4059.028
192                United Arab Emirates                681.962
193                      United Kingdom               7308.912
194         United Republic of Tanzania              12504.919
195                       United States              42010.057
196                             Uruguay                507.500
197                          Uzbekistan               5359.925
198                             Vanuatu                 54.311
199  Venezuela (Bolivarian Republic of)               5655.265
200                            Viet Nam              13604.645
201                               Yemen               6297.324
202                              Zambia               3955.801
203                            Zimbabwe               3557.014

                                        \
    Proportion of total population (%)
184                          12.932228
185                          14.188186
186                          16.771530
187                          16.853662
188                                NaN
189                                NaN
190                          23.911207
191                           9.134009
192                           7.356964
193                          11.109698
194                          22.502112
195                          13.039328
196                          14.735747
197                          17.044424
198                          20.085280
199                          17.914448
200                          14.385935
201                          22.829450
202                          23.842493
203                          22.024361

    Adolescents currently married/ in union                                                                  (%)\n2010-2016*  \
                                                                                                          Unnamed: 4_level_1
184                                                NaN
185                                                NaN
186                                                NaN
187                                                NaN
188                                                NaN
189                                                2.0
190                                                1.8
191                                                0.3
192                                                NaN
193                                                NaN
194                                                1.5
195                                                NaN
196                                                NaN
197                                                NaN
198                                                3.5
199                                                NaN
200                                                NaN
201                                                NaN
202                                                1.1
203                                                0.9

                       Births by age 18 (%) Adolescent birth rate  \
    Unnamed: 6_level_1   Unnamed: 8_level_1   Unnamed: 10_level_1
184                6.3                  NaN                  35.5
185                1.2                  0.5                   6.8
186                7.1                  5.7                  29.3
187                6.0                  1.4                  21.0
188                NaN                  NaN                  28.9
189                8.0                  3.2                  42.0
190               20.0                 33.0                 140.0
191                6.5                  4.4                  27.2
192                NaN                  NaN                  34.2
193                NaN                  NaN                  20.5
194               23.0                 22.4                 128.0
195                NaN                  NaN                  26.6
196                7.4                  NaN                  60.0
197                4.9                  1.8                  25.5
198               11.4                 13.3                  78.0
199               15.7                 23.7                 101.2
200               10.3                  4.7                  36.0
201               17.1                 16.9                  67.0
202               16.9                 30.7                 145.0
203               19.6                 22.0                 120.0

    Justification of wife-beating among adolescents                                                        (%)\n2010-2016*  \
                                                                                                       Unnamed: 12_level_1
184                                                NaN
185                                                NaN
186                                                NaN
187                                                NaN
188                                                NaN
189                                               83.1
190                                               52.2
191                                                1.6
192                                                NaN
193                                                NaN
194                                               49.6
195                                                NaN
196                                                NaN
197                                               62.8
198                                               62.5
199                                                NaN
200                                                NaN
201                                                NaN
202                                               40.6
203                                               48.9

                         \
    Unnamed: 14_level_1
184                 9.5
185                26.7
186                10.0
187                17.0
188                 NaN
189                69.0
190                61.8
191                 2.2
192                 NaN
193                 NaN
194                59.1
195                 NaN
196                 3.3
197                63.0
198                55.9
199                 NaN
200                28.1
201                48.5
202                48.6
203                53.5

    Use of mass media among adolescents                                                   (%)\n2010-2016*  \
                                                                                      Unnamed: 16_level_1
184                                                NaN
185                                                NaN
186                                                NaN
187                                                NaN
188                                                NaN
189                                               88.9
190                                               87.7
191                                               96.8
192                                                NaN
193                                                NaN
194                                               61.4
195                                                NaN
196                                                NaN
197                                                NaN
198                                               58.2
199                                                NaN
200                                                NaN
201                                                NaN
202                                               75.3
203                                               56.9

                        Lower secondary school gross enrolment ratio  \
    Unnamed: 18_level_1                          Unnamed: 20_level_1
184                 NaN                                          NaN
185                98.3                                    102.72287
186                 NaN                                     98.83901
187                99.6                                     73.38565
188                 NaN                                          NaN
189                95.4                                     99.41383
190                81.7                                          NaN
191                96.1                                    102.30148
192                 NaN                                     92.38861
193                 NaN                                    112.71414
194                56.7                                     42.84153
195                 NaN                                    102.05845
196                 NaN                                    109.52839
197                 NaN                                     97.00646
198                57.7                                     69.53981
199                 NaN                                     96.90729
200                96.9                                     96.97907
201                85.0                                     58.14347
202                69.1                                     62.81236
203                53.0                                     68.09738

    Upper secondary school gross enrolment ratio  \
                             Unnamed: 21_level_1
184                                          NaN
185                                     77.87022
186                                    106.12312
187                                    120.32196
188                                          NaN
189                                     55.67823
190                                          NaN
191                                     92.64923
192                                          NaN
193                                    138.23592
194                                      9.00075
195                                     93.28660
196                                     80.90655
197                                     95.35931
198                                     34.16571
199                                     78.62962
200                                          NaN
201                                     38.94230
202                                          NaN
203                                     36.96362

    Comprehensive knowledge of HIV among adolescents       (%)                       2011–2016*  \
                                                                            Unnamed: 22_level_1
184                                                NaN
185                                                NaN
186                                                NaN
187                                                NaN
188                                                NaN
189                                               57.2
190                                               40.2
191                                               36.6
192                                                NaN
193                                                NaN
194                                               41.9
195                                                NaN
196                                                NaN
197                                                NaN
198                                                NaN
199                                                NaN
200                                                NaN
201                                                NaN
202                                               42.3
203                                               41.4


    Unnamed: 24_level_1
184                49.1
185                15.3
186                 NaN
187                18.6
188                 NaN
189                31.1
190                40.7
191                42.6
192                 NaN
193                 NaN
194                36.8
195                 NaN
196                36.4
197                27.2
198                14.2
199                 NaN
200                50.5
201                 2.0
202                38.9
203                41.4

In [56]:
for colname in adol_9.columns:
    print('Missing value count of {} : {}'.format(colname, adol_9[colname].isnull().sum()))
    
    # append to summary table
    to_append = ['9','Adolescents', colname, adol_9.columns.get_loc(colname), adol_9[colname].isnull().sum()]
    nan_df_length = len(nan_df)
    nan_df.loc[nan_df_length] = to_append

Missing value count of ('Countries and areas', 'Unnamed: 1_level_1') : 0
Missing value count of ('Adolescent population', 'Aged 10-19 (thousands)') : 18
Missing value count of ('Adolescent population', 'Proportion of total population (%)') : 18
Missing value count of ('Adolescents currently married/ in union                                                                  (%)\n2010-2016*', 'Unnamed: 4_level_1') : 120
Missing value count of ('Adolescents currently married/ in union                                                                  (%)\n2010-2016*', 'Unnamed: 6_level_1') : 72
Missing value count of ('Births by age 18 (%)', 'Unnamed: 8_level_1') : 86
Missing value count of ('Adolescent birth rate', 'Unnamed: 10_level_1') : 3
Missing value count of ('Justification of wife-beating among adolescents                                                        (%)\n2010-2016*', 'Unnamed: 12_level_1') : 130
Missing value count of ('Justification of wife-beating among adolescents                                                        (%)\n2010-2016*', 'Unnamed: 14_level_1') : 87
Missing value count of ('Use of mass media among adolescents                                                   (%)\n2010-2016*', 'Unnamed: 16_level_1') : 131
Missing value count of ('Use of mass media among adolescents                                                   (%)\n2010-2016*', 'Unnamed: 18_level_1') : 107
Missing value count of ('Lower secondary school gross enrolment ratio', 'Unnamed: 20_level_1') : 18
Missing value count of ('Upper secondary school gross enrolment ratio', 'Unnamed: 21_level_1') : 32
Missing value count of ('Comprehensive knowledge of HIV among adolescents       (%)                       2011–2016*', 'Unnamed: 22_level_1') : 116
Missing value count of ('Comprehensive knowledge of HIV among adolescents       (%)                       2011–2016*', 'Unnamed: 24_level_1') : 91

In [57]:
nan_df

,Table_num,Table_name,Column_name,Column_loc,Missing_Value
0,1,BASIC INDICATORS,"(Countries and areas, Unnamed: 1_level_1)",0,0
1,1,BASIC INDICATORS,"(Under–5 mortality rank, Unnamed: 2_level_1)",1,7
2,1,BASIC INDICATORS,"(Under–5 mortality rate , 1990)",2,7
3,1,BASIC INDICATORS,"(Under–5 mortality rate , 2016)",3,7
4,1,BASIC INDICATORS,"(Under–5 mortality rate by sex\n2016, male)",4,7
...,...,...,...,...,...
155,9,Adolescents,(Use of mass media among adolescents ...,10,107
156,9,Adolescents,"(Lower secondary school gross enrolment ratio,...",11,18
157,9,Adolescents,"(Upper secondary school gross enrolment ratio,...",12,32
158,9,Adolescents,(Comprehensive knowledge of HIV among adolesce...,13,116
159,9,Adolescents,(Comprehensive knowledge of HIV among adolesce...,14,91

## 10. Disparities by Residence

In [58]:
np.arange(3,38,2)

array([ 3,  5,  7,  9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35,
       37])

In [59]:
disR_10 = pd.read_excel('IAC_5_Dataset.xlsx', sheet_name='Disparities by Residence', skiprows=2,\
                     skipfooter=51,header =[1,2])
disR_10.drop(disR_10.columns[[0, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37]], axis=1, inplace = True) # drop the columns
disR_10.replace(['–','x'], np.nan, inplace=True)
disR_10.head()

  Countries and areas Birth registration (%)++\n2010–2016*        \
   Unnamed: 1_level_1                                Urban Rural
0         Afghanistan                                 63.5  36.0
1             Albania                                 99.0  98.4
2             Algeria                                 99.7  99.5
3             Andorra                                  NaN   NaN
4              Angola                                 32.9  13.6

                          Skilled birth attendant (%) \n2011–2016*        \
  Ratio of urban to rural                                    Urban Rural
0                1.763889                                     78.9  42.1
1                1.006098                                     99.9  99.0
2                1.002010                                     97.8  94.8
3                     NaN                                      NaN   NaN
4                2.419118                                     68.1  21.4

                           \
  Ratio of urban to rural
0                1.874109
1                1.009091
2                1.031646
3                     NaN
4                3.182243

  Stunting prevalence in children under 5 (moderate & severe)θ (%) \n2011–2016*  \
                                                                          Urban
0                                                NaN
1                                               22.7
2                                               11.3
3                                                NaN
4                                               31.8

                                 ...  \
  Rural Ratio of rural to urban  ...
0   NaN                     NaN  ...
1  23.4                1.030837  ...
2  12.3                1.088496  ...
3   NaN                     NaN  ...
4  45.7                1.437107  ...

  Oral rehydration salts (ORS) treatment for children with diarrhoea (%)\n2011-2016*  \
                                                             Ratio of urban to rural
0                                           0.927813
1                                                NaN
2                                           0.953846
3                                                NaN
4                                           1.512422

  Primary school net attendance ratio\n2011-2016*        \
                                            Urban Rural
0                                            80.3  58.6
1                                            93.3  91.7
2                                            97.7  97.1
3                                             NaN   NaN
4                                            83.9  61.3

                           \
  Ratio of urban to rural
0                1.370307
1                1.017448
2                1.006179
3                     NaN
4                1.368679

  Comprehensive knowledge of HIV/AIDS (%)\nFemales 15-24\n2011-2016*         \
                                                                Urban Rural
0                                                1.7                    0.8
1                                               50.5                   25.7
2                                               11.0                    6.6
3                                                NaN                    NaN
4                                               41.5                    9.4

                           \
  Ratio of urban to rural
0                2.125000
1                1.964981
2                1.666667
3                     NaN
4                4.414894

  Use of basic sanitation services            (%)                                        2015  \
                                                                                        Urban
0                                          56.404706
1                                          98.288014
2                                          89.672369
3                                         100.000000
4                                          62.347862


        Rural Ratio of urban to rural
0   32.959991                1.711308
1   96.885533                1.014476
2   82.209238                1.090782
3  100.000000                1.000000
4   21.385504                2.915426

[5 rows x 22 columns]

### Summary Table

In [60]:
disR_10_sum = pd.read_excel('IAC_5_Dataset.xlsx', sheet_name='Disparities by Residence', skiprows=2,\
                     skipfooter=36,header =[1,2])
disR_10_sum.drop(disR_10_sum.columns[[0, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37]], axis=1, inplace = True) # drop the columns
disR_10_sum.drop(disR_10_sum.index[0:204],inplace=True) # drop the first row
disR_10_sum.replace(['–','x'], np.nan, inplace=True)
print(disR_10_sum.shape)
disR_10_sum.head(20)

(13, 22)

                 Countries and areas Birth registration (%)++\n2010–2016*  \
                  Unnamed: 1_level_1                                Urban
204            East Asia and Pacific                            84.955757
205          Europe and Central Asia                                  NaN
206  Eastern Europe and Central Asia                            98.944935
207                   Western Europe                                  NaN
208      Latin America and Caribbean                            95.883134
209     Middle East and North Africa                            96.078586
210                    North America                                  NaN
211                       South Asia                            72.686045
212               Sub-Saharan Africa                            57.000000
213      Eastern and Southern Africa                            52.000000
214          West and Central Africa                            60.193933
215        Least developed countries                            52.000000
216                            World                            82.000000

                                        \
         Rural Ratio of urban to rural
204  76.862996                1.105288
205        NaN                     NaN
206  97.179486                1.018167
207        NaN                     NaN
208  92.807599                1.033139
209  86.746138                1.107583
210        NaN                     NaN
211  55.590677                1.307522
212  35.000000                1.600000
213  33.000000                1.600000
214  37.987623                1.584567
215  36.000000                1.500000
216  59.000000                1.361206

    Skilled birth attendant (%) \n2011–2016*                                \
                                       Urban Rural Ratio of urban to rural
204                                     97.7  90.7                1.077178
205                                      NaN   NaN                     NaN
206                                     98.7  96.2                1.025988
207                                      NaN   NaN                     NaN
208                                      NaN   NaN                     NaN
209                                     93.4  75.8                1.232190
210                                      NaN   NaN                     NaN
211                                     84.0  68.0                1.235294
212                                     80.0  45.9                1.742919
213                                     85.9  49.8                1.724900
214                                     76.2  41.3                1.845036
215                                     80.8  47.6                1.697479
216                                     89.2  66.5                1.341353

    Stunting prevalence in children under 5 (moderate & severe)θ (%) \n2011–2016*  \
                                                                            Urban
204                                          12.531134
205                                                NaN
206                                           9.986181
207                                                NaN
208                                          12.914936
209                                          17.203990
210                                                NaN
211                                          31.932674
212                                          26.215651
213                                          26.195275
214                                          26.235175
215                                          28.107747
216                                          22.666142

                                        ...  \
         Rural Ratio of rural to urban  ...
204  20.745295                1.655500  ...
205        NaN                     NaN  ...
206  14.358605                1.437847  ...
207        NaN                     NaN  ...
208  23.281481                1.802679  ...
209  20.544133                1.194149  ...
210        NaN                     NaN  ...
211  41.946875                1.293010  ...
212  39.229056                1.496398  ...
213  38.000000                1.526993  ...
214  40.000000                1.544758  ...
215  40.209145                1.430536  ...
216  32.414831                1.419979  ...

    Oral rehydration salts (ORS) treatment for children with diarrhoea (%)\n2011-2016*  \
                                                               Ratio of urban to rural
204                                           1.076754
205                                                NaN
206                                                NaN
207                                                NaN
208                                                NaN
209                                           0.985348
210                                                NaN
211                                           1.163265
212                                           1.208333
213                                           1.195431
214                                           1.288401
215                                           1.159145
216                                           1.132388

    Primary school net attendance ratio\n2011-2016*             \
                                              Urban      Rural
204                                       97.551306  96.435514
205                                             NaN        NaN
206                                       95.577473  95.698109
207                                             NaN        NaN
208                                       94.971286  93.055546
209                                       95.805397  90.556670
210                                             NaN        NaN
211                                       86.367635  79.039311
212                                       86.412830  68.437316
213                                       87.393234  72.555901
214                                       85.870171  61.358757
215                                       87.114761  72.425747
216                                       91.850226  80.609285

                             \
    Ratio of urban to rural
204                1.010239
205                     NaN
206                0.999527
207                     NaN
208                1.009947
209                1.045937
210                     NaN
211                1.105927
212                1.319907
213                1.205291
214                1.428359
215                1.245630
216                1.129172

    Comprehensive knowledge of HIV/AIDS (%)\nFemales 15-24\n2011-2016*   \
                                                                  Urban
204                                          29.408942
205                                                NaN
206                                                NaN
207                                                NaN
208                                                NaN
209                                                NaN
210                                                NaN
211                                          13.232041
212                                          36.903777
213                                          45.283260
214                                          28.049267
215                                          31.222201
216                                          29.990872

                                        \
         Rural Ratio of urban to rural
204  22.542484                1.304601
205        NaN                     NaN
206        NaN                     NaN
207        NaN                     NaN
208        NaN                     NaN
209        NaN                     NaN
210        NaN                     NaN
211   7.398232                1.788541
212  23.417660                1.575895
213  29.566875                1.531554
214  16.919851                1.657773
215  18.262397                1.709644
216  20.340154                1.474466

    Use of basic sanitation services            (%)                                        2015  \
                                                                                          Urban
204                                          87.397913
205                                          97.506945
206                                          95.498485
207                                          98.967324
208                                          90.003996
209                                          93.753955
210                                          99.839191
211                                          65.331959
212                                          41.593576
213                                          47.678840
214                                          36.957798
215                                          46.194707
216                                          83.159245


         Rural Ratio of urban to rural
204  63.470197                1.376991
205  92.346400                1.055882
206  87.047972                1.097079
207  98.831714                1.001372
208  68.363815                1.316544
209  81.355916                1.152393
210  99.745041                1.000944
211  37.195225                1.756461
212  20.213979                2.057664
213  21.348767                2.233330
214  18.684942                1.977946
215  25.933780                1.781256
216  50.380982                1.650608

[13 rows x 22 columns]

In [61]:
disR_10.tail(10)

                    Countries and areas Birth registration (%)++\n2010–2016*  \
                     Unnamed: 1_level_1                                Urban
192         United Republic of Tanzania                                 50.9
193                       United States                                  NaN
194                             Uruguay                                 99.8
195                          Uzbekistan                                100.0
196                             Vanuatu                                 60.8
197  Venezuela (Bolivarian Republic of)                                  NaN
198                            Viet Nam                                 96.7
199                               Yemen                                 48.2
200                              Zambia                                 20.4
201                            Zimbabwe                                 66.7

                                  Skilled birth attendant (%) \n2011–2016*  \
    Rural Ratio of urban to rural                                    Urban
192  17.7                2.875706                                     86.8
193   NaN                     NaN                                      NaN
194  99.9                0.998999                                     98.2
195  99.9                1.001001                                    100.0
196  36.7                1.656676                                     95.7
197   NaN                     NaN                                      NaN
198  95.8                1.009395                                     99.0
199  24.1                2.000000                                     73.0
200   6.7                3.044776                                     87.8
201  34.3                1.944606                                     92.9

                                    \
     Rural Ratio of urban to rural
192   54.8                1.583942
193    NaN                     NaN
194   98.0                1.002041
195  100.0                1.000000
196   87.0                1.100000
197    NaN                     NaN
198   91.6                1.080786
199   34.1                2.140762
200   50.6                1.735178
201   71.3                1.302945

    Stunting prevalence in children under 5 (moderate & severe)θ (%) \n2011–2016*  \
                                                                            Urban
192                                               24.7
193                                                NaN
194                                                NaN
195                                                 18
196                                               19.1
197                                                NaN
198                                               11.8
199                                               33.7
200                                                 36
201                                               22.1

                                   ...  \
    Rural Ratio of rural to urban  ...
192  37.8                1.530364  ...
193   NaN                     NaN  ...
194   NaN                     NaN  ...
195  19.0                1.055556  ...
196  31.5                1.649215  ...
197   NaN                     NaN  ...
198  26.8                2.271186  ...
199  51.4                1.525223  ...
200  42.1                1.169444  ...
201  28.5                1.289593  ...

    Oral rehydration salts (ORS) treatment for children with diarrhoea (%)\n2011-2016*  \
                                                               Ratio of urban to rural
192                                           1.040724
193                                                NaN
194                                                NaN
195                                           1.120915
196                                           0.736434
197                                                NaN
198                                           1.191837
199                                           0.933852
200                                           1.093700
201                                           1.227513

    Primary school net attendance ratio\n2011-2016*             \
                                              Urban      Rural
192                                       91.100000  77.400000
193                                             NaN        NaN
194                                       97.123758  97.116587
195                                             NaN        NaN
196                                       77.100000  77.200000
197                                             NaN        NaN
198                                       98.360390  97.447502
199                                       85.389474  73.036602
200                                       92.374853  84.095548
201                                       97.600000  94.100000

                             \
    Ratio of urban to rural
192                1.177003
193                     NaN
194                1.000074
195                     NaN
196                0.998705
197                     NaN
198                1.009368
199                1.169133
200                1.098451
201                1.037194

    Comprehensive knowledge of HIV/AIDS (%)\nFemales 15-24\n2011-2016*         \
                                                                  Urban Rural
192                                               51.9                   35.7
193                                                NaN                    NaN
194                                               34.4                    NaN
195                                               32.8                   30.3
196                                               22.5                   12.8
197                                                NaN                    NaN
198                                               53.6                   47.4
199                                                4.0                    0.6
200                                               49.9                   33.5
201                                               55.7                   40.8

                             \
    Ratio of urban to rural
192                1.453782
193                     NaN
194                     NaN
195                1.082508
196                1.757812
197                     NaN
198                1.130802
199                6.666667
200                1.489552
201                1.365196

    Use of basic sanitation services            (%)                                        2015  \
                                                                                          Urban
192                                          37.201787
193                                          99.989156
194                                          95.715230
195                                         100.000000
196                                          61.432797
197                                          97.739565
198                                          90.986262
199                                          89.932402
200                                          48.995454
201                                          53.933167


          Rural Ratio of urban to rural
192   17.217402                2.160709
193   99.882508                1.001068
194   94.855369                1.009065
195  100.000000                1.000000
196   50.651295                1.212857
197   72.261130                1.352588
198   71.788264                1.267425
199   43.674760                2.059139
200   18.724212                2.616690
201   31.242187                1.726293

[10 rows x 22 columns]

In [62]:
for colname in disR_10.columns:
    print('Missing value count of {} : {}'.format(colname, disR_10[colname].isnull().sum()))
    
    # append to summary table
    to_append = ['10','Disparities by Residence', colname, disR_10.columns.get_loc(colname), disR_10[colname].isnull().sum()]
    nan_df_length = len(nan_df)
    nan_df.loc[nan_df_length] = to_append

Missing value count of ('Countries and areas', 'Unnamed: 1_level_1') : 0
Missing value count of ('Birth registration (%)++\n2010–2016*', 'Urban') : 87
Missing value count of ('Birth registration (%)++\n2010–2016*', 'Rural') : 87
Missing value count of ('Birth registration (%)++\n2010–2016*', 'Ratio of urban to rural') : 87
Missing value count of ('Skilled birth attendant (%) \n2011–2016*', 'Urban') : 76
Missing value count of ('Skilled birth attendant (%) \n2011–2016*', 'Rural') : 76
Missing value count of ('Skilled birth attendant (%) \n2011–2016*', 'Ratio of urban to rural') : 76
Missing value count of ('Stunting prevalence in children under 5 (moderate & severe)θ (%) \n2011–2016*', 'Urban') : 88
Missing value count of ('Stunting prevalence in children under 5 (moderate & severe)θ (%) \n2011–2016*', 'Rural') : 88
Missing value count of ('Stunting prevalence in children under 5 (moderate & severe)θ (%) \n2011–2016*', 'Ratio of rural to urban') : 89
Missing value count of ('Oral rehydration salts (ORS) treatment for children with diarrhoea (%)\n2011-2016*', 'Urban') : 105
Missing value count of ('Oral rehydration salts (ORS) treatment for children with diarrhoea (%)\n2011-2016*', 'Rural') : 105
Missing value count of ('Oral rehydration salts (ORS) treatment for children with diarrhoea (%)\n2011-2016*', 'Ratio of urban to rural') : 105
Missing value count of ('Primary school net attendance ratio\n2011-2016*', 'Urban') : 92
Missing value count of ('Primary school net attendance ratio\n2011-2016*', 'Rural') : 92
Missing value count of ('Primary school net attendance ratio\n2011-2016*', 'Ratio of urban to rural') : 92
Missing value count of ('Comprehensive knowledge of HIV/AIDS (%)\nFemales 15-24\n2011-2016* ', 'Urban') : 96
Missing value count of ('Comprehensive knowledge of HIV/AIDS (%)\nFemales 15-24\n2011-2016* ', 'Rural') : 97
Missing value count of ('Comprehensive knowledge of HIV/AIDS (%)\nFemales 15-24\n2011-2016* ', 'Ratio of urban to rural') : 97
Missing value count of ('Use of basic sanitation services            (%)                                        2015', 'Urban') : 29
Missing value count of ('Use of basic sanitation services            (%)                                        2015', 'Rural') : 32
Missing value count of ('Use of basic sanitation services            (%)                                        2015', 'Ratio of urban to rural') : 32

In [63]:
nan_df

,Table_num,Table_name,Column_name,Column_loc,Missing_Value
0,1,BASIC INDICATORS,"(Countries and areas, Unnamed: 1_level_1)",0,0
1,1,BASIC INDICATORS,"(Under–5 mortality rank, Unnamed: 2_level_1)",1,7
2,1,BASIC INDICATORS,"(Under–5 mortality rate , 1990)",2,7
3,1,BASIC INDICATORS,"(Under–5 mortality rate , 2016)",3,7
4,1,BASIC INDICATORS,"(Under–5 mortality rate by sex\n2016, male)",4,7
...,...,...,...,...,...
177,10,Disparities by Residence,(Comprehensive knowledge of HIV/AIDS (%)\nFema...,17,97
178,10,Disparities by Residence,(Comprehensive knowledge of HIV/AIDS (%)\nFema...,18,97
179,10,Disparities by Residence,(Use of basic sanitation services (...,19,29
180,10,Disparities by Residence,(Use of basic sanitation services (...,20,32
181,10,Disparities by Residence,(Use of basic sanitation services (...,21,32

## 11. Disparities by Household Wealth

In [64]:
np.arange(3,44,2)

array([ 3,  5,  7,  9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35,
       37, 39, 41, 43])

In [65]:
disH_11 = pd.read_excel('IAC_5_Dataset.xlsx', sheet_name='Disparities by Household Wealth', skiprows=2,\
                     skipfooter=49,header =[1,2])
disH_11.drop(disH_11.columns[[0, 3,  5,  7,  9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35,
       37, 39, 41, 43]], axis=1, inplace = True) # drop the columns
#disH_11.drop(disH_11.index[[0,1]],inplace=True) # drop the first row
disH_11.replace(['–','x'], np.nan, inplace=True)
disH_11.head()

  Countries and areas Birth registration (%)++\n2010–2016*              \
   Unnamed: 1_level_1                          poorest 20% richest 20%
0         Afghanistan                                 29.8        69.9
1             Albania                                 98.1        99.2
2             Algeria                                 98.8        99.9
3             Andorra                                  NaN         NaN
4              Angola                                  9.6        54.9

                               \
  Ratio of richest to poorest
0                    2.345638
1                    1.011213
2                    1.011134
3                         NaN
4                    5.718750

  Skilled birth attendant                    (%) \n2011–2016*              \
                                                  poorest 20% richest 20%
0                                               24.0                 85.2
1                                               98.4                100.0
2                                               94.6                 98.7
3                                                NaN                  NaN
4                                               17.2                 89.6

                               \
  Ratio of richest to poorest
0                    3.550000
1                    1.016260
2                    1.043340
3                         NaN
4                    5.209302

  Stunting prevalence in children under 5 (moderate & severe)θ (%) \n2011–2016*  \
                                                                    poorest 20%
0                                               49.4
1                                                 27
2                                                2.6
3                                                NaN
4                                               47.3

                                           ...  \
  richest 20% Ratio of poorest to richest  ...
0        31.1                    1.588424  ...
1        13.0                    2.076923  ...
2        10.6                    0.245283  ...
3         NaN                         NaN  ...
4         7.0                    6.757143  ...

  Oral rehydration salts (ORS) treatment for children with diarrhoea (%)\n2011-2016*  \
                                                         Ratio of richest to poorest
0                                           0.929360
1                                                NaN
2                                           1.462264
3                                                NaN
4                                           1.948805

  Primary school net attendance ratio\n2011-2016*              \
                                      poorest 20% richest 20%
0                                            59.4        83.3
1                                            91.1        93.6
2                                            96.3        98.2
3                                             NaN         NaN
4                                            55.9        94.9

                               \
  Ratio of richest to poorest
0                    1.402357
1                    1.027442
2                    1.019730
3                         NaN
4                    1.697674

  Comprehensive knowledge of HIV/AIDS (%)\nFemales 15-24\n2011-2016*  \
                                                         poorest 20%
0                                                0.2
1                                               19.9
2                                                4.3
3                                                NaN
4                                                7.9

                                           \
  richest 20% Ratio of richest to poorest
0         4.6                   23.000000
1        60.2                    3.025126
2        16.5                    3.837209
3         NaN                         NaN
4        57.5                    7.278481

  Comprehensive knowledge of HIV/AIDS (%)\nMales 15-24\n2011-2016*  \
                                                       poorest 20%
0                                                NaN
1                                               10.1
2                                                NaN
3                                                NaN
4                                                9.7


  richest 20% Ratio of richest to poorest
0         NaN                         NaN
1        38.0                    3.762376
2         NaN                         NaN
3         NaN                         NaN
4        46.3                    4.773196

[5 rows x 22 columns]

### Summary Table

In [66]:
disH_11_sum = pd.read_excel('IAC_5_Dataset.xlsx', sheet_name='Disparities by Household Wealth', skiprows=2,\
                     skipfooter=34,header =[1,2])
disH_11_sum.drop(disH_11_sum.columns[[0, 3,  5,  7,  9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35,
       37, 39, 41, 43]], axis=1, inplace = True) # drop the columns
disH_11_sum.drop(disH_11_sum.index[0:204],inplace=True) # drop the first row
disH_11_sum.replace(['–','x'], np.nan, inplace=True)
print(disH_11_sum.shape)
disH_11_sum.head(20)

(13, 22)

                 Countries and areas Birth registration (%)++\n2010–2016*  \
                  Unnamed: 1_level_1                          poorest 20%
204            East Asia and Pacific                            59.044218
205          Europe and Central Asia                                  NaN
206  Eastern Europe and Central Asia                            97.608487
207                   Western Europe                                  NaN
208      Latin America and Caribbean                            87.808494
209     Middle East and North Africa                            87.519720
210                    North America                                  NaN
211                       South Asia                            44.508101
212               Sub-Saharan Africa                            27.000000
213      Eastern and Southern Africa                            27.000000
214          West and Central Africa                            28.000000
215        Least developed countries                            30.000000
216                            World                            56.000000

                                             \
    richest 20% Ratio of richest to poorest
204   91.647855                    1.552190
205         NaN                         NaN
206   98.461815                    1.008742
207         NaN                         NaN
208   97.971001                    1.115735
209   93.894074                    1.072833
210         NaN                         NaN
211   77.762853                    1.700000
212   63.000000                    2.300000
213   55.000000                    2.100000
214   69.563386                    2.500000
215   56.000000                    1.900000
216   82.000000                    1.463754

    Skilled birth attendant                    (%) \n2011–2016*              \
                                                    poorest 20% richest 20%
204                                               60.0                 98.0
205                                                NaN                  NaN
206                                               93.3                 99.3
207                                                NaN                  NaN
208                                               79.6                 97.7
209                                               71.8                 95.5
210                                                NaN                  NaN
211                                               53.0                 91.0
212                                               33.9                 86.7
213                                               40.0                 87.3
214                                               28.2                 86.2
215                                               35.6                 85.2
216                                               51.2                 91.2

                                 \
    Ratio of richest to poorest
204                    1.633333
205                         NaN
206                    1.064309
207                         NaN
208                    1.227387
209                    1.330084
210                         NaN
211                    1.716981
212                    2.557522
213                    2.182500
214                    3.056738
215                    2.393258
216                    1.781250

    Stunting prevalence in children under 5 (moderate & severe)θ (%) \n2011–2016*  \
                                                                      poorest 20%
204                                          44.211651
205                                                NaN
206                                          18.457563
207                                                NaN
208                                          29.708610
209                                          24.468420
210                                                NaN
211                                          51.949401
212                                          44.270649
213                                          41.882445
214                                          46.482962
215                                          45.058579
216                                          44.042890

                                             ...  \
    richest 20% Ratio of poorest to richest  ...
204   20.060106                    2.203959  ...
205         NaN                         NaN  ...
206    7.802174                    2.365695  ...
207         NaN                         NaN  ...
208    6.980461                    4.255967  ...
209   15.000000                    1.570609  ...
210         NaN                         NaN  ...
211   22.093509                    2.043028  ...
212   19.155246                    2.311150  ...
213   19.060416                    2.197352  ...
214   19.243092                    2.415566  ...
215   21.373783                    2.108124  ...
216   19.134864                    2.160156  ...

    Oral rehydration salts (ORS) treatment for children with diarrhoea (%)\n2011-2016*  \
                                                           Ratio of richest to poorest
204                                                NaN
205                                                NaN
206                                                NaN
207                                                NaN
208                                                NaN
209                                           1.030303
210                                                NaN
211                                           1.324324
212                                           1.482085
213                                           1.241848
214                                           1.787402
215                                           1.217949
216                                           1.300292

    Primary school net attendance ratio\n2011-2016*              \
                                        poorest 20% richest 20%
204                                       95.006881   98.763915
205                                             NaN         NaN
206                                       93.763513   96.175523
207                                             NaN         NaN
208                                       94.139874   97.378503
209                                       85.817944   96.804376
210                                             NaN         NaN
211                                       67.181984   93.705474
212                                       54.439290   90.561887
213                                       63.008547   90.005507
214                                       46.330842   91.088348
215                                       64.171352   89.394702
216                                       70.077591   93.566369

                                 \
    Ratio of richest to poorest
204                    1.039545
205                         NaN
206                    1.025724
207                         NaN
208                    1.034402
209                    1.128020
210                         NaN
211                    1.394801
212                    1.663539
213                    1.428465
214                    1.966041
215                    1.393062
216                    1.335182

    Comprehensive knowledge of HIV/AIDS (%)\nFemales 15-24\n2011-2016*  \
                                                           poorest 20%
204                                                NaN
205                                                NaN
206                                                NaN
207                                                NaN
208                                                NaN
209                                                NaN
210                                                NaN
211                                           5.038561
212                                                NaN
213                                                NaN
214                                          14.163769
215                                                NaN
216                                                NaN

                                             \
    richest 20% Ratio of richest to poorest
204         NaN                         NaN
205         NaN                         NaN
206         NaN                         NaN
207         NaN                         NaN
208         NaN                         NaN
209         NaN                         NaN
210         NaN                         NaN
211   20.604620                    4.089386
212         NaN                         NaN
213         NaN                         NaN
214   34.326786                    2.423563
215         NaN                         NaN
216         NaN                         NaN

    Comprehensive knowledge of HIV/AIDS (%)\nMales 15-24\n2011-2016*  \
                                                         poorest 20%
204                                                NaN
205                                                NaN
206                                                NaN
207                                                NaN
208                                                NaN
209                                                NaN
210                                                NaN
211                                                NaN
212                                                NaN
213                                                NaN
214                                                NaN
215                                                NaN
216                                                NaN


    richest 20% Ratio of richest to poorest
204         NaN                         NaN
205         NaN                         NaN
206         NaN                         NaN
207         NaN                         NaN
208         NaN                         NaN
209         NaN                         NaN
210         NaN                         NaN
211         NaN                         NaN
212         NaN                         NaN
213         NaN                         NaN
214         NaN                         NaN
215         NaN                         NaN
216         NaN                         NaN

[13 rows x 22 columns]

In [67]:
disH_11.tail()

                    Countries and areas Birth registration (%)++\n2010–2016*  \
                     Unnamed: 1_level_1                          poorest 20%
197  Venezuela (Bolivarian Republic of)                                  NaN
198                            Viet Nam                                 90.5
199                               Yemen                                 16.7
200                              Zambia                                  4.9
201                            Zimbabwe                                 24.2

                                             \
    richest 20% Ratio of richest to poorest
197         NaN                         NaN
198        98.2                    1.085083
199        55.7                    3.335329
200        29.2                    5.959184
201        79.0                    3.264463

    Skilled birth attendant                    (%) \n2011–2016*              \
                                                    poorest 20% richest 20%
197                                               99.4                 93.4
198                                               73.4                100.0
199                                               19.1                 80.8
200                                               44.5                 93.6
201                                               61.7                 95.8

                                 \
    Ratio of richest to poorest
197                    0.939638
198                    1.362398
199                    4.230366
200                    2.103371
201                    1.552674

    Stunting prevalence in children under 5 (moderate & severe)θ (%) \n2011–2016*  \
                                                                      poorest 20%
197                                                NaN
198                                               40.9
199                                               59.2
200                                               47.3
201                                                 33

                                             ...  \
    richest 20% Ratio of poorest to richest  ...
197         NaN                         NaN  ...
198         6.1                    6.704918  ...
199        25.9                    2.285714  ...
200        28.4                    1.665493  ...
201        16.6                    1.987952  ...

    Oral rehydration salts (ORS) treatment for children with diarrhoea (%)\n2011-2016*  \
                                                           Ratio of richest to poorest
197                                                NaN
198                                                NaN
199                                           0.766667
200                                           1.142132
201                                           1.488215

    Primary school net attendance ratio\n2011-2016*              \
                                        poorest 20% richest 20%
197                                       85.600000   98.500000
198                                       94.435751   98.431256
199                                       56.370577   89.855154
200                                       74.635315   96.759216
201                                       90.700000   99.500000

                                 \
    Ratio of richest to poorest
197                    1.150701
198                    1.042309
199                    1.594008
200                    1.296427
201                    1.097023

    Comprehensive knowledge of HIV/AIDS (%)\nFemales 15-24\n2011-2016*  \
                                                           poorest 20%
197                                                NaN
198                                               29.8
199                                                0.0
200                                               23.8
201                                               46.6

                                             \
    richest 20% Ratio of richest to poorest
197         NaN                         NaN
198        65.1                    2.184564
199         4.2                         NaN
200        48.4                    2.033613
201        65.4                    1.403433

    Comprehensive knowledge of HIV/AIDS (%)\nMales 15-24\n2011-2016*  \
                                                         poorest 20%
197                                                NaN
198                                                NaN
199                                                NaN
200                                               24.3
201                                               43.0


    richest 20% Ratio of richest to poorest
197         NaN                         NaN
198         NaN                         NaN
199         NaN                         NaN
200        51.0                    2.098765
201        67.4                    1.567442

[5 rows x 22 columns]

In [68]:
for colname in disH_11.columns:
    print('Missing value count of {} : {}'.format(colname, disH_11[colname].isnull().sum()))

    # append to summary table
    to_append = ['11','Disparities by Household Wealth', colname, disH_11.columns.get_loc(colname), disH_11[colname].isnull().sum()]
    nan_df_length = len(nan_df)
    nan_df.loc[nan_df_length] = to_append

Missing value count of ('Countries and areas', 'Unnamed: 1_level_1') : 0
Missing value count of ('Birth registration (%)++\n2010–2016*', 'poorest 20%') : 93
Missing value count of ('Birth registration (%)++\n2010–2016*', 'richest 20%') : 93
Missing value count of ('Birth registration (%)++\n2010–2016*', 'Ratio of richest to poorest') : 93
Missing value count of ('Skilled birth attendant                    (%) \n2011–2016*', 'poorest 20%') : 88
Missing value count of ('Skilled birth attendant                    (%) \n2011–2016*', 'richest 20%') : 88
Missing value count of ('Skilled birth attendant                    (%) \n2011–2016*', 'Ratio of richest to poorest') : 88
Missing value count of ('Stunting prevalence in children under 5 (moderate & severe)θ (%) \n2011–2016*', 'poorest 20%') : 92
Missing value count of ('Stunting prevalence in children under 5 (moderate & severe)θ (%) \n2011–2016*', 'richest 20%') : 92
Missing value count of ('Stunting prevalence in children under 5 (moderate & severe)θ (%) \n2011–2016*', 'Ratio of poorest to richest') : 93
Missing value count of ('Oral rehydration salts (ORS) treatment for children with diarrhoea (%)\n2011-2016*', 'poorest 20%') : 129
Missing value count of ('Oral rehydration salts (ORS) treatment for children with diarrhoea (%)\n2011-2016*', 'richest 20%') : 129
Missing value count of ('Oral rehydration salts (ORS) treatment for children with diarrhoea (%)\n2011-2016*', 'Ratio of richest to poorest') : 129
Missing value count of ('Primary school net attendance ratio\n2011-2016*', 'poorest 20%') : 98
Missing value count of ('Primary school net attendance ratio\n2011-2016*', 'richest 20%') : 98
Missing value count of ('Primary school net attendance ratio\n2011-2016*', 'Ratio of richest to poorest') : 98
Missing value count of ('Comprehensive knowledge of HIV/AIDS (%)\nFemales 15-24\n2011-2016*', 'poorest 20%') : 111
Missing value count of ('Comprehensive knowledge of HIV/AIDS (%)\nFemales 15-24\n2011-2016*', 'richest 20%') : 110
Missing value count of ('Comprehensive knowledge of HIV/AIDS (%)\nFemales 15-24\n2011-2016*', 'Ratio of richest to poorest') : 112
Missing value count of ('Comprehensive knowledge of HIV/AIDS (%)\nMales 15-24\n2011-2016*', 'poorest 20%') : 151
Missing value count of ('Comprehensive knowledge of HIV/AIDS (%)\nMales 15-24\n2011-2016*', 'richest 20%') : 149
Missing value count of ('Comprehensive knowledge of HIV/AIDS (%)\nMales 15-24\n2011-2016*', 'Ratio of richest to poorest') : 151

In [69]:
nan_df

,Table_num,Table_name,Column_name,Column_loc,Missing_Value
0,1,BASIC INDICATORS,"(Countries and areas, Unnamed: 1_level_1)",0,0
1,1,BASIC INDICATORS,"(Under–5 mortality rank, Unnamed: 2_level_1)",1,7
2,1,BASIC INDICATORS,"(Under–5 mortality rate , 1990)",2,7
3,1,BASIC INDICATORS,"(Under–5 mortality rate , 2016)",3,7
4,1,BASIC INDICATORS,"(Under–5 mortality rate by sex\n2016, male)",4,7
...,...,...,...,...,...
199,11,Disparities by Household Wealth,(Comprehensive knowledge of HIV/AIDS (%)\nFema...,17,110
200,11,Disparities by Household Wealth,(Comprehensive knowledge of HIV/AIDS (%)\nFema...,18,112
201,11,Disparities by Household Wealth,(Comprehensive knowledge of HIV/AIDS (%)\nMale...,19,151
202,11,Disparities by Household Wealth,(Comprehensive knowledge of HIV/AIDS (%)\nMale...,20,149
203,11,Disparities by Household Wealth,(Comprehensive knowledge of HIV/AIDS (%)\nMale...,21,151

## 12. Early Childhood Development

In [70]:
np.arange(3,46,2)

array([ 3,  5,  7,  9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35,
       37, 39, 41, 43, 45])

In [71]:
ecd_12 = pd.read_excel('IAC_5_Dataset.xlsx', sheet_name='Early Childhood Development', skiprows=2,\
                     skipfooter=42,header =[1,2])
ecd_12.drop(ecd_12.columns[[0, 3,  5,  7,  9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35,
       37, 39, 41, 43, 45]], axis=1, inplace = True) # drop the columns
ecd_12.drop(ecd_12.index[[0,1]],inplace=True) # drop the first row
ecd_12.replace(['–','x'], np.nan, inplace=True)
ecd_12.head()

,1,2,4,6,8,10,12,14,16,18,...,26,28,30,32,34,36,38,40,42,44
,Countries and areas,Attendance in early childhood education\n2005-2016*,Unnamed: 4_level_1,Unnamed: 6_level_1,Unnamed: 8_level_1,Unnamed: 10_level_1,Adult support for learning++\n 2005–2016*,Unnamed: 14_level_1,Unnamed: 16_level_1,Unnamed: 18_level_1,...,Unnamed: 26_level_1,Unnamed: 28_level_1,Unnamed: 30_level_1,Unnamed: 32_level_1,Unnamed: 34_level_1,Children with inadequate supervision\n2005-2016*,Unnamed: 38_level_1,Unnamed: 40_level_1,Unnamed: 42_level_1,Unnamed: 44_level_1
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,1.0,1.0,1.1,0.2,3.9,73.1,73.6,72.7,72.3,...,1.4,5.2,52.6,52.2,56.8,40.2,41.5,38.8,43.3,27.3
4,Albania,39.8,38.6,41.5,25.7,60,86,85.3,86.9,68.1,...,15.5,52.3,53.3,57.3,47.5,12.9,14.3,11.2,8.8,15.7
5,Algeria,16.6,16.9,16.2,7.2,30.9,78.1,78.6,77.6,64.1,...,3.4,23.1,35.0,31.5,35.9,5.5,5.7,5.3,6.1,6.2
6,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Summary Table

In [72]:
ecd_12_sum = pd.read_excel('IAC_5_Dataset.xlsx', sheet_name='Early Childhood Development', skiprows=2,\
                     skipfooter=27,header =[1,2])
ecd_12_sum.drop(ecd_12_sum.columns[[0, 3,  5,  7,  9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35,
       37, 39, 41, 43, 45]], axis=1, inplace = True) # drop the columns
ecd_12_sum.drop(ecd_12_sum.index[0:207],inplace=True) # drop the first row
ecd_12_sum.replace(['–','x'], np.nan, inplace=True)
print(ecd_12_sum.shape)
ecd_12_sum.head(20)

(13, 23)

,1,2,4,6,8,10,12,14,16,18,...,26,28,30,32,34,36,38,40,42,44
,Countries and areas,Attendance in early childhood education\n2005-2016*,Unnamed: 4_level_1,Unnamed: 6_level_1,Unnamed: 8_level_1,Unnamed: 10_level_1,Adult support for learning++\n 2005–2016*,Unnamed: 14_level_1,Unnamed: 16_level_1,Unnamed: 18_level_1,...,Unnamed: 26_level_1,Unnamed: 28_level_1,Unnamed: 30_level_1,Unnamed: 32_level_1,Unnamed: 34_level_1,Children with inadequate supervision\n2005-2016*,Unnamed: 38_level_1,Unnamed: 40_level_1,Unnamed: 42_level_1,Unnamed: 44_level_1
207,East Asia and Pacific,37,37,36.503,−,−,−,−,−,−,...,−,−,−,−,−,−,−,−,−,−
208,Europe and Central Asia,−,−,−,−,−,−,−,−,−,...,−,−,−,−,−,−,−,−,−,−
209,Eastern Europe and Central Asia,−,−,−,−,−,−,−,−,−,...,−,−,−,−,−,−,−,−,−,−
210,Western Europe,−,−,−,−,−,−,−,−,−,...,−,−,−,−,−,−,−,−,−,−
211,Latin America and Caribbean,61.3396,−,−,−,−,−,−,−,−,...,−,−,−,−,−,−,−,−,−,−
212,Middle East and North Africa,25.7423,25.4569,26.0572,14.6831,37.2557,60.8758,60.6301,61.1377,NaN,...,NaN,NaN,45.4868,−,−,11.2934,11.5055,11.2326,13.7358,7.80428
213,North America,−,−,−,−,−,−,−,−,−,...,−,−,−,−,−,−,−,−,−,−
214,South Asia,−,−,−,−,−,−,−,−,−,...,−,−,−,−,−,−,−,−,−,−
215,Sub-Saharan Africa,26.7404,25,26,8,54,52.538,53.3469,51.6029,44,...,0.47502,12.0013,39.3102,NaN,NaN,39.3788,NaN,NaN,−,−
216,Eastern and Southern Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
217,West and Central Africa,27.3915,27,28,8.46321,58,53.898,55.0939,52.7303,44,...,0.445657,13.1101,37.9197,30,50,40.9179,41,41.1929,44,32.2858
218,Least developed countries,13.4752,13,14.1073,7,29,55.1864,56.0942,54.5403,46.982,...,1.14684,11.4979,46.7436,40,57,30.5584,−,−,−,−
219,World,−,−,−,−,−,−,−,−,−,...,−,−,−,−,−,−,−,−,−,−

In [73]:
ecd_12.tail(20)

,1,2,4,6,8,10,12,14,16,18,...,26,28,30,32,34,36,38,40,42,44
,Countries and areas,Attendance in early childhood education\n2005-2016*,Unnamed: 4_level_1,Unnamed: 6_level_1,Unnamed: 8_level_1,Unnamed: 10_level_1,Adult support for learning++\n 2005–2016*,Unnamed: 14_level_1,Unnamed: 16_level_1,Unnamed: 18_level_1,...,Unnamed: 26_level_1,Unnamed: 28_level_1,Unnamed: 30_level_1,Unnamed: 32_level_1,Unnamed: 34_level_1,Children with inadequate supervision\n2005-2016*,Unnamed: 38_level_1,Unnamed: 40_level_1,Unnamed: 42_level_1,Unnamed: 44_level_1
185,Trinidad and Tobago,74.7,73.5,75.8,64.8,87.3,97.6,97.5,97.8,95.7,...,65.9,93,64.5,63.2,72.1,1,0.8,1.3,2.2,0
186,Tunisia,44.3,42.2,46.5,13.1,80.9,70.9,68.1,74,44.2,...,2.6,39.7,52.9,45.9,55.7,13.2,12.7,13.7,17.8,9.4
187,Turkey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188,Turkmenistan,42.8,43.0,42.7,16.7,80.7,94.4,94.3,94.6,92.3,...,30.2,65.7,53.0,58.5,56.3,0.8,0.3,1.3,0.5,0.6
189,Turks and Caicos Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
190,Tuvalu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191,Uganda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192,Ukraine,51.9,53.7,50.2,29.9,68.4,97.5,97.2,97.7,95.3,...,91.9,92,51.6,61.4,51.1,6.5,6.2,6.7,10.5,4.6
193,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
194,United Kingdom,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
195,United Republic of Tanzania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
196,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
197,Uruguay,81.4,82.9,79.7,NaN,NaN,92.6,93.7,91.2,NaN,...,NaN,NaN,75.2,NaN,NaN,2.9,2.5,3.3,NaN,NaN
198,Uzbekistan,20.8,20.9,20.8,NaN,NaN,90.6,91.1,90,83.4,...,31.7,58.6,67.3,73.8,62.1,4.95556,5.29464,4.60698,6,7
199,Vanuatu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
200,Venezuela (Bolivarian Republic of),65.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
201,Viet Nam,71.3,73.6,69.0,53.4,85.7,75.9,76.3,75.6,51.8,...,5.7,58.2,51.5,43.7,53.9,7,5.9,8.1,13.6,1.5
202,Yemen,2.6,2.5,2.6,0,8.4,33.1,34.1,32,15.9,...,3.5,31.3,48.8,44.9,48.9,34.1,35.6,32.5,46.4,22
203,Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
204,Zimbabwe,21.6,20.1,23.1,16.5,33.5,43.1,43.1,43.1,35.1,...,0.5,11.8,62.3,48,74.2,18.5,18.9,18,25.4,6.7

In [74]:
for colname in ecd_12.columns:
    print('Missing value count of {} : {}'.format(colname, ecd_12[colname].isnull().sum()))

    # append to summary table
    to_append = ['12','Early Childhood Development', colname, ecd_12.columns.get_loc(colname), ecd_12[colname].isnull().sum()]
    nan_df_length = len(nan_df)
    nan_df.loc[nan_df_length] = to_append

Missing value count of (1, 'Countries and areas') : 1
Missing value count of (2, 'Attendance in early childhood education\n2005-2016*') : 112
Missing value count of (4, 'Unnamed: 4_level_1') : 122
Missing value count of (6, 'Unnamed: 6_level_1') : 122
Missing value count of (8, 'Unnamed: 8_level_1') : 136
Missing value count of (10, 'Unnamed: 10_level_1') : 136
Missing value count of (12, 'Adult support for learning++\n 2005–2016*') : 123
Missing value count of (14, 'Unnamed: 14_level_1') : 125
Missing value count of (16, 'Unnamed: 16_level_1') : 125
Missing value count of (18, 'Unnamed: 18_level_1') : 134
Missing value count of (20, 'Unnamed: 20_level_1') : 134
Missing value count of (22, "Father's support for learning++\n2005–2016*") : 124
Missing value count of (24, 'Learning materials at home \n2005-2016*') : 126
Missing value count of (26, 'Unnamed: 26_level_1') : 136
Missing value count of (28, 'Unnamed: 28_level_1') : 136
Missing value count of (30, 'Unnamed: 30_level_1') : 127
Missing value count of (32, 'Unnamed: 32_level_1') : 138
Missing value count of (34, 'Unnamed: 34_level_1') : 138
Missing value count of (36, 'Children with inadequate supervision\n2005-2016*') : 125
Missing value count of (38, 'Unnamed: 38_level_1') : 128
Missing value count of (40, 'Unnamed: 40_level_1') : 128
Missing value count of (42, 'Unnamed: 42_level_1') : 138
Missing value count of (44, 'Unnamed: 44_level_1') : 138

In [75]:
nan_df

,Table_num,Table_name,Column_name,Column_loc,Missing_Value
0,1,BASIC INDICATORS,"(Countries and areas, Unnamed: 1_level_1)",0,0
1,1,BASIC INDICATORS,"(Under–5 mortality rank, Unnamed: 2_level_1)",1,7
2,1,BASIC INDICATORS,"(Under–5 mortality rate , 1990)",2,7
3,1,BASIC INDICATORS,"(Under–5 mortality rate , 2016)",3,7
4,1,BASIC INDICATORS,"(Under–5 mortality rate by sex\n2016, male)",4,7
...,...,...,...,...,...
222,12,Early Childhood Development,"(36, Children with inadequate supervision\n200...",18,125
223,12,Early Childhood Development,"(38, Unnamed: 38_level_1)",19,128
224,12,Early Childhood Development,"(40, Unnamed: 40_level_1)",20,128
225,12,Early Childhood Development,"(42, Unnamed: 42_level_1)",21,138
226,12,Early Childhood Development,"(44, Unnamed: 44_level_1)",22,138

## 13. Economic Indicators

In [76]:
ei_13 = pd.read_excel('IAC_5_Dataset.xlsx', sheet_name='Economic Indicators', skiprows=2,\
                     skipfooter=37,header =[1,2])
ei_13.drop(ei_13.columns[[0, 3, 5, 9, 11]], axis=1, inplace = True) # drop the columns
ei_13.drop(ei_13.index[[0,1]],inplace=True) # drop the first row
ei_13.replace(['–','x'], np.nan, inplace=True)
ei_13.head()

  Countries and areas  \
   Unnamed: 1_level_1
2         Afghanistan
3             Albania
4             Algeria
5             Andorra
6              Angola

  Population below international poverty line of US$1.90 per day (%)  \
                                                  Unnamed: 2_level_1
2                                                NaN
3                                                1.1
4                                                NaN
5                                                NaN
6                                               30.1

  National monetary child poverty                                                        (%)P  \
                                                                           Unnamed: 4_level_1
2                                                NaN
3                                                NaN
4                                                NaN
5                                                NaN
6                                                NaN

  ODA inflow in millions US$ ODA inflow as a % of recipient GNI  \
          Unnamed: 6_level_1                 Unnamed: 7_level_1
2                    4239.18                          21.323429
3                     334.27                           2.963167
4                      88.25                           0.054996
5                        NaN                                NaN
6                     380.09                           0.388550

  Share of household income\n(%, 2009-2013*)
                                 poorest 40% richest 20%
2                                        NaN         NaN
3                                       22.1        37.8
4                                        NaN         NaN
5                                        NaN         NaN
6                                       15.0        48.5

In [77]:
ei_13.tail()

                    Countries and areas  \
                     Unnamed: 1_level_1
199  Venezuela (Bolivarian Republic of)
200                            Viet Nam
201                               Yemen
202                              Zambia
203                            Zimbabwe

    Population below international poverty line of US$1.90 per day (%)  \
                                                    Unnamed: 2_level_1
199                                                9.2
200                                                3.1
201                                                NaN
202                                               64.4
203                                               21.4

    National monetary child poverty                                                        (%)P  \
                                                                             Unnamed: 4_level_1
199                                                NaN
200                                                NaN
201                                                NaN
202                                               65.0
203                                               78.0

    ODA inflow in millions US$ ODA inflow as a % of recipient GNI  \
            Unnamed: 6_level_1                 Unnamed: 7_level_1
199                      37.06                                NaN
200                    3157.44                           1.722361
201                    1531.43                           4.209579
202                     797.14                           3.831026
203                     788.09                           5.115731

    Share of household income\n(%, 2009-2013*)
                                   poorest 40% richest 20%
199                                       12.4        50.7
200                                       17.3        45.7
201                                        NaN         NaN
202                                       10.6        61.1
203                                       15.3        49.7

### Summary Table

In [78]:
ei_13_sum = pd.read_excel('IAC_5_Dataset.xlsx', sheet_name='Economic Indicators', skiprows=2,\
                     skipfooter=22,header =[1,2])
ei_13_sum.drop(ei_13_sum.columns[[0, 3, 5, 9, 11]], axis=1, inplace = True) # drop the columns
ei_13_sum.drop(ei_13_sum.index[0:206],inplace=True) # drop the first row
ei_13_sum.replace(['–','x'], np.nan, inplace=True)
print(ei_13_sum.shape)
ei_13_sum.head(20)

(13, 7)

                 Countries and areas  \
                  Unnamed: 1_level_1
206            East Asia and Pacific
207          Europe and Central Asia
208  Eastern Europe and Central Asia
209                   Western Europe
210      Latin America and Caribbean
211     Middle East and North Africa
212                    North America
213                       South Asia
214               Sub-Saharan Africa
215      Eastern and Southern Africa
216          West and Central Africa
217        Least developed countries
218                            World

    Population below international poverty line of US$1.90 per day (%)  \
                                                    Unnamed: 2_level_1
206                                           3.389733
207                                                NaN
208                                           0.735094
209                                                NaN
210                                           4.736112
211                                                NaN
212                                                NaN
213                                          18.915876
214                                          44.985232
215                                          39.963632
216                                                NaN
217                                          40.032353
218                                          12.664221

    National monetary child poverty                                                        (%)P  \
                                                                             Unnamed: 4_level_1
206                                                NaN
207                                                NaN
208                                                NaN
209                                                NaN
210                                                NaN
211                                                NaN
212                                                NaN
213                                                NaN
214                                                NaN
215                                                NaN
216                                                NaN
217                                                NaN
218                                                NaN

    ODA inflow in millions US$ ODA inflow as a % of recipient GNI  \
            Unnamed: 6_level_1                 Unnamed: 7_level_1
206                    7781.39                           0.056913
207                    7949.68                           0.536754
208                    7949.68                           0.536754
209                        NaN                                NaN
210                    7895.60                           0.151333
211                   17584.90                           1.130888
212                        NaN                                NaN
213                   15530.16                           0.544080
214                   40194.18                           2.585331
215                   22914.95                           2.733305
216                   17279.23                           2.412152
217                   42979.76                           4.639292
218                   96935.91                           0.368089

    Share of household income\n(%, 2009-2013*)
                                   poorest 40% richest 20%
206                                  15.643623   47.638043
207                                  19.633712   41.523658
208                                  18.697347   43.671633
209                                  20.328289   39.930335
210                                  12.225957   55.051683
211                                        NaN         NaN
212                                  15.815065   45.853328
213                                  20.498751   43.347214
214                                  16.025169   48.887894
215                                  15.985578   49.994684
216                                  16.065577   47.758281
217                                  18.335211   45.360745
218                                  17.255769   46.354092

In [79]:
for colname in ei_13.columns:
    print('Missing value count of {} : {}'.format(colname, ei_13[colname].isnull().sum()))

    # append to summary table
    to_append = ['13','Economic Indicators', colname, ei_13.columns.get_loc(colname), ei_13[colname].isnull().sum()]
    nan_df_length = len(nan_df)
    nan_df.loc[nan_df_length] = to_append

Missing value count of ('Countries and areas', 'Unnamed: 1_level_1') : 0
Missing value count of ('Population below international poverty line of US$1.90 per day (%)', 'Unnamed: 2_level_1') : 72
Missing value count of ('National monetary child poverty                                                        (%)P', 'Unnamed: 4_level_1') : 153
Missing value count of ('ODA inflow in millions US$', 'Unnamed: 6_level_1') : 63
Missing value count of ('ODA inflow as a % of recipient GNI', 'Unnamed: 7_level_1') : 73
Missing value count of ('Share of household income\n(%, 2009-2013*)', 'poorest 40%') : 52
Missing value count of ('Share of household income\n(%, 2009-2013*)', 'richest 20%') : 52

## Sorting the nan_dataframe

In [80]:
nan_df_miss = nan_df.where(nan_df.Missing_Value>0)
nan_df.Table_num=nan_df.Table_num.astype('int')

In [81]:
from IPython.display import display
pd.set_option('display.max_rows', 500)
display(nan_df_miss.sort_values(by='Missing_Value', ascending=True))

,Table_num,Table_name,Column_name,Column_loc,Missing_Value
75,5,Education,"(Number per 100 population , Unnamed: 6_level_1)",3,1
204,12,Early Childhood Development,"(1, Countries and areas)",0,1
76,5,Education,"(Number per 100 population , Unnamed: 8_level_1)",4,2
32,3,HEALTH,"(Use of basic sanitation services (%), Unnamed...",4,3
29,3,HEALTH,(Use of basic drinking water services ...,1,3
151,9,Adolescents,"(Adolescent birth rate, Unnamed: 10_level_1)",6,3
44,3,HEALTH,"(Immunization coverage (%), PCV3)",16,7
43,3,HEALTH,"(Immunization coverage (%), rota)",15,7
42,3,HEALTH,"(Immunization coverage (%), Hib3)",14,7
41,3,HEALTH,"(Immunization coverage (%), HepB3)",13,7
40,3,HEALTH,"(Immunization coverage (%), MCV2^)",12,7
39,3,HEALTH,"(Immunization coverage (%), MCV1)",11,7
38,3,HEALTH,"(Immunization coverage (%), polio3)",10,7
37,3,HEALTH,"(Immunization coverage (%), DTP3β)",9,7
36,3,HEALTH,"(Immunization coverage (%), DTP1β)",8,7
1,1,BASIC INDICATORS,"(Under–5 mortality rank, Unnamed: 2_level_1)",1,7
5,1,BASIC INDICATORS,"(Under–5 mortality rate by sex\n2016, female)",5,7
2,1,BASIC INDICATORS,"(Under–5 mortality rate , 1990)",2,7
3,1,BASIC INDICATORS,"(Under–5 mortality rate , 2016)",3,7
4,1,BASIC INDICATORS,"(Under–5 mortality rate by sex\n2016, male)",4,7
6,1,BASIC INDICATORS,"(Infant mortality rate (under 1), 1990)",6,7
7,1,BASIC INDICATORS,"(Infant mortality rate (under 1), 2016)",7,7
8,1,BASIC INDICATORS,"(Neonatal mortality rate, 2016)",8,7
11,1,BASIC INDICATORS,"(Annual number of under–5 deaths (thousands), ...",11,7
147,9,Adolescents,"(Adolescent population, Proportion of total po...",2,18
105,6,Demographic Indicators,"(Life expectancy, Unnamed: 13_level_1)",12,18
106,6,Demographic Indicators,"(Life expectancy, Unnamed: 14_level_1)",13,18
107,6,Demographic Indicators,"(Life expectancy, Unnamed: 15_level_1)",14,18
108,6,Demographic Indicators,"(Total fertility rate, Unnamed: 16_level_1)",15,18
113,7,Women,"(Life expectancy: females as a % of males, Unn...",1,18
102,6,Demographic Indicators,"(Crude birth rate, Unnamed: 10_level_1)",9,18
156,9,Adolescents,"(Lower secondary school gross enrolment ratio,...",11,18
101,6,Demographic Indicators,"(Crude death rate, Unnamed: 9_level_1)",8,18
146,9,Adolescents,"(Adolescent population, Aged 10-19 (thousands))",1,18
103,6,Demographic Indicators,"(Crude birth rate, Unnamed: 11_level_1)",10,18
10,1,BASIC INDICATORS,"(Annual number of births (thousands), 2016)",10,18
104,6,Demographic Indicators,"(Crude birth rate, Unnamed: 12_level_1)",11,18
100,6,Demographic Indicators,"(Crude death rate, Unnamed: 8_level_1)",7,18
99,6,Demographic Indicators,"(Crude death rate, Unnamed: 7_level_1)",6,18
12,1,BASIC INDICATORS,"(Life expectancy at birth (years), 2016)",12,18
129,7,Women,"(Maternal mortality ratio†, Lifetime risk of m...",17,20
16,2,NUTRITION,"(Low birthweight (%) U, Unnamed: 2_level_1)",1,20
79,5,Education,"(Primary school participation, Gross enrolment...",7,20
128,7,Women,"(Maternal mortality ratio†, Adjusted)",16,20
14,1,BASIC INDICATORS,(Primary school net enrolment ratio ...,14,21
115,7,Women,"(Enrolment ratios: \nfemales as a % of males, ...",3,22
80,5,Education,"(Primary school participation, Gross enrolment...",8,22
78,5,Education,"(Pre-primary school participation, Gross enrol...",6,27
77,5,Education,"(Pre-primary school participation, Gross enrol...",5,27
30,3,HEALTH,(Use of basic drinking water services ...,2,27
179,10,Disparities by Residence,(Use of basic sanitation services (...,19,29
33,3,HEALTH,"(Use of basic sanitation services (%), Unnamed...",5,29
31,3,HEALTH,(Use of basic drinking water services ...,3,31
180,10,Disparities by Residence,(Use of basic sanitation services (...,20,32
34,3,HEALTH,"(Use of basic sanitation services (%), Unnamed...",6,32
181,10,Disparities by Residence,(Use of basic sanitation services (...,21,32
157,9,Adolescents,"(Upper secondary school gross enrolment ratio,...",12,32
116,7,Women,"(Enrolment ratios: \nfemales as a % of males, ...",4,32
121,7,Women,"(Delivery care (%), Skilled birth attendant)",9,33
136,8,Child Protection,"(Birth registration (%)++\n2010–2016*, Unnamed...",6,33
122,7,Women,"(Delivery care (%), Institutional delivery)",10,34
119,7,Women,"(Antenatal care (%), At least one visit)",7,37
127,7,Women,"(Maternal mortality ratio†, Reported.1)",15,38
35,3,HEALTH,"(Immunization coverage (%), BCG)",7,42
126,7,Women,"(Maternal mortality ratio†, Reported)",14,43
123,7,Women,"(Delivery care (%), C–section)",11,45
86,5,Education,"(Primary school participation, Out-of-school r...",14,46
85,5,Education,"(Primary school participation, Out-of-school r...",13,46
82,5,Education,"(Primary school participation, Net enrolment r...",10,46
81,5,Education,"(Primary school participation, Net enrolment r...",9,46
233,13,Economic Indicators,"(Share of household income\n(%, 2009-2013*), r...",6,52
232,13,Economic Indicators,"(Share of household income\n(%, 2009-2013*), p...",5,52
120,7,Women,"(Antenatal care (%), At least four visits)",8,55
13,1,BASIC INDICATORS,"(Total adult literacy rate (%), 2011−...",13,57
24,2,NUTRITION,"(Wasting (%), moderate & severeθ)",9,58
22,2,NUTRITION,"(Stunting (%), moderate & severeθ)",7,58
90,5,Education,"(Lower secondary school participation, Net enr...",18,59
89,5,Education,"(Lower secondary school participation, Net enr...",17,59
114,7,Women,"(Adult literacy rate: females as a % of males,...",2,60
74,5,Education,(Youth (15–24 years) literacy rate ...,2,60
23,2,NUTRITION,"(Overweight (%), moderate & severeθ)",8,60
73,5,Education,(Youth (15–24 years) literacy rate ...,1,61
230,13,Economic Indicators,"(ODA inflow in millions US$, Unnamed: 6_level_1)",3,63
25,2,NUTRITION,"(Wasting (%), Severe θ )",10,63
117,7,Women,(Survival rate to the last grade of primary: f...,5,65
87,5,Education,"(Primary school participation, Survival rate t...",15,65
88,5,Education,"(Primary school participation, Survival rate t...",16,65
18,2,NUTRITION,(Exclusive breastfeeding\n<6 months ...,3,70
58,4,HIV-AIDS,"(Epidemiology, New HIV infections ...",7,71
118,7,Women,( Demand for family planning satisfied with mo...,6,71
55,4,HIV-AIDS,"(Epidemiology, People living with HIV\n2016)",4,71
228,13,Economic Indicators,(Population below international poverty line o...,1,72
149,9,Adolescents,(Adolescents currently married/ in union ...,4,72
17,2,NUTRITION,"(Early initiation of breastfeeding (%), Unname...",2,72
231,13,Economic Indicators,"(ODA inflow as a % of recipient GNI, Unnamed: ...",4,73
84,5,Education,"(Primary school participation, Net attendance ...",12,74
65,4,HIV-AIDS,"(Intervention coverage, People living with HIV...",14,74
83,5,Education,"(Primary school participation, Net attendance ...",11,74
61,4,HIV-AIDS,"(Epidemiology, AIDS–related deaths\n2016)",10,75
21,2,NUTRITION,"(Breastfeeding at age 2 (%), Unnamed: 12_level_1)",6,75
165,10,Disparities by Residence,"(Skilled birth attendant (%) \n2011–2016*, Rural)",5,76
164,10,Disparities by Residence,"(Skilled birth attendant (%) \n2011–2016*, Urban)",4,76
166,10,Disparities by Residence,"(Skilled birth attendant (%) \n2011–2016*, Rat...",6,76
135,8,Child Protection,"(Child marriage (%)\n2010–2016*, Unnamed: 10_l...",5,77
134,8,Child Protection,"(Child marriage (%)\n2010–2016*, Unnamed: 8_le...",4,77
60,4,HIV-AIDS,"(Epidemiology, New HIV infections ...",9,81
52,4,HIV-AIDS,"(HIV incidence per 1,000 uninfected population...",1,81
54,4,HIV-AIDS,"(HIV incidence per 1,000 uninfected population...",3,82
53,4,HIV-AIDS,"(HIV incidence per 1,000 uninfected population...",2,82
46,3,HEALTH,"(Pneumonia, Care seeking for children with sym...",18,82
47,3,HEALTH,"(Diarrhoea, Treatment with oral rehydration sa...",19,83
150,9,Adolescents,"(Births by age 18 (%), Unnamed: 8_level_1)",5,86
161,10,Disparities by Residence,"(Birth registration (%)++\n2010–2016*, Urban)",1,87
141,8,Child Protection,(Justification of wife-beating (%)\n 2010–2016...,11,87
162,10,Disparities by Residence,"(Birth registration (%)++\n2010–2016*, Rural)",2,87
131,8,Child Protection,"(Child labour (%)+\n2010–2016*, Unnamed: 2_lev...",1,87
153,9,Adolescents,(Justification of wife-beating among adolescen...,8,87
163,10,Disparities by Residence,"(Birth registration (%)++\n2010–2016*, Ratio o...",3,87
168,10,Disparities by Residence,(Stunting prevalence in children under 5 (mode...,8,88
167,10,Disparities by Residence,(Stunting prevalence in children under 5 (mode...,7,88
188,11,Disparities by Household Wealth,(Skilled birth attendant (%...,6,88
186,11,Disparities by Household Wealth,(Skilled birth attendant (%...,4,88
187,11,Disparities by Household Wealth,(Skilled birth attendant (%...,5,88
169,10,Disparities by Residence,(Stunting prevalence in children under 5 (mode...,9,89
133,8,Child Protection,"(Child labour (%)+\n2010–2016*, Unnamed: 6_lev...",3,91
132,8,Child Protection,"(Child labour (%)+\n2010–2016*, Unnamed: 4_lev...",2,91
159,9,Adolescents,(Comprehensive knowledge of HIV among adolesce...,14,91
173,10,Disparities by Residence,(Primary school net attendance ratio\n2011-201...,13,92
174,10,Disparities by Residence,(Primary school net attendance ratio\n2011-201...,14,92
189,11,Disparities by Household Wealth,(Stunting prevalence in children under 5 (mode...,7,92
175,10,Disparities by Residence,(Primary school net attendance ratio\n2011-201...,15,92
190,11,Disparities by Household Wealth,(Stunting prevalence in children under 5 (mode...,8,92
185,11,Disparities by Household Wealth,"(Birth registration (%)++\n2010–2016*, Ratio o...",3,93
191,11,Disparities by Household Wealth,(Stunting prevalence in children under 5 (mode...,9,93
183,11,Disparities by Household Wealth,"(Birth registration (%)++\n2010–2016*, poorest...",1,93
184,11,Disparities by Household Wealth,"(Birth registration (%)++\n2010–2016*, richest...",2,93
19,2,NUTRITION,"(Introduction to solid, semi-solid or soft foo...",4,94
64,4,HIV-AIDS,"(Intervention coverage, Pregnant women recivin...",13,96
176,10,Disparities by Residence,(Comprehensive knowledge of HIV/AIDS (%)\nFema...,16,96
45,3,HEALTH,"(Immunization coverage (%), Protection at birt...",17,96
59,4,HIV-AIDS,"(Epidemiology, New HIV infections ...",8,97
177,10,Disparities by Residence,(Comprehensive knowledge of HIV/AIDS (%)\nFema...,17,97
178,10,Disparities by Residence,(Comprehensive knowledge of HIV/AIDS (%)\nFema...,18,97
196,11,Disparities by Household Wealth,(Primary school net attendance ratio\n2011-201...,14,98
56,4,HIV-AIDS,"(Epidemiology, People living with HIV\n2016.1)",5,98
197,11,Disparities by Household Wealth,(Primary school net attendance ratio\n2011-201...,15,98
195,11,Disparities by Household Wealth,(Primary school net attendance ratio\n2011-201...,13,98
57,4,HIV-AIDS,"(Epidemiology, People living with HIV\n2016.2)",6,98
66,4,HIV-AIDS,"(Intervention coverage, People living with HIV...",15,100
63,4,HIV-AIDS,"(Epidemiology, AIDS–related deaths\n2016.2)",12,101
62,4,HIV-AIDS,"(Epidemiology, AIDS–related deaths\n2016.1)",11,101
170,10,Disparities by Residence,(Oral rehydration salts (ORS) treatment for ch...,10,105
171,10,Disparities by Residence,(Oral rehydration salts (ORS) treatment for ch...,11,105
172,10,Disparities by Residence,(Oral rehydration salts (ORS) treatment for ch...,12,105
155,9,Adolescents,(Use of mass media among adolescents ...,10,107
91,5,Education,"(Lower secondary school participation, Net att...",19,108
92,5,Education,"(Lower secondary school participation, Net att...",20,108
199,11,Disparities by Household Wealth,(Comprehensive knowledge of HIV/AIDS (%)\nFema...,17,110
125,7,Women,"(Postnatal health check (%)+, For mothers)",13,110
27,2,NUTRITION,"(Households consuming salt with iodine (%), Un...",12,110
198,11,Disparities by Household Wealth,(Comprehensive knowledge of HIV/AIDS (%)\nFema...,16,111
200,11,Disparities by Household Wealth,(Comprehensive knowledge of HIV/AIDS (%)\nFema...,18,112
205,12,Early Childhood Development,"(2, Attendance in early childhood education\n2...",1,112
158,9,Adolescents,(Comprehensive knowledge of HIV among adolesce...,13,116
124,7,Women,"(Postnatal health check (%)+, For newborns)",12,117
71,4,HIV-AIDS,"(Intervention coverage, Adolescents tested for...",20,118
148,9,Adolescents,(Adolescents currently married/ in union ...,3,120
207,12,Early Childhood Development,"(6, Unnamed: 6_level_1)",3,122
206,12,Early Childhood Development,"(4, Unnamed: 4_level_1)",2,122
48,3,HEALTH,"(Malaria, Care seeking for children with fever...",20,123
210,12,Early Childhood Development,"(12, Adult support for learning++\n 2005–2016*)",6,123
142,8,Child Protection,"(Violent discipline (%)+\n2010–2016*, Unnamed:...",12,123
215,12,Early Childhood Development,"(22, Father's support for learning++\n2005–2016*)",11,124
222,12,Early Childhood Development,"(36, Children with inadequate supervision\n200...",18,125
212,12,Early Childhood Development,"(16, Unnamed: 16_level_1)",8,125
211,12,Early Childhood Development,"(14, Unnamed: 14_level_1)",7,125
216,12,Early Childhood Development,"(24, Learning materials at home \n2005-2016*)",12,126
143,8,Child Protection,"(Violent discipline (%)+\n2010–2016*, Unnamed:...",13,127
219,12,Early Childhood Development,"(30, Unnamed: 30_level_1)",15,127
144,8,Child Protection,"(Violent discipline (%)+\n2010–2016*, Unnamed:...",14,127
224,12,Early Childhood Development,"(40, Unnamed: 40_level_1)",20,128
140,8,Child Protection,(Justification of wife-beating (%)\n 2010–2016...,10,128
223,12,Early Childhood Development,"(38, Unnamed: 38_level_1)",19,128
193,11,Disparities by Household Wealth,(Oral rehydration salts (ORS) treatment for ch...,11,129
192,11,Disparities by Household Wealth,(Oral rehydration salts (ORS) treatment for ch...,10,129
194,11,Disparities by Household Wealth,(Oral rehydration salts (ORS) treatment for ch...,12,129
20,2,NUTRITION,(Minimum acceptable diet 6-23 months ...,5,130
152,9,Adolescents,(Justification of wife-beating among adolescen...,7,130
154,9,Adolescents,(Use of mass media among adolescents ...,9,131
213,12,Early Childhood Development,"(18, Unnamed: 18_level_1)",9,134
214,12,Early Childhood Development,"(20, Unnamed: 20_level_1)",10,134
209,12,Early Childhood Development,"(10, Unnamed: 10_level_1)",5,136
217,12,Early Childhood Development,"(26, Unnamed: 26_level_1)",13,136
218,12,Early Childhood Development,"(28, Unnamed: 28_level_1)",14,136
208,12,Early Childhood Development,"(8, Unnamed: 8_level_1)",4,136
226,12,Early Childhood Development,"(44, Unnamed: 44_level_1)",22,138
225,12,Early Childhood Development,"(42, Unnamed: 42_level_1)",21,138
70,4,HIV-AIDS,"(Intervention coverage, Adolescents tested for...",19,138
220,12,Early Childhood Development,"(32, Unnamed: 32_level_1)",16,138
221,12,Early Childhood Development,"(34, Unnamed: 34_level_1)",17,138
50,3,HEALTH,"(Malaria, Households with at least one ITN ...",22,142
26,2,NUTRITION,"(Vitamin A supplementation, full coverageΔ (%)...",11,142
49,3,HEALTH,"(Malaria, Children sleeping under ITNs ...",21,142
202,11,Disparities by Household Wealth,(Comprehensive knowledge of HIV/AIDS (%)\nMale...,20,149
203,11,Disparities by Household Wealth,(Comprehensive knowledge of HIV/AIDS (%)\nMale...,21,151
201,11,Disparities by Household Wealth,(Comprehensive knowledge of HIV/AIDS (%)\nMale...,19,151
229,13,Economic Indicators,(National monetary child poverty ...,2,153
68,4,HIV-AIDS,"(Intervention coverage, Condom use among adole...",17,154
69,4,HIV-AIDS,"(Intervention coverage, Condom use among adole...",18,155
67,4,HIV-AIDS,"(Intervention coverage, People living with HIV...",16,161
138,8,Child Protection,(Female genital mutilation/cutting (%)+\n2004-...,8,173
139,8,Child Protection,(Female genital mutilation/cutting (%)+\n2004-...,9,173
137,8,Child Protection,(Female genital mutilation/cutting (%)+\n2004-...,7,173
0,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN
51,NaN,NaN,NaN,NaN,NaN
72,NaN,NaN,NaN,NaN,NaN
93,NaN,NaN,NaN,NaN,NaN
94,NaN,NaN,NaN,NaN,NaN
95,NaN,NaN,NaN,NaN,NaN
96,NaN,NaN,NaN,NaN,NaN
97,NaN,NaN,NaN,NaN,NaN
98,NaN,NaN,NaN,NaN,NaN
109,NaN,NaN,NaN,NaN,NaN
110,NaN,NaN,NaN,NaN,NaN
111,NaN,NaN,NaN,NaN,NaN
112,NaN,NaN,NaN,NaN,NaN
130,NaN,NaN,NaN,NaN,NaN
145,NaN,NaN,NaN,NaN,NaN
160,NaN,NaN,NaN,NaN,NaN
182,NaN,NaN,NaN,NaN,NaN
227,NaN,NaN,NaN,NaN,NaN

In [82]:
nan_df.sort_values(by=['Missing_Value','Table_num'], ascending=True, na_position='first')

,Table_num,Table_name,Column_name,Column_loc,Missing_Value
0,1,BASIC INDICATORS,"(Countries and areas, Unnamed: 1_level_1)",0,0
9,1,BASIC INDICATORS,"(Total population (thousands), 2016)",9,0
15,2,NUTRITION,"(Countries and areas, Unnamed: 1_level_1)",0,0
28,3,HEALTH,"(Countries and areas, Unnamed: 1_level_1)",0,0
51,4,HIV-AIDS,"(Countries and areas, Unnamed: 1_level_1)",0,0
72,5,Education,"(Countries and areas, Unnamed: 1_level_1)",0,0
93,6,Demographic Indicators,"(Countries and areas, Unnamed: 1_level_1)",0,0
94,6,Demographic Indicators,"(Population (thousands), 2016)",1,0
95,6,Demographic Indicators,"(Population (thousands), 2016.1)",2,0
96,6,Demographic Indicators,"(Population (thousands), 2016.2)",3,0
97,6,Demographic Indicators,(Population annual growth rate ...,4,0
98,6,Demographic Indicators,(Population annual growth rate ...,5,0
109,6,Demographic Indicators,"(Urbanized population (%), Unnam...",16,0
110,6,Demographic Indicators,(Average annual growth rate of urban populatio...,17,0
111,6,Demographic Indicators,(Average annual growth rate of urban populatio...,18,0
112,7,Women,"(Countries and areas, Unnamed: 1_level_1)",0,0
130,8,Child Protection,"(Countries and areas, Unnamed: 1_level_1)",0,0
145,9,Adolescents,"(Countries and areas, Unnamed: 1_level_1)",0,0
160,10,Disparities by Residence,"(Countries and areas, Unnamed: 1_level_1)",0,0
182,11,Disparities by Household Wealth,"(Countries and areas, Unnamed: 1_level_1)",0,0
227,13,Economic Indicators,"(Countries and areas, Unnamed: 1_level_1)",0,0
75,5,Education,"(Number per 100 population , Unnamed: 6_level_1)",3,1
204,12,Early Childhood Development,"(1, Countries and areas)",0,1
76,5,Education,"(Number per 100 population , Unnamed: 8_level_1)",4,2
29,3,HEALTH,(Use of basic drinking water services ...,1,3
32,3,HEALTH,"(Use of basic sanitation services (%), Unnamed...",4,3
151,9,Adolescents,"(Adolescent birth rate, Unnamed: 10_level_1)",6,3
1,1,BASIC INDICATORS,"(Under–5 mortality rank, Unnamed: 2_level_1)",1,7
2,1,BASIC INDICATORS,"(Under–5 mortality rate , 1990)",2,7
3,1,BASIC INDICATORS,"(Under–5 mortality rate , 2016)",3,7
4,1,BASIC INDICATORS,"(Under–5 mortality rate by sex\n2016, male)",4,7
5,1,BASIC INDICATORS,"(Under–5 mortality rate by sex\n2016, female)",5,7
6,1,BASIC INDICATORS,"(Infant mortality rate (under 1), 1990)",6,7
7,1,BASIC INDICATORS,"(Infant mortality rate (under 1), 2016)",7,7
8,1,BASIC INDICATORS,"(Neonatal mortality rate, 2016)",8,7
11,1,BASIC INDICATORS,"(Annual number of under–5 deaths (thousands), ...",11,7
36,3,HEALTH,"(Immunization coverage (%), DTP1β)",8,7
37,3,HEALTH,"(Immunization coverage (%), DTP3β)",9,7
38,3,HEALTH,"(Immunization coverage (%), polio3)",10,7
39,3,HEALTH,"(Immunization coverage (%), MCV1)",11,7
40,3,HEALTH,"(Immunization coverage (%), MCV2^)",12,7
41,3,HEALTH,"(Immunization coverage (%), HepB3)",13,7
42,3,HEALTH,"(Immunization coverage (%), Hib3)",14,7
43,3,HEALTH,"(Immunization coverage (%), rota)",15,7
44,3,HEALTH,"(Immunization coverage (%), PCV3)",16,7
10,1,BASIC INDICATORS,"(Annual number of births (thousands), 2016)",10,18
12,1,BASIC INDICATORS,"(Life expectancy at birth (years), 2016)",12,18
99,6,Demographic Indicators,"(Crude death rate, Unnamed: 7_level_1)",6,18
100,6,Demographic Indicators,"(Crude death rate, Unnamed: 8_level_1)",7,18
101,6,Demographic Indicators,"(Crude death rate, Unnamed: 9_level_1)",8,18
102,6,Demographic Indicators,"(Crude birth rate, Unnamed: 10_level_1)",9,18
103,6,Demographic Indicators,"(Crude birth rate, Unnamed: 11_level_1)",10,18
104,6,Demographic Indicators,"(Crude birth rate, Unnamed: 12_level_1)",11,18
105,6,Demographic Indicators,"(Life expectancy, Unnamed: 13_level_1)",12,18
106,6,Demographic Indicators,"(Life expectancy, Unnamed: 14_level_1)",13,18
107,6,Demographic Indicators,"(Life expectancy, Unnamed: 15_level_1)",14,18
108,6,Demographic Indicators,"(Total fertility rate, Unnamed: 16_level_1)",15,18
113,7,Women,"(Life expectancy: females as a % of males, Unn...",1,18
146,9,Adolescents,"(Adolescent population, Aged 10-19 (thousands))",1,18
147,9,Adolescents,"(Adolescent population, Proportion of total po...",2,18
156,9,Adolescents,"(Lower secondary school gross enrolment ratio,...",11,18
16,2,NUTRITION,"(Low birthweight (%) U, Unnamed: 2_level_1)",1,20
79,5,Education,"(Primary school participation, Gross enrolment...",7,20
128,7,Women,"(Maternal mortality ratio†, Adjusted)",16,20
129,7,Women,"(Maternal mortality ratio†, Lifetime risk of m...",17,20
14,1,BASIC INDICATORS,(Primary school net enrolment ratio ...,14,21
80,5,Education,"(Primary school participation, Gross enrolment...",8,22
115,7,Women,"(Enrolment ratios: \nfemales as a % of males, ...",3,22
30,3,HEALTH,(Use of basic drinking water services ...,2,27
77,5,Education,"(Pre-primary school participation, Gross enrol...",5,27
78,5,Education,"(Pre-primary school participation, Gross enrol...",6,27
33,3,HEALTH,"(Use of basic sanitation services (%), Unnamed...",5,29
179,10,Disparities by Residence,(Use of basic sanitation services (...,19,29
31,3,HEALTH,(Use of basic drinking water services ...,3,31
34,3,HEALTH,"(Use of basic sanitation services (%), Unnamed...",6,32
116,7,Women,"(Enrolment ratios: \nfemales as a % of males, ...",4,32
157,9,Adolescents,"(Upper secondary school gross enrolment ratio,...",12,32
180,10,Disparities by Residence,(Use of basic sanitation services (...,20,32
181,10,Disparities by Residence,(Use of basic sanitation services (...,21,32
121,7,Women,"(Delivery care (%), Skilled birth attendant)",9,33
136,8,Child Protection,"(Birth registration (%)++\n2010–2016*, Unnamed...",6,33
122,7,Women,"(Delivery care (%), Institutional delivery)",10,34
119,7,Women,"(Antenatal care (%), At least one visit)",7,37
127,7,Women,"(Maternal mortality ratio†, Reported.1)",15,38
35,3,HEALTH,"(Immunization coverage (%), BCG)",7,42
126,7,Women,"(Maternal mortality ratio†, Reported)",14,43
123,7,Women,"(Delivery care (%), C–section)",11,45
81,5,Education,"(Primary school participation, Net enrolment r...",9,46
82,5,Education,"(Primary school participation, Net enrolment r...",10,46
85,5,Education,"(Primary school participation, Out-of-school r...",13,46
86,5,Education,"(Primary school participation, Out-of-school r...",14,46
232,13,Economic Indicators,"(Share of household income\n(%, 2009-2013*), p...",5,52
233,13,Economic Indicators,"(Share of household income\n(%, 2009-2013*), r...",6,52
120,7,Women,"(Antenatal care (%), At least four visits)",8,55
13,1,BASIC INDICATORS,"(Total adult literacy rate (%), 2011−...",13,57
22,2,NUTRITION,"(Stunting (%), moderate & severeθ)",7,58
24,2,NUTRITION,"(Wasting (%), moderate & severeθ)",9,58
89,5,Education,"(Lower secondary school participation, Net enr...",17,59
90,5,Education,"(Lower secondary school participation, Net enr...",18,59
23,2,NUTRITION,"(Overweight (%), moderate & severeθ)",8,60
74,5,Education,(Youth (15–24 years) literacy rate ...,2,60
114,7,Women,"(Adult literacy rate: females as a % of males,...",2,60
73,5,Education,(Youth (15–24 years) literacy rate ...,1,61
25,2,NUTRITION,"(Wasting (%), Severe θ )",10,63
230,13,Economic Indicators,"(ODA inflow in millions US$, Unnamed: 6_level_1)",3,63
87,5,Education,"(Primary school participation, Survival rate t...",15,65
88,5,Education,"(Primary school participation, Survival rate t...",16,65
117,7,Women,(Survival rate to the last grade of primary: f...,5,65
18,2,NUTRITION,(Exclusive breastfeeding\n<6 months ...,3,70
55,4,HIV-AIDS,"(Epidemiology, People living with HIV\n2016)",4,71
58,4,HIV-AIDS,"(Epidemiology, New HIV infections ...",7,71
118,7,Women,( Demand for family planning satisfied with mo...,6,71
17,2,NUTRITION,"(Early initiation of breastfeeding (%), Unname...",2,72
149,9,Adolescents,(Adolescents currently married/ in union ...,4,72
228,13,Economic Indicators,(Population below international poverty line o...,1,72
231,13,Economic Indicators,"(ODA inflow as a % of recipient GNI, Unnamed: ...",4,73
65,4,HIV-AIDS,"(Intervention coverage, People living with HIV...",14,74
83,5,Education,"(Primary school participation, Net attendance ...",11,74
84,5,Education,"(Primary school participation, Net attendance ...",12,74
21,2,NUTRITION,"(Breastfeeding at age 2 (%), Unnamed: 12_level_1)",6,75
61,4,HIV-AIDS,"(Epidemiology, AIDS–related deaths\n2016)",10,75
164,10,Disparities by Residence,"(Skilled birth attendant (%) \n2011–2016*, Urban)",4,76
165,10,Disparities by Residence,"(Skilled birth attendant (%) \n2011–2016*, Rural)",5,76
166,10,Disparities by Residence,"(Skilled birth attendant (%) \n2011–2016*, Rat...",6,76
134,8,Child Protection,"(Child marriage (%)\n2010–2016*, Unnamed: 8_le...",4,77
135,8,Child Protection,"(Child marriage (%)\n2010–2016*, Unnamed: 10_l...",5,77
52,4,HIV-AIDS,"(HIV incidence per 1,000 uninfected population...",1,81
60,4,HIV-AIDS,"(Epidemiology, New HIV infections ...",9,81
46,3,HEALTH,"(Pneumonia, Care seeking for children with sym...",18,82
53,4,HIV-AIDS,"(HIV incidence per 1,000 uninfected population...",2,82
54,4,HIV-AIDS,"(HIV incidence per 1,000 uninfected population...",3,82
47,3,HEALTH,"(Diarrhoea, Treatment with oral rehydration sa...",19,83
150,9,Adolescents,"(Births by age 18 (%), Unnamed: 8_level_1)",5,86
131,8,Child Protection,"(Child labour (%)+\n2010–2016*, Unnamed: 2_lev...",1,87
141,8,Child Protection,(Justification of wife-beating (%)\n 2010–2016...,11,87
153,9,Adolescents,(Justification of wife-beating among adolescen...,8,87
161,10,Disparities by Residence,"(Birth registration (%)++\n2010–2016*, Urban)",1,87
162,10,Disparities by Residence,"(Birth registration (%)++\n2010–2016*, Rural)",2,87
163,10,Disparities by Residence,"(Birth registration (%)++\n2010–2016*, Ratio o...",3,87
167,10,Disparities by Residence,(Stunting prevalence in children under 5 (mode...,7,88
168,10,Disparities by Residence,(Stunting prevalence in children under 5 (mode...,8,88
186,11,Disparities by Household Wealth,(Skilled birth attendant (%...,4,88
187,11,Disparities by Household Wealth,(Skilled birth attendant (%...,5,88
188,11,Disparities by Household Wealth,(Skilled birth attendant (%...,6,88
169,10,Disparities by Residence,(Stunting prevalence in children under 5 (mode...,9,89
132,8,Child Protection,"(Child labour (%)+\n2010–2016*, Unnamed: 4_lev...",2,91
133,8,Child Protection,"(Child labour (%)+\n2010–2016*, Unnamed: 6_lev...",3,91
159,9,Adolescents,(Comprehensive knowledge of HIV among adolesce...,14,91
173,10,Disparities by Residence,(Primary school net attendance ratio\n2011-201...,13,92
174,10,Disparities by Residence,(Primary school net attendance ratio\n2011-201...,14,92
175,10,Disparities by Residence,(Primary school net attendance ratio\n2011-201...,15,92
189,11,Disparities by Household Wealth,(Stunting prevalence in children under 5 (mode...,7,92
190,11,Disparities by Household Wealth,(Stunting prevalence in children under 5 (mode...,8,92
183,11,Disparities by Household Wealth,"(Birth registration (%)++\n2010–2016*, poorest...",1,93
184,11,Disparities by Household Wealth,"(Birth registration (%)++\n2010–2016*, richest...",2,93
185,11,Disparities by Household Wealth,"(Birth registration (%)++\n2010–2016*, Ratio o...",3,93
191,11,Disparities by Household Wealth,(Stunting prevalence in children under 5 (mode...,9,93
19,2,NUTRITION,"(Introduction to solid, semi-solid or soft foo...",4,94
45,3,HEALTH,"(Immunization coverage (%), Protection at birt...",17,96
64,4,HIV-AIDS,"(Intervention coverage, Pregnant women recivin...",13,96
176,10,Disparities by Residence,(Comprehensive knowledge of HIV/AIDS (%)\nFema...,16,96
59,4,HIV-AIDS,"(Epidemiology, New HIV infections ...",8,97
177,10,Disparities by Residence,(Comprehensive knowledge of HIV/AIDS (%)\nFema...,17,97
178,10,Disparities by Residence,(Comprehensive knowledge of HIV/AIDS (%)\nFema...,18,97
56,4,HIV-AIDS,"(Epidemiology, People living with HIV\n2016.1)",5,98
57,4,HIV-AIDS,"(Epidemiology, People living with HIV\n2016.2)",6,98
195,11,Disparities by Household Wealth,(Primary school net attendance ratio\n2011-201...,13,98
196,11,Disparities by Household Wealth,(Primary school net attendance ratio\n2011-201...,14,98
197,11,Disparities by Household Wealth,(Primary school net attendance ratio\n2011-201...,15,98
66,4,HIV-AIDS,"(Intervention coverage, People living with HIV...",15,100
62,4,HIV-AIDS,"(Epidemiology, AIDS–related deaths\n2016.1)",11,101
63,4,HIV-AIDS,"(Epidemiology, AIDS–related deaths\n2016.2)",12,101
170,10,Disparities by Residence,(Oral rehydration salts (ORS) treatment for ch...,10,105
171,10,Disparities by Residence,(Oral rehydration salts (ORS) treatment for ch...,11,105
172,10,Disparities by Residence,(Oral rehydration salts (ORS) treatment for ch...,12,105
155,9,Adolescents,(Use of mass media among adolescents ...,10,107
91,5,Education,"(Lower secondary school participation, Net att...",19,108
92,5,Education,"(Lower secondary school participation, Net att...",20,108
27,2,NUTRITION,"(Households consuming salt with iodine (%), Un...",12,110
125,7,Women,"(Postnatal health check (%)+, For mothers)",13,110
199,11,Disparities by Household Wealth,(Comprehensive knowledge of HIV/AIDS (%)\nFema...,17,110
198,11,Disparities by Household Wealth,(Comprehensive knowledge of HIV/AIDS (%)\nFema...,16,111
200,11,Disparities by Household Wealth,(Comprehensive knowledge of HIV/AIDS (%)\nFema...,18,112
205,12,Early Childhood Development,"(2, Attendance in early childhood education\n2...",1,112
158,9,Adolescents,(Comprehensive knowledge of HIV among adolesce...,13,116
124,7,Women,"(Postnatal health check (%)+, For newborns)",12,117
71,4,HIV-AIDS,"(Intervention coverage, Adolescents tested for...",20,118
148,9,Adolescents,(Adolescents currently married/ in union ...,3,120
206,12,Early Childhood Development,"(4, Unnamed: 4_level_1)",2,122
207,12,Early Childhood Development,"(6, Unnamed: 6_level_1)",3,122
48,3,HEALTH,"(Malaria, Care seeking for children with fever...",20,123
142,8,Child Protection,"(Violent discipline (%)+\n2010–2016*, Unnamed:...",12,123
210,12,Early Childhood Development,"(12, Adult support for learning++\n 2005–2016*)",6,123
215,12,Early Childhood Development,"(22, Father's support for learning++\n2005–2016*)",11,124
211,12,Early Childhood Development,"(14, Unnamed: 14_level_1)",7,125
212,12,Early Childhood Development,"(16, Unnamed: 16_level_1)",8,125
222,12,Early Childhood Development,"(36, Children with inadequate supervision\n200...",18,125
216,12,Early Childhood Development,"(24, Learning materials at home \n2005-2016*)",12,126
143,8,Child Protection,"(Violent discipline (%)+\n2010–2016*, Unnamed:...",13,127
144,8,Child Protection,"(Violent discipline (%)+\n2010–2016*, Unnamed:...",14,127
219,12,Early Childhood Development,"(30, Unnamed: 30_level_1)",15,127
140,8,Child Protection,(Justification of wife-beating (%)\n 2010–2016...,10,128
223,12,Early Childhood Development,"(38, Unnamed: 38_level_1)",19,128
224,12,Early Childhood Development,"(40, Unnamed: 40_level_1)",20,128
192,11,Disparities by Household Wealth,(Oral rehydration salts (ORS) treatment for ch...,10,129
193,11,Disparities by Household Wealth,(Oral rehydration salts (ORS) treatment for ch...,11,129
194,11,Disparities by Household Wealth,(Oral rehydration salts (ORS) treatment for ch...,12,129
20,2,NUTRITION,(Minimum acceptable diet 6-23 months ...,5,130
152,9,Adolescents,(Justification of wife-beating among adolescen...,7,130
154,9,Adolescents,(Use of mass media among adolescents ...,9,131
213,12,Early Childhood Development,"(18, Unnamed: 18_level_1)",9,134
214,12,Early Childhood Development,"(20, Unnamed: 20_level_1)",10,134
208,12,Early Childhood Development,"(8, Unnamed: 8_level_1)",4,136
209,12,Early Childhood Development,"(10, Unnamed: 10_level_1)",5,136
217,12,Early Childhood Development,"(26, Unnamed: 26_level_1)",13,136
218,12,Early Childhood Development,"(28, Unnamed: 28_level_1)",14,136
70,4,HIV-AIDS,"(Intervention coverage, Adolescents tested for...",19,138
220,12,Early Childhood Development,"(32, Unnamed: 32_level_1)",16,138
221,12,Early Childhood Development,"(34, Unnamed: 34_level_1)",17,138
225,12,Early Childhood Development,"(42, Unnamed: 42_level_1)",21,138
226,12,Early Childhood Development,"(44, Unnamed: 44_level_1)",22,138
26,2,NUTRITION,"(Vitamin A supplementation, full coverageΔ (%)...",11,142
49,3,HEALTH,"(Malaria, Children sleeping under ITNs ...",21,142
50,3,HEALTH,"(Malaria, Households with at least one ITN ...",22,142
202,11,Disparities by Household Wealth,(Comprehensive knowledge of HIV/AIDS (%)\nMale...,20,149
201,11,Disparities by Household Wealth,(Comprehensive knowledge of HIV/AIDS (%)\nMale...,19,151
203,11,Disparities by Household Wealth,(Comprehensive knowledge of HIV/AIDS (%)\nMale...,21,151
229,13,Economic Indicators,(National monetary child poverty ...,2,153
68,4,HIV-AIDS,"(Intervention coverage, Condom use among adole...",17,154
69,4,HIV-AIDS,"(Intervention coverage, Condom use among adole...",18,155
67,4,HIV-AIDS,"(Intervention coverage, People living with HIV...",16,161
137,8,Child Protection,(Female genital mutilation/cutting (%)+\n2004-...,7,173
138,8,Child Protection,(Female genital mutilation/cutting (%)+\n2004-...,8,173
139,8,Child Protection,(Female genital mutilation/cutting (%)+\n2004-...,9,173

In [83]:
nan_df = nan_df.sort_values(by=['Missing_Value','Table_num'], ascending=True, na_position='first')

In [84]:
nan_df.to_csv('Table Missing Value counts.csv', header=True, index=False)

### Combine Dataframe

In [85]:
heal_3.reset_index(drop=True, inplace=True)
demo_6.reset_index(drop=True, inplace=True)
edu_5.reset_index(drop=True, inplace=True)
bi_1.reset_index(drop=True, inplace=True)

In [86]:
#del df

In [87]:
df_columns_list = ['Countries',
                   'Under 5 mortality rate_1990', 
                   'Under 5 mortality rate_2016',
                   'Life expectancy at birth (years)', 
                   'Primary school net enrolment ratio (%)',
                   'Use of basic drinking water services (%)', 
                   'Use of basic sanitation services (%)',
                   'Pre-primary school participation_Gross enrolment ratio (%) male',
                   'Pre-primary school participation_Gross enrolment ratio (%) female',
                   'Population_2016 Total', 
                   'Population_2016 Under 18', 
                   'Population_2016 Under 5',
                   'Population annual growth rate (%) 90_16', 
                   'Population annual growth rate (%) 16_30', 
                   'Urbanized population (%) 16', 
                   'Average annual growth rate of urban population (%) 90_16',
                   'Average annual growth rate of urban population (%) 16_30',                   
                   ]

In [88]:
df = pd.concat([bi_1.iloc[:,0],bi_1.iloc[:,2:4], bi_1.iloc[:,12], bi_1.iloc[:,14], 
                heal_3.iloc[:,1], heal_3.iloc[:,4],
                edu_5.iloc[:,5:7],
                demo_6.iloc[:,1:6], demo_6.iloc[:,16:19]
               ], axis=1)
df.columns
df.columns = df_columns_list

In [89]:
df

,Countries,Under 5 mortality rate_1990,Under 5 mortality rate_2016,Life expectancy at birth (years),Primary school net enrolment ratio (%),Use of basic drinking water services (%),Use of basic sanitation services (%),Pre-primary school participation_Gross enrolment ratio (%) male,Pre-primary school participation_Gross enrolment ratio (%) female,Population_2016 Total,Population_2016 Under 18,Population_2016 Under 5,Population annual growth rate (%) 90_16,Population annual growth rate (%) 16_30,Urbanized population (%) 16,Average annual growth rate of urban population (%) 90_16,Average annual growth rate of urban population (%) 16_30
0,Afghanistan,177.0,70.0,63.673,NaN,62.980208,39.220433,NaN,NaN,34656.032,17743.518000,5232.848000,4.000070,2.130447,27.132,5.457640,3.642832
1,Albania,40.0,14.0,78.345,95.51731,91.394333,97.690655,89.72232,87.39891,2926.348,659.259000,177.372000,-0.440505,0.017239,58.376,1.536729,1.396647
2,Algeria,49.0,25.0,76.078,97.06215,93.466427,87.487686,78.95678,79.47712,40606.052,13495.144000,4699.122000,1.727680,1.316165,71.304,2.954082,1.736718
3,Andorra,9.0,3.0,NaN,NaN,100.000000,100.000000,NaN,NaN,77.281,13.383259,3.410533,1.342624,0.080236,84.612,1.117164,0.228306
4,Angola,221.0,83.0,61.547,84.01231,41.005868,39.429423,64.20847,94.40013,28813.463,15415.799000,5277.122000,3.314425,3.138611,44.819,5.320008,4.173645
5,Anguilla,NaN,NaN,NaN,NaN,98.216667,96.917846,NaN,NaN,14.764,4.385963,1.219095,2.199416,0.514641,100.000,2.199156,0.477210
6,Antigua and Barbuda,26.0,9.0,76.364,87.04613,96.739186,87.504282,96.75862,94.52150,100.963,29.615000,8.062000,1.594651,0.905454,23.393,-0.041613,0.257064
7,Argentina,29.0,11.0,76.577,99.34679,99.627300,94.839881,72.24761,73.27810,43847.430,13076.118000,3735.764000,1.124738,0.840576,91.893,1.228229,0.816449
8,Armenia,50.0,13.0,74.618,96.07425,98.923652,91.582767,51.67092,53.18321,2924.816,685.018000,202.199000,-0.732218,-0.042505,62.558,-0.939474,0.050271
9,Australia,9.0,4.0,82.896,97.03283,99.968702,100.000000,126.66527,123.06977,24125.848,5432.532000,1551.188000,1.337063,1.123353,89.554,1.522703,1.248196
10,Austria,10.0,4.0,81.594,NaN,100.000000,99.973375,102.55725,104.21745,8712.137,1489.423000,411.629000,0.463044,0.189116,66.032,0.450907,0.588345
11,Azerbaijan,95.0,31.0,72.026,94.14265,84.377872,89.349081,23.71716,24.06090,9725.376,2653.401000,890.505000,1.133595,0.668951,54.895,1.221081,1.150675
12,Bahamas,24.0,11.0,75.675,97.52022,97.791750,92.011197,NaN,NaN,391.232,97.082000,27.533000,1.626199,0.837411,82.951,1.783722,1.061803
13,Bahrain,23.0,8.0,76.900,96.42850,100.000000,100.000000,56.33761,55.37067,1425.171,334.453000,106.665000,4.060040,2.467153,88.835,3.967933,1.333531
14,Bangladesh,144.0,34.0,72.489,90.50861,97.327142,46.924593,30.97204,31.48726,162951.560,56869.045000,15235.546000,1.647061,0.928993,35.035,3.780839,2.715950
15,Barbados,18.0,12.0,75.906,91.02247,98.131168,96.456102,82.79212,85.66916,284.996,65.864000,17.292000,0.347523,0.124573,31.415,0.266841,0.660546
16,Belarus,15.0,4.0,72.926,95.36020,98.005556,94.253980,105.60024,100.71810,9480.042,1821.101000,579.397000,-0.287881,-0.242873,77.046,0.182423,-0.196620
17,Belgium,10.0,4.0,81.134,98.94778,100.000000,99.486061,116.67070,116.12312,11358.379,2308.727000,642.735000,0.487371,0.393455,97.897,0.511974,0.306132
18,Belize,39.0,15.0,70.384,96.14116,97.128804,87.157202,49.05269,50.32424,366.954,140.792000,40.298000,2.581463,1.808776,43.845,2.153436,1.971420
19,Benin,178.0,98.0,60.907,95.86662,67.017287,13.930112,23.64752,24.15984,10872.298,5378.603000,1775.445000,3.004193,2.591958,44.395,4.060235,3.375179
20,Bhutan,128.0,32.0,70.197,85.58240,97.558661,62.870501,24.97505,26.65047,797.765,259.439000,69.819000,1.520364,0.969178,39.377,4.848856,2.340149
21,Bolivia (Plurinational State of),124.0,37.0,69.125,88.48272,92.881626,52.614027,70.60303,70.86514,10887.882,4150.348000,1188.513000,1.778810,1.352750,68.911,2.750167,1.905597
22,Bosnia and Herzegovina,18.0,6.0,76.911,NaN,97.660186,94.782099,NaN,NaN,3516.816,627.724000,156.681000,-0.916768,-0.231253,39.940,-0.591576,0.578057
23,Botswana,54.0,41.0,66.797,91.02086,79.173985,59.955906,18.45156,18.21204,2250.260,840.089000,259.216000,1.886448,1.562345,57.710,2.785441,1.421787
24,Brazil,64.0,15.0,75.509,92.69713,97.497943,86.148352,92.79804,91.53729,207652.865,56234.679000,14918.586000,1.267542,0.588065,85.933,1.793880,0.807169
25,British Virgin Islands,NaN,NaN,NaN,NaN,99.864384,96.857979,NaN,NaN,30.661,9.108508,2.531744,2.392298,1.003737,46.502,2.982828,1.449869
26,Brunei Darussalam,13.0,10.0,77.203,NaN,99.513212,96.330405,71.24908,72.80063,423.196,120.173000,34.280000,1.891684,1.042058,77.505,2.642298,1.292124
27,Bulgaria,18.0,8.0,74.749,93.30484,99.255635,85.981112,83.59176,82.19923,7131.494,1182.637000,324.211000,-0.826620,-0.738675,74.266,-0.426399,-0.529898
28,Burkina Faso,199.0,85.0,60.361,69.09631,53.857596,22.532081,4.14802,4.13654,18646.433,9723.729000,3220.646000,2.883269,2.744634,30.688,5.906043,4.687842
29,Burundi,170.0,72.0,57.481,94.14828,55.934120,50.460317,12.50718,12.75340,10524.117,5372.354000,1901.345000,2.555461,2.901911,12.359,5.254864,5.137316
30,Cabo Verde,63.0,21.0,72.798,97.12462,86.459353,65.206964,74.08917,73.20815,539.560,199.558000,54.629000,1.754944,1.164174,66.187,3.008178,1.532877
31,Cambodia,116.0,31.0,68.981,94.92511,74.970796,48.825449,17.38230,18.53925,15762.370,5854.168000,1761.246000,2.166797,1.257990,20.945,3.320358,2.740946
32,Cameroon,143.0,80.0,58.073,91.98906,65.279966,38.834985,37.59633,38.07360,23439.189,11577.595000,3804.254000,2.667387,2.439151,54.938,3.893405,3.156229
33,Canada,8.0,5.0,82.374,99.45674,98.900000,98.500000,73.92111,73.33966,36289.822,6998.607000,1928.548000,1.039882,0.804733,82.006,1.300756,1.028419
34,Central African Republic,174.0,124.0,52.171,70.55846,54.143860,25.087000,5.54133,5.63736,4594.621,2325.746000,730.455000,1.717506,2.051902,40.332,2.348643,2.803877
35,Chad,211.0,127.0,52.903,79.08415,42.537604,9.548388,0.84866,0.76166,14452.543,7853.975000,2666.388000,3.408950,2.823704,22.618,3.612691,3.999411
36,Chile,19.0,8.0,79.522,94.32461,100.000000,99.888210,88.04781,85.92136,17909.754,4461.828000,1183.776000,1.161315,0.657760,89.697,1.490376,0.792183
37,China,54.0,10.0,76.252,NaN,95.818029,75.037279,83.35107,83.92680,1403500.365,295111.516000,85866.368000,0.691838,0.189244,56.778,3.668945,1.586517
38,Colombia,35.0,15.0,74.381,90.60457,96.522030,84.439197,84.77328,84.19820,48653.419,14054.786000,3711.989000,1.347716,0.629267,76.708,2.019579,1.265700
39,Comoros,126.0,73.0,63.701,79.46213,83.701188,34.166037,19.79565,21.23598,795.601,368.871000,119.145000,2.534848,2.061425,28.412,2.559736,2.842908
40,Congo,91.0,54.0,64.625,91.38398,68.340457,15.009329,13.98653,13.82944,5125.821,2488.656000,824.257000,2.854252,2.544054,65.798,3.418030,3.018000
41,Cook Islands,24.0,8.0,NaN,94.74704,99.879600,97.626872,84.24658,97.45455,17.379,6.257649,1.731817,-0.210361,0.195407,74.765,1.660431,0.712122
42,Costa Rica,17.0,9.0,79.831,96.41910,99.697817,97.148550,52.59716,52.13627,4857.274,1295.764000,345.615000,1.732185,0.779534,77.675,3.608141,1.583694
43,Côte d'Ivoire,151.0,92.0,53.582,79.25447,73.057416,29.931838,7.12679,7.19152,23695.919,11689.202000,3860.612000,2.532033,2.438387,54.869,3.535555,3.090009
44,Croatia,13.0,5.0,77.642,88.82807,99.585901,97.466128,63.89499,61.48844,4213.265,755.940000,196.323000,-0.482475,-0.559592,59.284,-0.115734,0.228420
45,Cuba,13.0,6.0,79.742,92.15363,95.175506,90.818507,101.51352,102.57366,11475.982,2259.910000,636.350000,0.311901,0.012449,77.184,0.419106,-0.056473
46,Cyprus,11.0,3.0,80.508,97.36852,100.000000,99.369661,80.81310,79.72028,1170.125,241.275000,65.543000,1.626471,0.653356,66.840,1.649797,0.806927
47,Czechia,12.0,3.0,78.731,NaN,99.879680,99.136160,107.35329,104.37507,10610.947,1881.021000,533.930000,0.099051,-0.055923,72.980,0.060580,0.286911
48,Democratic People's Republic of Korea,43.0,20.0,71.685,94.40992,99.624559,77.134651,50.57661,51.08954,25368.620,6451.596000,1726.405000,0.858594,0.377095,61.048,1.035778,0.818627
49,Democratic Republic of the Congo,184.0,94.0,59.621,35.36999,41.837994,19.713687,4.02596,4.32414,78736.153,41553.390000,14494.021000,3.160875,3.036241,43.015,4.151924,3.620438
50,Denmark,9.0,4.0,80.739,98.35107,100.000000,99.597230,95.83184,96.02008,5711.870,1156.961000,284.888000,0.404910,0.380648,87.847,0.520355,0.561968
51,Djibouti,118.0,64.0,62.465,53.49516,76.922484,51.378058,5.39754,5.39079,942.333,356.306000,102.282000,1.798315,1.314354,77.430,1.753304,1.331276
52,Dominica,17.0,34.0,NaN,92.95076,96.500000,77.892761,86.65319,88.21689,73.543,21.847526,6.072603,0.139358,0.382907,69.820,0.502164,0.737484
53,Dominican Republic,60.0,31.0,73.861,86.88507,94.477074,82.696982,42.93096,45.12280,10648.791,3749.852000,1059.528000,1.513997,0.911573,79.841,2.943594,1.528185
54,Ecuador,57.0,21.0,76.327,91.90774,92.609932,86.138216,69.96509,72.87913,16385.068,5606.362000,1611.171000,1.816195,1.263237,63.976,2.446258,1.691522
55,Egypt,86.0,23.0,71.484,98.02850,98.357499,93.169480,30.60326,30.02410,95688.681,36997.160000,12875.927000,1.964781,1.601929,43.222,1.604667,1.805116
56,El Salvador,60.0,15.0,73.512,91.24263,93.013071,91.125074,71.33213,73.04928,6344.722,2153.481000,576.517000,0.724794,0.479835,67.189,1.929229,1.003121
57,Equatorial Guinea,191.0,91.0,57.681,55.69242,49.590085,74.537949,57.55419,57.94983,1221.490,521.281000,181.647000,4.043859,3.046566,40.103,3.576911,3.000085
58,Eritrea,151.0,45.0,65.092,38.95043,19.290330,11.257527,13.35083,13.10148,4954.645,2396.826000,743.741000,1.787072,2.174417,23.094,4.349448,4.367976
59,Estonia,18.0,3.0,77.562,94.70196,99.614505,99.608832,89.53282,87.14683,1312.442,247.084000,67.682000,-0.677504,-0.327701,67.468,-0.993026,-0.302973
60,Ethiopia,203.0,58.0,65.475,85.58775,39.124262,7.078918,31.17106,29.53249,102403.196,49499.781000,15177.181000,2.907370,2.214341,19.922,4.628965,4.304088
61,Fiji,28.0,22.0,70.269,97.64403,93.712447,95.677047,NaN,NaN,898.760,303.061000,86.580000,0.807126,0.546845,54.099,1.815388,0.935147
62,Finland,7.0,2.0,81.323,99.55969,100.000000,99.447925,79.45702,79.12261,5503.132,1077.624000,296.735000,0.371674,0.299887,84.358,0.595703,0.387020
63,France,9.0,4.0,82.546,98.84784,100.000000,98.652004,108.91455,108.69408,64720.690,14080.118000,3841.887000,0.491219,0.341934,79.750,0.819100,0.684991
64,Gabon,92.0,47.0,66.105,NaN,87.540922,40.930386,36.42805,37.81396,1979.786,821.824000,273.616000,2.815217,1.928750,87.366,3.352609,2.173388
65,Gambia,168.0,65.0,61.193,74.78043,80.058598,41.693761,37.04877,38.87819,2038.501,1065.411000,360.481000,3.073354,2.761570,60.224,4.801826,3.565220
66,Georgia,47.0,11.0,73.261,99.00432,93.263527,84.876717,NaN,NaN,3925.405,875.151000,271.210000,-1.234032,-0.329670,53.826,-1.017157,-0.076726
67,Germany,9.0,4.0,81.011,98.67950,100.000000,99.219124,111.54161,110.74298,81914.672,13103.176000,3556.694000,0.133591,0.023684,75.510,0.216634,0.031726
68,Ghana,127.0,59.0,62.742,87.41091,77.799302,14.279506,116.98555,119.49567,28206.728,12689.064000,4085.261000,2.525405,1.994803,54.682,3.993096,2.730116
69,Greece,11.0,4.0,81.224,96.28168,100.000000,98.963964,49.29886,48.90393,11183.716,1936.966000,474.002000,0.335861,-0.260214,78.329,0.699693,0.245617
70,Grenada,22.0,16.0,73.659,95.73443,95.628650,78.302256,88.80671,82.80684,107.317,33.851000,9.867000,0.417290,0.306615,35.616,0.652009,0.395515
71,Guatemala,82.0,29.0,73.409,85.45007,93.597697,67.362920,44.49826,44.82627,16582.469,7047.108000,2022.669000,2.239347,1.755598,52.030,3.319462,3.014066
72,Guinea,235.0,89.0,60.015,75.65523,67.372547,21.952272,15.45367,14.86684,12395.924,6082.228000,1982.894000,2.764548,2.516518,37.651,3.993322,3.536776
73,Guinea–Bissau,219.0,88.0,57.403,68.23333,69.196609,21.466004,NaN,NaN,1815.698,871.508000,290.838000,2.247172,2.263203,50.094,4.477621,3.245297
74,Guyana,60.0,32.0,66.650,81.36664,95.071323,86.164053,95.35493,93.30561,773.303,277.091000,76.414000,0.152150,0.462076,28.661,0.310981,1.102765
75,Haiti,145.0,67.0,63.330,NaN,64.174319,30.543791,NaN,NaN,10847.334,4296.476000,1233.430000,1.630240,1.038002,59.794,4.436425,2.200733
76,Holy See,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.801,0.139221,0.035478,0.161812,-0.035759,100.000,0.151809,0.026702
77,Honduras,58.0,19.0,73.575,93.03652,92.178721,79.776447,45.08526,46.86396,9112.867,3541.333000,951.241000,2.343169,1.439389,55.315,3.357558,2.523822
78,Hungary,17.0,5.0,75.944,90.60597,99.971252,97.989531,80.43716,78.23023,9753.281,1693.760000,436.018000,-0.238657,-0.389667,71.672,0.138566,0.236093
79,Iceland,6.0,2.0,82.749,99.05151,100.000000,98.777442,97.29880,96.94149,332.474,79.772000,22.049000,1.019729,0.679314,94.230,1.257333,0.930110
80,India,126.0,43.0,68.560,92.25846,87.559140,44.151123,12.57879,11.79224,1324171.354,448314.190000,119997.734000,1.614983,0.952127,33.136,2.541315,2.178054
81,Indonesia,84.0,26.0,69.191,89.73730,89.524030,67.886608,57.23472,59.13248,261115.456,85964.511000,24821.988000,1.400212,0.885917,54.466,3.641760,1.945489
82,Iran (Islamic Republic of),57.0,15.0,75.953,99.16791,94.866200,88.289822,51.37231,50.17700,80277.428,22148.907000,6822.841000,1.369638,0.725792,73.879,2.412188,1.422600
83,Iraq,54.0,31.0,69.862,92.31170,86.098331,85.659299,NaN,NaN,37202.572,17460.394000,5737.581000,2.907499,2.567962,69.592,2.843628,2.614454
84,Ireland,9.0,4.0,81.476,95.03199,98.921639,92.177952,94.97501,98.74725,4726.078,1196.651000,344.365000,1.079762,0.709945,63.535,1.585236,1.295235
85,Israel,12.0,4.0,82.500,97.20388,100.000000,100.000000,111.15680,111.04745,8191.828,2672.128000,841.155000,2.303670,1.412937,92.205,2.304790,1.374515
86,Italy,10.0,3.0,82.990,97.19497,100.000000,99.281444,99.85801,97.39077,59429.938,9761.055000,2481.626000,0.151997,-0.160441,69.116,0.420844,0.300208
87,Jamaica,30.0,15.0,75.970,92.45078,92.918546,85.373714,96.35875,102.67660,2881.355,820.325000,205.040000,0.664391,0.125990,55.030,1.097821,0.861910
88,Japan,6.0,3.0,83.764,99.95001,98.945541,100.000000,NaN,NaN,127748.513,20050.859000,5343.416000,0.098588,-0.353478,93.928,0.881910,-0.120790
89,Jordan,37.0,18.0,74.329,89.19845,98.566680,96.708058,32.83105,31.53816,9455.802,3958.800000,1227.098000,3.756556,1.159302,83.905,3.771083,1.506949
90,Kazakhstan,52.0,11.0,69.877,87.38210,91.145590,97.805308,59.31306,59.85472,17987.736,5565.944000,1997.147000,0.322665,0.864256,53.229,-0.037045,0.993411
91,Kenya,98.0,49.0,67.032,84.87439,58.456777,29.844680,76.79998,75.63930,48461.567,23094.473000,7023.357000,2.799723,2.309459,26.055,4.452161,3.964325
92,Kiribati,96.0,54.0,66.317,95.21327,64.392329,39.772860,NaN,NaN,114.395,46.685000,14.486000,1.758790,1.520792,44.447,2.502603,1.929643
93,Kuwait,18.0,8.0,74.694,92.87294,100.000000,100.000000,81.54984,80.41410,4052.584,988.796000,316.110000,2.529233,1.317810,98.358,2.246815,1.962675
94,Kyrgyzstan,65.0,21.0,70.953,89.31618,87.268639,96.586078,27.54009,27.63770,5955.734,2166.838000,760.477000,1.188194,1.151197,35.850,0.862761,2.012444
95,Lao People's Democratic Republic,162.0,64.0,66.683,92.71189,80.447356,72.594287,34.62687,36.10337,6758.353,2674.184000,765.610000,1.776419,1.248079,39.654,5.632260,3.270534
96,Latvia,17.0,5.0,74.589,96.09931,98.595561,92.863982,88.68531,87.67637,1970.530,350.081000,96.834000,-1.160340,-0.859233,67.361,-1.169437,-0.454892
97,Lebanon,33.0,8.0,79.584,81.77372,92.258192,95.359365,79.90426,75.26342,6006.668,1742.567000,483.217000,3.071162,-0.802167,87.914,2.638346,0.271456
98,Lesotho,91.0,94.0,54.174,80.16474,71.592872,43.791106,33.32074,34.59259,2203.821,932.000000,285.920000,1.222042,1.202675,27.840,3.781182,2.625544
99,Liberia,258.0,67.0,62.505,37.61393,69.900477,16.889478,158.81755,153.19026,4613.823,2249.440000,715.488000,3.032455,2.443099,50.100,2.634503,3.153485
100,Libya,42.0,13.0,71.934,NaN,96.750000,99.700000,NaN,NaN,6293.253,2110.598000,626.541000,1.344523,1.101288,78.754,1.713545,1.372694
101,Liechtenstein,NaN,NaN,NaN,94.30104,100.000000,99.950000,101.86047,105.88235,37.666,7.041625,1.918382,1.039325,0.591516,14.283,0.392645,1.104295
102,Lithuania,15.0,5.0,74.637,97.81403,97.380870,93.621841,92.07628,90.51399,2908.249,518.674000,152.165000,-0.921958,-0.483956,66.512,-0.880524,-0.222803
103,Luxembourg,9.0,2.0,81.798,92.96639,99.950800,97.610983,94.42178,93.17269,575.747,114.829000,32.348000,1.579981,1.134592,90.432,1.829721,1.243462
104,Madagascar,160.0,46.0,65.932,77.07133,50.621390,9.693668,17.40346,18.73145,24894.551,11987.506000,3768.588000,2.937545,2.553360,35.741,4.560259,4.165457
105,Malawi,232.0,55.0,63.223,97.48386,67.195085,43.529605,81.26061,81.96760,18091.575,9264.784000,2908.272000,2.502883,2.747477,16.454,3.794455,4.242391
106,Malaysia,17.0,8.0,75.300,98.09168,96.433806,99.574007,92.38755,95.60298,31187.265,9349.979000,2612.247000,2.105813,1.184962,75.370,3.653392,1.804273
107,Maldives,94.0,9.0,77.339,94.79558,97.881980,95.868818,101.31165,101.69540,427.756,117.366000,39.064000,2.501606,1.280818,46.540,4.274920,2.630054
108,Mali,254.0,111.0,57.966,55.72070,74.268050,31.268334,3.94030,4.17634,17994.837,9805.533000,3332.121000,2.900472,2.913321,40.683,5.005058,4.652061
109,Malta,11.0,7.0,80.854,98.44650,100.000000,99.961357,109.10550,113.45714,429.362,75.245000,21.483000,0.630628,0.174216,95.529,0.756846,0.151542
110,Marshall Islands,51.0,35.0,NaN,77.33046,78.161344,86.893054,39.90885,40.85576,53.066,18.914171,5.173754,0.442571,0.337558,72.940,0.900263,0.921093
111,Mauritania,117.0,81.0,63.238,79.20634,69.607679,44.620624,9.39471,11.85294,4301.018,1995.866000,655.111000,2.887488,2.468606,60.446,4.249191,2.870508
112,Mauritius,23.0,14.0,74.720,96.14531,99.865224,93.149133,102.63194,105.13657,1262.132,295.100000,68.108000,0.686305,0.139002,39.548,0.271077,0.257259
113,Mexico,46.0,15.0,77.118,95.05830,98.310471,89.218393,68.17702,69.77640,127540.423,41599.686000,11581.280000,1.544541,1.040477,79.517,1.897991,1.193896
114,Micronesia (Federated States of),55.0,33.0,69.195,84.00333,88.352459,NaN,34.33888,31.65860,104.937,42.885000,11.647000,0.329115,0.803445,22.481,-0.192157,1.571505
115,Monaco,8.0,3.0,NaN,NaN,100.000000,100.000000,NaN,NaN,38.499,7.197353,1.960808,1.031969,0.512359,100.000,1.042376,0.911645
116,Mongolia,109.0,18.0,69.287,96.51207,83.219893,59.221530,85.41752,86.32656,3027.398,1017.097000,367.586000,1.255689,1.159474,72.823,2.113913,1.664091
117,Montenegro,17.0,4.0,77.116,92.89657,97.627567,95.908687,57.02013,53.56073,628.615,139.167000,36.312000,0.084206,-0.044602,64.223,1.159279,0.180280
118,Montserrat,NaN,NaN,NaN,92.31966,96.575000,88.754212,NaN,NaN,5.152,1.530512,0.425412,-2.821764,0.333168,9.028,-4.027147,1.029223
119,Morocco,80.0,27.0,75.821,98.42964,82.969995,83.466068,62.74095,50.69104,35276.786,11491.047000,3508.459000,1.343060,1.051850,60.685,2.147295,1.640964
120,Mozambique,248.0,71.0,58.311,89.13281,47.258745,23.560732,NaN,NaN,28829.476,14928.959000,4950.007000,2.990686,2.761874,32.508,3.766265,3.540313
121,Myanmar,116.0,51.0,66.612,94.52788,67.536641,64.696474,23.03195,23.89475,52885.223,17484.730000,4537.810000,1.014268,0.771332,34.650,2.319365,2.019011
122,Namibia,71.0,45.0,64.388,89.74370,78.787209,33.836767,21.06562,21.81654,2479.713,1075.703000,344.117000,2.158581,1.922683,47.625,4.178653,3.096505
123,Nauru,58.0,35.0,NaN,86.42715,100.000000,65.595526,85.25755,96.27193,11.347,4.044381,1.106294,0.825589,0.067040,100.000,0.405443,0.499495
124,Nepal,141.0,35.0,70.253,96.96362,87.746668,46.126591,85.33491,83.03861,28982.771,11189.644000,2756.281000,1.675152,0.963374,18.995,4.713996,2.931787
125,Netherlands,8.0,4.0,81.859,98.30618,100.000000,97.726966,94.66108,96.65378,16987.330,3424.654000,893.674000,0.487399,0.250679,91.032,1.566870,0.475810
126,New Zealand,11.0,5.0,81.885,99.08248,100.000000,100.000000,93.09815,93.27500,4660.833,1109.278000,304.008000,1.215217,0.799865,86.322,1.269960,0.909026
127,Nicaragua,68.0,20.0,75.404,96.95250,82.256170,76.349185,NaN,NaN,6149.928,2174.331000,597.263000,1.517856,0.971866,59.107,2.110096,1.696679

In [90]:
heal_3.iloc[:1]

  Countries and areas Use of basic drinking water services             (%)  \
   Unnamed: 1_level_1                                   Unnamed: 2_level_1
0         Afghanistan                                          62.980208

                                        Use of basic sanitation services (%)  \
  Unnamed: 3_level_1 Unnamed: 4_level_1                   Unnamed: 5_level_1
0          89.048629          53.483161                            39.220433

                                        Immunization coverage (%)              \
  Unnamed: 6_level_1 Unnamed: 7_level_1                       BCG DTP1β DTP3β
0          56.404706          32.959991                      74.0  73.0  65.0

   ...                                                                     \
   ... HepB3  Hib3 rota  PCV3 Protection at birth (PAB) against tetanusλ
0  ...  65.0  65.0  0.0  65.0                                        65.0

                                                                Pneumonia  \
  Care seeking for children with symptoms of pneumonia                (%)
0                                               61.5

                                        Diarrhoea  \
  Treatment with oral rehydration salts (ORS) (%)
0                                            46.2

                                             Malaria  \
  Care seeking for children with fever           (%)
0                                               63.2

                                                \
  Children sleeping under ITNs             (%)
0                                          4.6


  Households with at least one ITN        (%)
0                                        26.0

[1 rows x 23 columns]

### Add area to dataframe

In [91]:
# East Asia and Pacific
East_Asia_and_Pacific = ['Australia','Brunei Darussalam','Cambodia','China','Cook Islands',
"Democratic People’s Republic of Korea",'Fiji','Indonesia','Japan','Kiribati',
"Lao People’s Democratic Republic",'Malaysia','Marshall Islands','Micronesia (Federated States of)',
'Mongolia','Myanmar','Nauru','New Zealand','Niue','Palau','Papua New Guinea','Philippines',
'Republic of Korea','Samoa','Singapore','Solomon Islands','Thailand',"Timor-Leste","Tokelau",
'Tonga','Tuvalu','Vanuatu','Viet Nam']

# Eastern Europe and Central Asia
Eastern_Europe_and_Central_Asia = ['Albania','Armenia','Azerbaijan','Belarus','Bosnia and Herzegovina','Bulgaria','Croatia',
'Georgia','Kazakhstan','Kyrgyzstan','Montenegro','Republic of Moldova','Romania','Russian Federation',
'Serbia','Tajikistan',"The former Yugoslav Republic of Macedonia",'Turkey','Turkmenistan','Ukraine','Uzbekistan']

# Western Europe
Western_Europe = ['Andorra','Austria','Belgium','Cyprus','Czechia','Denmark','Estonia','Finland','France','Germany',
'Greece','Holy See','Hungary','Iceland','Ireland','Italy','Latvia','Liechtenstein','Lithuania','Luxembourg','Malta',
'Monaco','Netherlands','Norway','Poland','Portugal','San Marino','Slovakia','Slovenia','Spain','Sweden',
'Switzerland','United Kingdom']

# Latin America and Caribbean
Latin_America_and_Caribbean = ['Anguilla','Antigua and Barbuda','Argentina','Bahamas','Barbados','Belize',
'Bolivia (Plurinational State of)','Brazil','British Virgin Islands','Chile','Colombia','Costa Rica','Cuba',
'Dominica','Dominican Republic','Ecuador','El Salvador','Grenada','Guatemala','Guyana','Haiti','Honduras',
'Jamaica','Mexico','Montserrat','Nicaragua','Panama','Paraguay','Peru','Saint Kitts and Nevis','Saint Lucia',
'Saint Vincent and the Grenadines','Suriname','Trinidad and Tobago','Turks and Caicos Islands',
'Uruguay','Venezuela (Bolivarian Republic of)']

# Middle East and North Africa
Middle_East_and_North_Africa = ['Algeria','Bahrain','Egypt','Iran (Islamic Republic of)','Iraq',
'Israel','Jordan','Kuwait','Lebanon','Libya','Morocco','Oman','Qatar','Saudi Arabia','State of Palestine',
'Syrian Arab Republic','Tunisia','United Arab Emirates','Yemen']

# North America
North_America = ['Canada','United States']

# South Asia
South_Asia = ['Afghanistan','Bangladesh','Bhutan','India','Maldives','Nepal','Pakistan','Sri Lanka']

# Eastern and Southern Africa
Eastern_and_Southern_Africa = ['Angola','Botswana','Burundi','Comoros','Djibouti','Eritrea','Ethiopia','Kenya',
'Lesotho','Madagascar','Malawi','Mauritius','Mozambique','Namibia','Rwanda','Seychelles','Somalia','South Africa',
'South Sudan','Sudan','Swaziland','Uganda','United Republic of Tanzania','Zambia','Zimbabwe']

# West and Central Africa
West_and_Central_Africa = ['Benin','Burkina Faso','Cabo Verde','Cameroon','Central African Republic',
'Chad','Congo',"Côte d’Ivoire",'Democratic Republic of the Congo','Equatorial Guinea','Gabon','Gambia','Ghana',
'Guinea','Guinea-Bissau','Liberia','Mali','Mauritania','Niger','Nigeria','Sao Tome and Principe','Senegal',
'Sierra Leone','Togo']

# Least developed countries
Least_developed_countries = ['Afghanistan','Angola','Bangladesh','Benin','Bhutan','Burkina Faso','Burundi',
'Cambodia','Central African Republic','Chad','Comoros','Democratic Republic of the Congo','Djibouti',
'Eritrea','Ethiopia','Gambia','Guinea','Guinea-Bissau','Haiti','Kiribati',"Lao People’s Democratic Republic",
'Lesotho','Liberia','Madagascar','Malawi','Mali','Mauritania','Mozambique','Myanmar','Nepal','Niger','Rwanda',
'Sao Tome and Principe','Senegal','Sierra Leone','Solomon Islands','Somalia','South Sudan','Sudan',"Timor-Leste",
'Togo','Tuvalu','Uganda','United Republic of Tanzania','Vanuatu','Yemen','Zambia']

In [92]:
area_list = [
             East_Asia_and_Pacific, 
             Eastern_Europe_and_Central_Asia,
             Western_Europe,
             Latin_America_and_Caribbean,
             Middle_East_and_North_Africa,
             North_America,
             South_Asia,
             Eastern_and_Southern_Africa,
             West_and_Central_Africa
            ]


area_name = [
             'East Asia and Pacific', 
             'Eastern Europe and Central Asia',
             'Western Europe',
             'Latin America and Caribbean',
             'Middle East and North Africa',
             'North America',
             'South Asia',
             'Eastern and Southern Africa',
             'West and Central Africa'
            ]

In [93]:
for count, lis in enumerate(area_list,0):
    match_ix =df.index[df.Countries.isin(lis) == True].tolist()
    df.loc[match_ix,'Area']= area_name[count]

# Least Developed Countries
ldp_ix =df.index[df.Countries.isin(Least_developed_countries) == True].tolist()
df.loc[ldp_ix,'Least developed countries']= 'Yes'
df.loc[df.Countries=="Lao People's Democratic Republic", 'Least developed countries'] = 'Yes'
df.loc[df.Countries=="Guinea–Bissau", 'Least developed countries'] = 'Yes'
df['Least developed countries'] = df['Least developed countries'].replace(np.nan, 'No')

In [94]:
df.head()

,Countries,Under 5 mortality rate_1990,Under 5 mortality rate_2016,Life expectancy at birth (years),Primary school net enrolment ratio (%),Use of basic drinking water services (%),Use of basic sanitation services (%),Pre-primary school participation_Gross enrolment ratio (%) male,Pre-primary school participation_Gross enrolment ratio (%) female,Population_2016 Total,Population_2016 Under 18,Population_2016 Under 5,Population annual growth rate (%) 90_16,Population annual growth rate (%) 16_30,Urbanized population (%) 16,Average annual growth rate of urban population (%) 90_16,Average annual growth rate of urban population (%) 16_30,Area,Least developed countries
0,Afghanistan,177.0,70.0,63.673,NaN,62.980208,39.220433,NaN,NaN,34656.032,17743.518000,5232.848000,4.000070,2.130447,27.132,5.457640,3.642832,South Asia,Yes
1,Albania,40.0,14.0,78.345,95.51731,91.394333,97.690655,89.72232,87.39891,2926.348,659.259000,177.372000,-0.440505,0.017239,58.376,1.536729,1.396647,Eastern Europe and Central Asia,No
2,Algeria,49.0,25.0,76.078,97.06215,93.466427,87.487686,78.95678,79.47712,40606.052,13495.144000,4699.122000,1.727680,1.316165,71.304,2.954082,1.736718,Middle East and North Africa,No
3,Andorra,9.0,3.0,NaN,NaN,100.000000,100.000000,NaN,NaN,77.281,13.383259,3.410533,1.342624,0.080236,84.612,1.117164,0.228306,Western Europe,No
4,Angola,221.0,83.0,61.547,84.01231,41.005868,39.429423,64.20847,94.40013,28813.463,15415.799000,5277.122000,3.314425,3.138611,44.819,5.320008,4.173645,Eastern and Southern Africa,Yes

In [95]:
print("Côte d’Ivoire")

Côte d’Ivoire

In [96]:
df.loc[df.Countries=="Côte d'Ivoire",'Area'] = 'West and Central Africa'
df.loc[df.Countries=="Democratic People's Republic of Korea",'Area'] = 'East Asia and Pacific'
df.loc[df.Countries=="Guinea–Bissau",'Area'] = 'West and Central Africa'
df.loc[df.Countries=="Lao People's Democratic Republic", 'Area'] = 'East Asia and Pacific'
df.loc[df.Countries=="Timor–Leste",'Area'] = 'East Asia and Pacific'

In [97]:
df[df.Countries=="Côte d'Ivoire"]['Area']

43    West and Central Africa
Name: Area, dtype: object

In [98]:
df.Area.value_counts()

Latin America and Caribbean        37
East Asia and Pacific              33
Western Europe                     33
Eastern and Southern Africa        25
West and Central Africa            24
Eastern Europe and Central Asia    21
Middle East and North Africa       19
South Asia                          8
North America                       2
Name: Area, dtype: int64

In [99]:
df[df.Area.isnull()].Countries.tolist()

[]

In [100]:
df[df['Least developed countries'].isnull()].Countries.tolist()

[]

In [101]:
df.head()

,Countries,Under 5 mortality rate_1990,Under 5 mortality rate_2016,Life expectancy at birth (years),Primary school net enrolment ratio (%),Use of basic drinking water services (%),Use of basic sanitation services (%),Pre-primary school participation_Gross enrolment ratio (%) male,Pre-primary school participation_Gross enrolment ratio (%) female,Population_2016 Total,Population_2016 Under 18,Population_2016 Under 5,Population annual growth rate (%) 90_16,Population annual growth rate (%) 16_30,Urbanized population (%) 16,Average annual growth rate of urban population (%) 90_16,Average annual growth rate of urban population (%) 16_30,Area,Least developed countries
0,Afghanistan,177.0,70.0,63.673,NaN,62.980208,39.220433,NaN,NaN,34656.032,17743.518000,5232.848000,4.000070,2.130447,27.132,5.457640,3.642832,South Asia,Yes
1,Albania,40.0,14.0,78.345,95.51731,91.394333,97.690655,89.72232,87.39891,2926.348,659.259000,177.372000,-0.440505,0.017239,58.376,1.536729,1.396647,Eastern Europe and Central Asia,No
2,Algeria,49.0,25.0,76.078,97.06215,93.466427,87.487686,78.95678,79.47712,40606.052,13495.144000,4699.122000,1.727680,1.316165,71.304,2.954082,1.736718,Middle East and North Africa,No
3,Andorra,9.0,3.0,NaN,NaN,100.000000,100.000000,NaN,NaN,77.281,13.383259,3.410533,1.342624,0.080236,84.612,1.117164,0.228306,Western Europe,No
4,Angola,221.0,83.0,61.547,84.01231,41.005868,39.429423,64.20847,94.40013,28813.463,15415.799000,5277.122000,3.314425,3.138611,44.819,5.320008,4.173645,Eastern and Southern Africa,Yes

In [102]:
df.to_csv('The_dataset.csv', header=True, index=False)

In [103]:
df.tail()

,Countries,Under 5 mortality rate_1990,Under 5 mortality rate_2016,Life expectancy at birth (years),Primary school net enrolment ratio (%),Use of basic drinking water services (%),Use of basic sanitation services (%),Pre-primary school participation_Gross enrolment ratio (%) male,Pre-primary school participation_Gross enrolment ratio (%) female,Population_2016 Total,Population_2016 Under 18,Population_2016 Under 5,Population annual growth rate (%) 90_16,Population annual growth rate (%) 16_30,Urbanized population (%) 16,Average annual growth rate of urban population (%) 90_16,Average annual growth rate of urban population (%) 16_30,Area,Least developed countries
197,Venezuela (Bolivarian Republic of),30.0,16.0,74.545,89.85675,97.417224,94.934390,75.04266,75.60084,31568.179,10492.640,2974.249,1.782090,1.085614,89.043,2.036424,1.211546,Latin America and Caribbean,No
198,Viet Nam,51.0,22.0,76.253,97.96511,91.191766,78.237448,84.12345,82.03333,94569.072,25779.926,7760.728,1.256712,0.834149,34.236,3.220793,2.177756,East Asia and Pacific,No
199,Yemen,126.0,55.0,64.953,84.83733,70.358863,59.682680,1.42822,1.25763,27584.213,12957.222,4075.161,3.183058,2.061925,35.187,5.055253,3.350431,Middle East and North Africa,Yes
200,Zambia,182.0,63.0,61.874,87.40411,61.225308,31.111810,NaN,NaN,16591.390,8646.649,2820.123,2.792467,2.888222,41.379,2.937365,4.253987,Eastern and Southern Africa,Yes
201,Zimbabwe,75.0,56.0,61.163,85.86239,66.563101,38.588619,41.99956,42.90043,16150.362,7726.065,2539.448,1.773891,2.052565,32.277,1.921162,2.252688,Eastern and Southern Africa,No

In [104]:
# ! pip3 install xlsxwriter --user

In [105]:
bi_1_sum.reset_index(drop=True, inplace=True)
nut_2_sum.reset_index(drop=True, inplace=True)
heal_3_sum.reset_index(drop=True, inplace=True)
hiv_4_sum.reset_index(drop=True, inplace=True)
edu_5_sum.reset_index(drop=True, inplace=True)
demo_6_sum.reset_index(drop=True, inplace=True)
women_7_sum.reset_index(drop=True, inplace=True)
cp_8_sum.reset_index(drop=True, inplace=True)
adol_9_sum.reset_index(drop=True, inplace=True)
disR_10_sum.reset_index(drop=True, inplace=True)
disH_11_sum.reset_index(drop=True, inplace=True)
ecd_12_sum.reset_index(drop=True, inplace=True)
ei_13_sum.reset_index(drop=True, inplace=True)

In [106]:
ecd_12_sum

,1,2,4,6,8,10,12,14,16,18,...,26,28,30,32,34,36,38,40,42,44
,Countries and areas,Attendance in early childhood education\n2005-2016*,Unnamed: 4_level_1,Unnamed: 6_level_1,Unnamed: 8_level_1,Unnamed: 10_level_1,Adult support for learning++\n 2005–2016*,Unnamed: 14_level_1,Unnamed: 16_level_1,Unnamed: 18_level_1,...,Unnamed: 26_level_1,Unnamed: 28_level_1,Unnamed: 30_level_1,Unnamed: 32_level_1,Unnamed: 34_level_1,Children with inadequate supervision\n2005-2016*,Unnamed: 38_level_1,Unnamed: 40_level_1,Unnamed: 42_level_1,Unnamed: 44_level_1
0,East Asia and Pacific,37,37,36.503,−,−,−,−,−,−,...,−,−,−,−,−,−,−,−,−,−
1,Europe and Central Asia,−,−,−,−,−,−,−,−,−,...,−,−,−,−,−,−,−,−,−,−
2,Eastern Europe and Central Asia,−,−,−,−,−,−,−,−,−,...,−,−,−,−,−,−,−,−,−,−
3,Western Europe,−,−,−,−,−,−,−,−,−,...,−,−,−,−,−,−,−,−,−,−
4,Latin America and Caribbean,61.3396,−,−,−,−,−,−,−,−,...,−,−,−,−,−,−,−,−,−,−
5,Middle East and North Africa,25.7423,25.4569,26.0572,14.6831,37.2557,60.8758,60.6301,61.1377,NaN,...,NaN,NaN,45.4868,−,−,11.2934,11.5055,11.2326,13.7358,7.80428
6,North America,−,−,−,−,−,−,−,−,−,...,−,−,−,−,−,−,−,−,−,−
7,South Asia,−,−,−,−,−,−,−,−,−,...,−,−,−,−,−,−,−,−,−,−
8,Sub-Saharan Africa,26.7404,25,26,8,54,52.538,53.3469,51.6029,44,...,0.47502,12.0013,39.3102,NaN,NaN,39.3788,NaN,NaN,−,−
9,Eastern and Southern Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,West and Central Africa,27.3915,27,28,8.46321,58,53.898,55.0939,52.7303,44,...,0.445657,13.1101,37.9197,30,50,40.9179,41,41.1929,44,32.2858
11,Least developed countries,13.4752,13,14.1073,7,29,55.1864,56.0942,54.5403,46.982,...,1.14684,11.4979,46.7436,40,57,30.5584,−,−,−,−
12,World,−,−,−,−,−,−,−,−,−,...,−,−,−,−,−,−,−,−,−,−

In [107]:
#import xlsxwriter

writer = pd.ExcelWriter('multiple_summary.xlsx', engine='xlsxwriter')

# Position the dataframes in the worksheet.
bi_1_sum.to_excel(writer, sheet_name='1. BI')
nut_2_sum.to_excel(writer, sheet_name='2. Nut')
heal_3_sum.to_excel(writer, sheet_name='3. Heal')
hiv_4_sum.to_excel(writer, sheet_name='4. Hiv')
edu_5_sum.to_excel(writer, sheet_name='5. Educ')
demo_6_sum.to_excel(writer, sheet_name='6. Demo')
women_7_sum.to_excel(writer, sheet_name='7. Women')
cp_8_sum.to_excel(writer, sheet_name='8. Child Protect')
adol_9_sum.to_excel(writer, sheet_name='9. Adolescents')
disR_10_sum.to_excel(writer, sheet_name='10. Disparities by Residence')
disH_11_sum.to_excel(writer, sheet_name='11. Disparities by Wealth')
ecd_12_sum.to_excel(writer, sheet_name='12. Early Childhood')
ei_13_sum.to_excel(writer, sheet_name='13. Economic Indicators')

writer.save()

## Health Table - Immunization

In [108]:
heal_3

                           Countries and areas  \
                            Unnamed: 1_level_1
0                                  Afghanistan
1                                      Albania
2                                      Algeria
3                                      Andorra
4                                       Angola
5                                     Anguilla
6                          Antigua and Barbuda
7                                    Argentina
8                                      Armenia
9                                    Australia
10                                     Austria
11                                  Azerbaijan
12                                     Bahamas
13                                     Bahrain
14                                  Bangladesh
15                                    Barbados
16                                     Belarus
17                                     Belgium
18                                      Belize
19                                       Benin
20                                      Bhutan
21            Bolivia (Plurinational State of)
22                      Bosnia and Herzegovina
23                                    Botswana
24                                      Brazil
25                      British Virgin Islands
26                           Brunei Darussalam
27                                    Bulgaria
28                                Burkina Faso
29                                     Burundi
30                                  Cabo Verde
31                                    Cambodia
32                                    Cameroon
33                                      Canada
34                   Central African Republic
35                                        Chad
36                                       Chile
37                                       China
38                                    Colombia
39                                     Comoros
40                                       Congo
41                                Cook Islands
42                                  Costa Rica
43                               Côte d'Ivoire
44                                     Croatia
45                                        Cuba
46                                      Cyprus
47                                     Czechia
48       Democratic People's Republic of Korea
49            Democratic Republic of the Congo
50                                     Denmark
51                                    Djibouti
52                                    Dominica
53                          Dominican Republic
54                                     Ecuador
55                                       Egypt
56                                 El Salvador
57                           Equatorial Guinea
58                                     Eritrea
59                                     Estonia
60                                    Ethiopia
61                                        Fiji
62                                     Finland
63                                      France
64                                       Gabon
65                                      Gambia
66                                     Georgia
67                                     Germany
68                                       Ghana
69                                      Greece
70                                     Grenada
71                                   Guatemala
72                                      Guinea
73                               Guinea-Bissau
74                                      Guyana
75                                       Haiti
76                                    Holy See
77                                    Honduras
78                                     Hungary
79                                     Iceland
80                                       India
81                                   Indonesia
82                  Iran (Islamic Republic of)
83                                        Iraq
84                                     Ireland
85                                      Israel
86                                       Italy
87                                     Jamaica
88                                       Japan
89                                      Jordan
90                                  Kazakhstan
91                                       Kenya
92                                    Kiribati
93                                      Kuwait
94                                  Kyrgyzstan
95            Lao People's Democratic Republic
96                                      Latvia
97                                     Lebanon
98                                     Lesotho
99                                     Liberia
100                                      Libya
101                              Liechtenstein
102                                  Lithuania
103                                 Luxembourg
104                                 Madagascar
105                                     Malawi
106                                   Malaysia
107                                   Maldives
108                                       Mali
109                                      Malta
110                           Marshall Islands
111                                 Mauritania
112                                  Mauritius
113                                     Mexico
114           Micronesia (Federated States of)
115                                     Monaco
116                                   Mongolia
117                                 Montenegro
118                                 Montserrat
119                                    Morocco
120                                 Mozambique
121                                    Myanmar
122                                    Namibia
123                                      Nauru
124                                      Nepal
125                                Netherlands
126                                New Zealand
127                                  Nicaragua
128                                      Niger
129                                    Nigeria
130                                       Niue
131                                     Norway
132                                       Oman
133                                   Pakistan
134                                      Palau
135                                     Panama
136                           Papua New Guinea
137                                   Paraguay
138                                       Peru
139                                Philippines
140                                     Poland
141                                   Portugal
142                                      Qatar
143                          Republic of Korea
144                        Republic of Moldova
145                                    Romania
146                         Russian Federation
147                                     Rwanda
148                      Saint Kitts and Nevis
149                                Saint Lucia
150           Saint Vincent and the Grenadines
151                                      Samoa
152                                 San Marino
153                      Sao Tome and Principe
154                               Saudi Arabia
155                                    Senegal
156                                     Serbia
157                                 Seychelles
158                               Sierra Leone
159                                  Singapore
160                                   Slovakia
161                                   Slovenia
162                            Solomon Islands
163                                    Somalia
164                               South Africa
165                                South Sudan
166                                      Spain
167                                  Sri Lanka
168                         State of Palestine
169                                      Sudan
170                                   Suriname
171                                  Swaziland
172                                     Sweden
173                                Switzerland
174                       Syrian Arab Republic
175                                 Tajikistan
176                                   Thailand
177  The former Yugoslav Republic of Macedonia
178                                Timor-Leste
179                                       Togo
180                                    Tokelau
181                                      Tonga
182                        Trinidad and Tobago
183                                    Tunisia
184                                     Turkey
185                               Turkmenistan
186                   Turks and Caicos Islands
187                                     Tuvalu
188                                     Uganda
189                                    Ukraine
190                       United Arab Emirates
191                             United Kingdom
192                United Republic of Tanzania
193                              United States
194                                    Uruguay
195                                 Uzbekistan
196                                    Vanuatu
197         Venezuela (Bolivarian Republic of)
198                                   Viet Nam
199                                      Yemen
200                                     Zambia
201                                   Zimbabwe

    Use of basic drinking water services             (%)                     \
                                      Unnamed: 2_level_1 Unnamed: 3_level_1
0                                            62.980208            89.048629
1                                            91.394333            92.521470
2                                            93.466427            95.442932
3                                           100.000000           100.000000
4                                            41.005868            63.256062
5                                            98.216667            98.216667
6                                            96.739186                  NaN
7                                            99.627300            99.593792
8                                            98.923652            99.156348
9                                            99.968702            99.965000
10                                          100.000000           100.000000
11                                           84.377872            94.754322
12                                           97.791750                  NaN
13                                          100.000000                  NaN
14                                           97.327142            98.032897
15                                           98.131168                  NaN
16                                           98.005556            97.820447
17                                          100.000000           100.000000
18                                           97.128804            99.068455
19                                           67.017287            76.560931
20                                           97.558661            96.992571
21                                           92.881626            99.323652
22                                           97.660186            97.044511
23                                           79.173985            94.813819
24                                           97.497943            99.312240
25                                           99.864384                  NaN
26                                           99.513212            99.650000
27                                           99.255635            99.458257
28                                           53.857596            78.866246
29                                           55.934120            88.173515
30                                           86.459353            93.100000
31                                           74.970796            95.715455
32                                           65.279966            83.682640
33                                           98.900000                  NaN
34                                           54.143860            74.166523
35                                           42.537604            78.356066
36                                          100.000000           100.000000
37                                           95.818029            95.530482
38                                           96.522030            99.764207
39                                           83.701188            92.997142
40                                           68.340457            84.778987
41                                           99.879600                  NaN
42                                           99.697817            99.747130
43                                           73.057416            89.220849
44                                           99.585901            99.572222
45                                           95.175506            96.855363
46                                          100.000000           100.000000
47                                           99.879680            99.902651
48                                           99.624559            99.803901
49                                           41.837994            69.664736
50                                          100.000000           100.000000
51                                           76.922484            83.333579
52                                           96.500000                  NaN
53                                           94.477074            96.865058
54                                           92.609932            99.544336
55                                           98.357499            99.299916
56                                           93.013071            97.826436
57                                           49.590085            78.227698
58                                           19.290330            66.269737
59                                           99.614505            99.930608
60                                           39.124262            77.203578
61                                           93.712447            97.908364
62                                          100.000000           100.000000
63                                          100.000000           100.000000
64                                           87.540922            91.753398
65                                           80.058598            88.142840
66                                           93.263527            98.400807
67                                          100.000000           100.000000
68                                           77.799302            87.828573
69                                          100.000000           100.000000
70                                           95.628650                  NaN
71                                           93.597697            97.498331
72                                           67.372547            88.172242
73                                           69.196609            84.999187
74                                           95.071323           100.000000
75                                           64.174319            81.016807
76                                                 NaN                  NaN
77                                           92.178721            98.673397
78                                           99.971252           100.000000
79                                          100.000000           100.000000
80                                           87.559140            92.847673
81                                           89.524030            96.633426
82                                           94.866200            96.839982
83                                           86.098331            89.575631
84                                           98.921639            98.838337
85                                          100.000000           100.000000
86                                          100.000000           100.000000
87                                           92.918546            96.945039
88                                           98.945541                  NaN
89                                           98.566680            98.893953
90                                           91.145590            97.450000
91                                           58.456777            83.450795
92                                           64.392329            89.748137
93                                          100.000000                  NaN
94                                           87.268639            97.357714
95                                           80.447356            91.725623
96                                           98.595561            98.791910
97                                           92.258192                  NaN
98                                           71.592872            87.353266
99                                           69.900477            80.247733
100                                          96.750000                  NaN
101                                         100.000000                  NaN
102                                          97.380870            99.785932
103                                          99.950800           100.000000
104                                          50.621390            82.069212
105                                          67.195085            86.612430
106                                          96.433806            99.023216
107                                          97.881980            95.707510
108                                          74.268050            91.431440
109                                         100.000000           100.000000
110                                          78.161344            70.329000
111                                          69.607679            85.981593
112                                          99.865224            99.922315
113                                          98.310471            99.521248
114                                          88.352459            96.560000
115                                         100.000000           100.000000
116                                          83.219893            93.645674
117                                          97.627567            96.700000
118                                          96.575000                  NaN
119                                          82.969995            95.739927
120                                          47.258745            79.140675
121                                          67.536641            82.395314
122                                          78.787209            96.674070
123                                         100.000000           100.000000
124                                          87.746668            88.983581
125                                         100.000000           100.000000
126                                         100.000000           100.000000
127                                          82.256170            97.382044
128                                          45.835378            88.555989
129                                          67.344968            81.915823
130                                          98.198742                  NaN
131                                         100.000000           100.000000
132                                          90.943688            94.700000
133                                          88.545556            91.553449

In [158]:
from sklearn.preprocessing import Imputer

nut_impute = heal_3.iloc[:,7:18].apply(lambda x: x.fillna(x.mean()),axis=0)
heal_nut = pd.concat([bi_1.iloc[:,3], heal_3.iloc[:,0], nut_impute], axis = 1)

heal_nut.fillna(30.210256,inplace = True) # heal_nut.describe() # mortality rate mean = 30.210256
heal_nut.isnull().sum().sum()

0

In [159]:
heal_nut_dropna = pd.concat([bi_1.iloc[:,3], heal_3.iloc[:,0], heal_3.iloc[:,7:18]], axis = 1)
heal_nut_dropna.dropna(inplace=True)
# heal_nut_dropna.isnull().sum().sum()
heal_nut_dropna.columns

MultiIndex([(  'Under–5 mortality rate ', ...),
            (      'Countries and areas', ...),
            ('Immunization coverage (%)', ...),
            ('Immunization coverage (%)', ...),
            ('Immunization coverage (%)', ...),
            ('Immunization coverage (%)', ...),
            ('Immunization coverage (%)', ...),
            ('Immunization coverage (%)', ...),
            ('Immunization coverage (%)', ...),
            ('Immunization coverage (%)', ...),
            ('Immunization coverage (%)', ...),
            ('Immunization coverage (%)', ...),
            ('Immunization coverage (%)', ...)],
           )

In [160]:
#import xlsxwriter

writer = pd.ExcelWriter('Health_Immunization.xlsx', engine='xlsxwriter')

# Position the dataframes in the worksheet.
heal_nut.to_excel(writer, sheet_name='Immunization_Impute')
heal_nut_dropna.to_excel(writer, sheet_name='Immunization_Dropna')

writer.save()